<%# locals: (claim_activity:) -%>

<div class="govuk-button-group">
  <%= govuk_button_link_to t(".download_csv"), claim_activity.record.csv_file, secondary: true %>
  <% unless claim_activity.action == "clawback_response_uploaded" %>
    <%= govuk_button_link_to t(".resend_email_to_payer"), resend_payer_email_claims_support_claims_claim_activity_path(claim_activity), secondary: true %>
  <% end %>
</div>

<h2 class="govuk-heading-m"><%= t(".providers") %></h2>

<% claim_activity.record.claims.group_by(&:provider).each do |provider, provider_claims| %>
  <h3 class="govuk-heading-s"><%= provider.name %></h3>

  <table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header"><%= t(".claim_reference") %></th>
      <th scope="col" class="govuk-table__header"><%= t(".number_of_mentors") %></th>
      <th scope="col" class="govuk-table__header"><%= t(".claim_amount") %></th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <% provider_claims.each do |claim| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= govuk_link_to claim.reference, claims_support_claim_path(claim) %></td>
        <td class="govuk-table__cell"><%= claim.mentors.count %></td>
        <td class="govuk-table__cell"><%= humanized_money_with_symbol(claim.amount) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
