<%= content_for :page_title, @claim_activity.title %>
<%= render "claims/support/primary_navigation", current: :claims %>

<% content_for(:before_content) do %>
  <%= govuk_back_link href: claims_support_claims_claim_activities_path %>
<% end %>

<div class="govuk-width-container">
  <p class="govuk-caption-l"><%= t(".page_caption") %></p>
  <h1 class="govuk-heading-l"><%= @claim_activity.title %></h1>

  <p class="govuk-body"><%= t(".byline", user: @claim_activity.user_full_name, time: l(@claim_activity.created_at, format: :date_at_time)) %></p>

  <% case @claim_activity.action %>
  <% when *Claims::ClaimActivity::SAMPLING_ACTIONS %>
    <%= render "sampling_activities", claim_activity: @claim_activity %>
  <% when *Claims::ClaimActivity::PAYMENT_AND_CLAWBACK_ACTIONS %>
    <%= render "payment_and_clawback_activities", claim_activity: @claim_activity %>
  <% when *Claims::ClaimActivity::MANUAL_ACTIONS %>
    <%= render "manual_activities", claim_activity: @claim_activity %>
  <% else %>
    <%= render "base_response_activity", claim_activity: @claim_activity %>
  <% end %>

  <%= render PaginationComponent.new(pagy: @pagy) if @pagy %>
</div>
