<%# locals: (model:, url:, method:) -%>
<%= form_with(model:, url:, method:) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= t(".caption") %></span>
      <h2 class="govuk-heading-l"><%= t(".title") %></h2>

      <p class="govuk-body"><%= t(".description") %></p>

      <div class="govuk-form-group">
        <%= f.govuk_text_field :first_name, class: "govuk-input--width-20", label: { text: t(".attributes.school_contacts.first_name"), size: "s" } %>
      </div>

      <div class="govuk-form-group">
        <%= f.govuk_text_field :last_name, class: "govuk-input--width-20", label: { text: t(".attributes.school_contacts.last_name"), size: "s" } %>
      </div>

      <div class="govuk-form-group">
        <%= f.govuk_text_field :email_address, label: { text: t(".attributes.school_contacts.email"), size: "s" } %>
      </div>

      <%= f.govuk_submit t(".continue") %>
    </div>
  </div>
<% end %>
