<% content_for :page_title, t(".page_title") %>
<%= render "placements/schools/primary_navigation", current_navigation: :organisation_details, school: @school %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: @back_link) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with(
        model: @school_contact,
        url: placements_school_school_contacts_path,
        method: :post,
      ) do |f| %>
        <%= f.hidden_field :name, value: @school_contact.name %>
        <%= f.hidden_field :email_address, value: @school_contact.email_address %>

        <label class="govuk-label govuk-label--l">
          <span class="govuk-caption-l"><%= t(".add_the_itt_placement_contact") %></span>
          <%= t(".check_your_answers") %>
        </label>

        <%= govuk_summary_list do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".attributes.school_contacts.name")) %>
            <% row.with_value(text: @school_contact.name) %>
            <% row.with_action(text: t(".change"),
                               href: @change_link,
                               html_attributes: {
                                 class: "govuk-link--no-visited-state",
                               }) %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".attributes.school_contacts.email_address")) %>
            <% row.with_value(text: @school_contact.email_address) %>
            <% row.with_action(text: t(".change"),
                               href: @change_link,
                               html_attributes: {
                                 class: "govuk-link--no-visited-state",
                               }) %>
          <% end %>
        <% end %>
        <%= f.govuk_submit t(".add_the_itt_placement_contact") %>
        <p class="govuk-body">
          <%= govuk_link_to(t(".cancel"), placements_school_mentors_path(@school), no_visited_state: true) %>
        </p>
      <% end %>
    </div>
  </div>
</div>
