<% content_for :page_title, t(".page_title", school_contact_name: @school_contact.name) %>
<%= render "placements/schools/primary_navigation", current_navigation: :organisation_details, school: @school %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_school_path(@school)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <label class="govuk-label govuk-label--l">
        <span class="govuk-caption-l"><%= @school_contact.name %></span>
        <%= t(".are_you_sure") %>
      </label>

      <%= govuk_button_to t(".remove_school_contact"),
        placements_school_school_contact_path(@school, @school_contact),
        warning: true,
        method: :delete %>

      <p class="govuk-body">
        <%= govuk_link_to(t(".cancel"), placements_school_path(@school), no_visited_state: true) %>
      </p>
    </div>
  </div>
</div>
