<% content_for(:page_title) { t(".page_title", school_name: @school.name) } %>
<%= render "placements/providers/primary_navigation", provider: @provider, current_navigation: :find %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "placements/providers/find/details_navigation", school: @school, academic_year: @selected_academic_year, provider: @provider, unfilled_subjects: @unfilled_subjects, filled_subjects: @filled_subjects %>

      <h2 class="govuk-heading-m">
        <%= t(".school_details") %>
      </h2>

      <%= govuk_summary_list(actions: false) do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".phase")) %>
          <% row.with_value(text: @school.phase) %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".age_range")) %>
          <% row.with_value(text: @school.age_range) %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".ukprn")) %>
          <% row.with_value(text: @school.ukprn || t(".unknown")) %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".urn")) %>
          <% row.with_value(text: @school.urn) %>
        <% end %>
      <% end %>

      <h2 class="govuk-heading-m">
        <%= t(".general_contact_details") %>
      </h2>

      <%= govuk_summary_list(actions: false) do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".telephone")) %>
          <% row.with_value(text: @school.telephone) || t(".unknown") %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".website")) %>
          <% row.with_value do %>
            <% if @school.website.present? %>
              <%= govuk_link_to(@school.website,
                                external_link(@school.website),
                                new_tab: true) %>
            <% else %>
              <%= t(".unknown") %>
            <% end %>
          <% end %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".address")) %>
          <% row.with_value do %>
            <%= @school.formatted_address %>
          <% end %>
        <% end %>
      <% end %>

      <h2 class="govuk-heading-m">
        <%= t(".additional_details") %>
      </h2>

      <%= govuk_summary_list(actions: false) do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".school_type")) %>
          <% row.with_value(text: @school.type_of_establishment) %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".gender")) %>
          <% row.with_value(text: @school.gender) %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".religious_character")) %>
          <% row.with_value(text: @school.religious_character || t(".unknown")) %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".admissions_policy")) %>
          <% row.with_value(text: @school.admissions_policy || t(".unknown")) %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".urban_or_rural")) %>
          <% row.with_value(text: @school.urban_or_rural || t(".unknown")) %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".school_capacity")) %>
          <% row.with_value(text: @school.school_capacity || t(".unknown")) %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".total_boys")) %>
          <% row.with_value(text: @school.total_boys || t(".unknown")) %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".total_girls")) %>
          <% row.with_value(text: @school.total_girls || t(".unknown")) %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".percentage_fsm")) %>
          <% row.with_value(text: "#{@school.percentage_free_school_meals}%") %>
        <% end %>
      <% end %>

      <h2 class="govuk-heading-m">
        <%= t(".send_details") %>
      </h2>

      <%= govuk_summary_list(actions: false) do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".special_classes")) %>
          <% row.with_value(text: @school.special_classes || t(".unknown")) %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".sen_provision")) %>
          <% row.with_value(text: @school.send_provision || t(".unknown")) %>
        <% end %>
      <% end %>

      <h2 class="govuk-heading-m">
        <%= t(".ofsted") %>
      </h2>

      <%= govuk_summary_list(actions: false) do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".report")) %>
          <% row.with_value do %>
            <%= govuk_link_to t(".ofsted_report"), "#", no_visited_state: true, new_tab: true %>
            <%= govuk_details summary_text: t(".details_summary") do %>
              <p class="govuk-body"><%= t(".details_body") %></p>
            <% end %>
          <% end %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".last_inspection")) %>
          <% row.with_value(text: @school.last_inspection_date || t(".unknown")) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
