  <%= form_with model: claim_mentors_form, url: form_url, method: do |f| %>
    <%= f.govuk_error_summary %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"><%= t(".add_claim", school: @school.name) %></span>

        <%= f.govuk_collection_check_boxes(
          :mentor_ids,
          school.mentors.order_by_full_name,
          :id,
          :full_name,
          :trn,
          legend: { text: t(".heading"), size: "l" },
          hint: { text: t(".select_all_that_apply") },
        ) %>

        <%= f.govuk_submit t("continue") %>
        <p class="govuk-body">
          <%= govuk_link_to(t("cancel"), claims_support_school_claims_path(school), no_visited_state: true) %>
        </p>
    </div>
  <% end %>
