<%# partner_provider:, school:, caption:, delete_link: %>

<span class="govuk-caption-l"><%= caption %></span>
<h1 class="govuk-heading-l"><%= t(".are_you_sure", provider_name: partner_provider.name) %></h1>

<%= simple_format(t(".you_will_no_longer")) %>
<%= simple_format(t(".they_will_remain")) %>

<% if school.partner_provider_placements(partner_provider).any? %>
  <p class="govuk-body"><%= t(".placements_with_provider") %></p>
  <ul class="govuk-list govuk-list--bullet">
    <% school.partner_provider_placements(partner_provider).each do |placement| %>
      <li><%= govuk_link_to(placement.title, placements_school_placement_path(school, placement), target: "_blank",
                                                                                                  new_tab: true, no_visited_state: true) %></li>
    <% end %>
  </ul>
<% end %>

<%= render GovukComponent::WarningTextComponent.new(
  text: t(".provider_will_be_sent_an_email",
          school_name: school.name,
          provider_name: partner_provider.name),
) %>

<%= govuk_button_to t(".delete_provider"), delete_link, warning: true, method: :delete %>
