<%= content_for :page_title, t(".page_title") %>
<%= render "placements/schools/primary_navigation", school: @school, current_navigation: :partner_providers %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: new_placements_school_partner_provider_path(
    @partnership_form.as_form_params,
  )) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with(
        model: @provider_form,
        scope: :partnership,
        url: placements_school_partner_providers_path,
        method: "post",
        data: { turbo: false },
      ) do |f| %>
        <%= f.hidden_field :provider_id, value: @partnership_form.provider_id %>

        <label class="govuk-label govuk-label--l">
          <span class="govuk-caption-l"><%= t(".add_partner_provider") %></span>
          <%= t(".title") %>
        </label>

        <%= govuk_summary_list do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".name")) %>
            <% row.with_value(text: @partner_provider.name) %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".ukprn")) %>
            <% row.with_value(text: @partner_provider.ukprn) %>
          <% end %>
        <% end %>

        <h2 class="govuk-heading-m govuk-!-margin-top-7">
          <%= t(".contact_details") %>
        </h2>

        <%= govuk_summary_list do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".email")) %>
            <% row.with_value(text: @partner_provider.email_address) %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".telephone")) %>
            <% row.with_value(text: @partner_provider.telephone) %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".website")) %>
            <% row.with_value do %>
              <%= govuk_link_to(@partner_provider.website,
                external_link(@partner_provider.website),
                target: "_blank",
                rel: "noopener noreferrer") %>
            <% end %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".address")) %>
            <% row.with_value(text: @partner_provider.formatted_address) %>
          <% end %>
        <% end %>

        <%= render GovukComponent::WarningTextComponent.new(
          text: t(".provider_will_be_sent_an_email",
            school_name: @school.name,
            provider_name: @partner_provider.name),
        ) %>

        <%= f.govuk_submit t(".add_partner_provider") %>
        <p class="govuk-body">
          <%= govuk_link_to(t(".cancel"), placements_school_partner_providers_path, no_visited_state: true) %>
        </p>
      <% end %>
    </div>
  </div>
</div>
