<% if provider_form.errors.any? %>
  <% content_for :page_title, t(".page_title_with_error", provider_count: providers.count, search_param:) %>
<% else %>
  <% content_for :page_title, t(".page_title", provider_count: providers.count, search_param:) %>
<% end %>

<%= render "placements/schools/primary_navigation", school: @school, current_navigation: :partner_providers %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: new_placements_school_partner_provider_path) %>
<% end %>

<div class="govuk-width-container">
  <%= render OptionsFormComponent.new(
    model: provider_form,
    url: check_provider_option_placements_school_partner_providers_path,
    scope: :partnership,
    input_field_name: :provider_id,
    search_param:,
    records: providers,
    records_klass: "provider",
    back_link: new_placements_school_partner_provider_path,
    title: t(".title"),
  ) %>

  <p class="govuk-body">
    <%= govuk_link_to(t(".cancel"), placements_school_partner_providers_path, no_visited_state: true) %>
  </p>
</div>
