<% content_for :page_title, t(".page_title", provider_name: @partner_provider.name) %>
<%= render "placements/schools/primary_navigation", school: @school, current_navigation: :partner_providers %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_school_partner_provider_path(@school, @partner_provider)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <label class="govuk-label govuk-label--l">
        <span class="govuk-caption-l"><%= @partner_provider.name %></span>
        <%= t(".are_you_sure", provider_name: @partner_provider.name) %>
      </label>

      <%= simple_format(t(".you_will_no_longer")) %>

      <ul class="govuk-list govuk-list--bullet">
        <% @partner_provider.becomes(Placements::Provider).placements.where(school: @school).find_each do |placement| %>
          <li><%= govuk_link_to(placement.decorate.title, placements_school_placement_path(@school, placement), target: "_blank") %></li>
        <% end %>
      </ul>

      <%= render GovukComponent::WarningTextComponent.new(
        text: t(".provider_will_be_sent_an_email",
          school_name: @school.name,
          provider_name: @partner_provider.name),
      ) %>

      <%= govuk_button_to t(".delete_partner_provider"), placements_school_partner_provider_path(@school, @partner_provider), warning: true, method: :delete %>

      <p class="govuk-body">
        <%= govuk_link_to(t(".cancel"), placements_school_partner_provider_path(@school, @partner_provider), no_visited_state: true) %>
      </p>
    </div>
  </div>
</div>
