<% content_for :page_title, t(".page_title") %>
<%= render "placements/schools/primary_navigation", school: @school, current_navigation: :partner_providers %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_school_partner_providers_path) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l"><%= @partner_provider.name %></h1>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <%= render "shared/organisations/organisation_details", organisation: @partner_provider %>
    </div>
  </div>

  <% if policy(@partnership).remove? %>
    <%= link_to(t(".delete_provider"),
      remove_placements_school_partner_provider_path(@school, @partner_provider),
      class: "app-link app-link--destructive") %>
  <% end %>
</div>
