<%= content_for :page_title, sanitize(@school.name) %>
<%= render "placements/support/primary_navigation", current_navigation: :organisations %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l"><%= @school.name %></h1>
      <%= render "placements/support/schools/secondary_navigation", school: @school %>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <%= render "placements/organisations/organisation_details", organisation: @school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".additional_details") %></h2>
      <%= render "shared/schools/additional_details", school: @school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".send") %></h2>
      <%= render "shared/schools/send_details", school: @school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".ofsted") %></h2>
      <%= render "shared/schools/ofsted_details", school: @school %>
    </div>
  </div>
</div>
