<%= content_for :page_title, sanitize(t(".page_title")) %>

<%= form_for(check_your_answers_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t(".page_title") %></h1>

      <% if @wizard.organisation.organisation_type == "school" %>
        <p><%= t(".intro_text") %></p>
      <% end %>

      <p><%= t(".we_will_send_them_an_email") %></p>

      <h2 class="govuk-heading-m"><%= t(".user") %></h2>

      <%= govuk_summary_list do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: User.human_attribute_name(:first_name)) %>
          <% row.with_value(text: @wizard.steps[:user].first_name) %>
          <% row.with_action(text: t(".change"),
                             href: step_path(:user),
                             visually_hidden_text: User.human_attribute_name(:first_name), classes: ["govuk-link--no-visited-state"]) %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: User.human_attribute_name(:last_name)) %>
          <% row.with_value(text: @wizard.steps[:user].last_name) %>
          <% row.with_action(text: t(".change"),
                             href: step_path(:user), visually_hidden_text: User.human_attribute_name(:last_name),
                             classes: ["govuk-link--no-visited-state"]) %>

        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: User.human_attribute_name(:email)) %>
          <% row.with_value(text: @wizard.steps[:user].email) %>
          <% row.with_action(text: t(".change"),
                             href: step_path(:user),
                             visually_hidden_text: User.human_attribute_name(:email), classes: ["govuk-link--no-visited-state"]) %>
        <% end %>
      <% end %>

      <%= f.govuk_submit t(".add_user") %>
    </div>
  </div>
<% end %>
