<% content_for :page_title, t(".page_title") %>
<%= render "placements/support/primary_navigation", current_navigation: :organisations %>
<div class="govuk-width-container">
  <h1 class="govuk-heading-l"><%= @school.name %></h1>

  <%= render "placements/support/schools/secondary_navigation", school: @school %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t(".placements") %></h1>
      <%= govuk_button_link_to(t(".add_placement"), new_add_placement_placements_support_school_placements_path) %>

      <% if @placements.any? %>
        <%= render "placements/schools/placements/table", school: @school, placements: @placements, support: true %>
        <%= render PaginationComponent.new(pagy: @pagy) %>
      <% else %>
        <p>
          <%= t("no_records_for", records: "placements", for: @school.name) %>
        </p>
      <% end %>
    </div>
  </div>
</div>
