<%= content_for :page_title, sanitize(t(".page_title", placement_name: @placement.title, school_name: @school.name)) %>

<%= render "placements/support/primary_navigation", current_navigation: :organisations %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_school_placements_path) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= t(".caption", school_name: @school.name) %></span>
      <h2 class="govuk-heading-l">
        <%= @placement.title %>
      </h2>

      <%= govuk_summary_list(actions: false) do |summary_list| %>
        <% if !@school.primary_or_secondary_only? %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".attributes.placements.school_level")) %>
            <% row.with_value(text: @placement.school_level) %>
          <% end %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".attributes.placements.subject")) %>
          <% row.with_value do %>
            <% @placement.subject.name %>
          <% end %>
        <% end %>
        <% if @placement.subject_has_child_subjects? %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".attributes.placements.additional_subjects")) %>
            <% row.with_value do %>
              <% @placement.title %>
            <% end %>
          <% end %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".attributes.placements.mentor")) %>
          <% row.with_value do %>
            <% if @placement.mentors.any? %>
              <ul class="govuk-list">
                <% @placement.mentors.each do |mentor| %>
                  <li><%= mentor.full_name %></li>
                <% end %>
              </ul>
            <% else %>
              <%= t("placements.schools.placements.not_yet_known") %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%= govuk_link_to t(".remove_placement"),
            remove_placements_support_school_placement_path(@school, @placement),
            class: "app-link app-link--destructive" %>

    </div>
  </div>
</div>
