<% content_for :page_title, title_with_error_prefix(
  t(".title"),
  error: current_step.errors.any?,
) %>

<%= form_for(current_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= f.govuk_check_boxes_fieldset :reasons_not_hosting, legend: { size: "l", text: t(".title"), tag: "h1" } do %>
        <% current_step.reason_options.each_with_index do |reason_option, i| %>
          <%= f.govuk_check_box :reasons_not_hosting, reason_option.value, label: { text: reason_option.name }, link_errors: i.zero? do %>
            <% if reason_option.name == t(".options.other") %>
              <%= f.govuk_text_field :other_reason_not_hosting, label: { text: t(".tell_us") } %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <%= f.govuk_submit t(".continue") %>
    </div>
  </div>
<% end %>
