<%= content_for :page_title, sanitize(t(".page_title", provider_name: @provider.name, school_name: @partner_school.name)) %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_provider_partner_school_path(@provider, @partner_school)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "placements/providers/partner_schools/delete",
        caption: "#{@partner_school.name} - #{@provider.name}",
        provider: @provider,
        partner_school: @partner_school,
        delete_link: placements_support_provider_partner_school_path(@provider, @partner_school) %>

      <p class="govuk-body">
        <%= govuk_link_to(t(".cancel"), placements_support_provider_partner_school_path(@provider, @partner_school), no_visited_state: true) %>
      </p>
    </div>
  </div>
</div>
