<%= content_for :page_title, sanitize(t(".page_title", provider_name: @provider.name, school_name: @partner_school.name)) %>

<%= render "placements/support/primary_navigation", current_navigation: :organisations %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_provider_partner_school_path(@provider, @partner_school)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <label class="govuk-label govuk-label--l">
        <span class="govuk-caption-l"><%= @partner_school.name %></span>
        <%= t(".are_you_sure") %>
      </label>

      <%= govuk_button_to t(".remove_partner_school"), placements_support_provider_partner_school_path(@provider, @partner_school), warning: true, method: :delete %>

      <p class="govuk-body">
        <%= govuk_link_to(t(".cancel"), placements_support_provider_partner_school_path(@provider, @partner_school), no_visited_state: true) %>
      </p>
    </div>
  </div>
</div>
