<div class="app-filter-layout display-none-on-mobile " data-filter-target="filter">
  <div class="app-filter-layout__filter">
    <div class="app-filter__header">
      <div class="app-filter__header-title">
        <h2 class="govuk-heading-m"><%= t("filter") %></h2>
      </div>
      <div class="app-filter__header-action">
        <button class="app-filter__close" type="button" data-action="click->filter#close">
          <%= t("close") %>
        </button>
      </div>
    </div>
    <div class="app-filter-layout__content">
      <% if filter_form.filters_selected? %>
        <div class="app-filter-layout__selected">
          <div class="app-filter__selected-heading">
            <div class="app-filter__heading-title">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><%= t("selected_filters") %></h2>
              <p class="govuk-body">
                <%= govuk_link_to(
                  t("clear_filters"),
                  filter_form.clear_filters_path,
                  no_visited_state: true,
                ) %>
              </p>
            </div>
          </div>

          <% if filter_form.school_ids.present? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".school") %></h3>
            <ul class="app-filter-tags">
              <% filter_form.schools.each do |school| %>
                <li>
                  <%= govuk_link_to(
                        school.name,
                        filter_form.index_path_without_filter(
                          filter: "school_ids",
                          value: school.id,
                        ),
                        class: "app-filter__tag",
                        no_visited_state: true,
                      ) %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <% if filter_form.primary_selected? || filter_form.secondary_selected? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".phase") %></h3>
            <ul class="app-filter-tags">
              <% if filter_form.primary_selected? %>
                <li>
                  <%= govuk_link_to(
                    t(".primary"),
                    filter_form.index_path_without_filter(
                      filter: "phases",
                      value: "primary",
                    ),
                    class: "app-filter__tag",
                    no_visited_state: true,
                  ) %>
                </li>
              <% end %>

              <% if filter_form.secondary_selected? %>
                <li>
                  <%= govuk_link_to(
                    t(".secondary"),
                    filter_form.index_path_without_filter(
                      filter: "phases",
                      value: "secondary",
                    ),
                    class: "app-filter__tag",
                    no_visited_state: true,
                  ) %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <% if filter_form.subject_ids.present? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".subject") %></h3>
            <ul class="app-filter-tags">
              <% filter_form.subjects.each do |subject| %>
                <li>
                  <%= govuk_link_to(
                        subject.name,
                        filter_form.index_path_without_filter(
                          filter: "subject_ids",
                          value: subject.id,
                        ),
                        class: "app-filter__tag",
                        no_visited_state: true,
                      ) %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>

      <div class="app-filter__options">
        <%= form_with(
          model: filter_form,
          scope: :filters,
          url: placements_provider_placements_path(@provider),
          method: "get",
        ) do |form| %>
          <%= form.govuk_submit t("apply_filters") %>

          <div class="app-filter__option" data-controller="filter-search">
            <%= form.govuk_check_boxes_fieldset(
              :school_ids,
              legend: {
                text: t(".school"),
                size: "s",
              },
              small: true,
            ) do %>

              <% @schools.each do |school| %>
                <%= form.govuk_check_box :school_ids,
                                         school.id,
                                         label: { text: school.name } %>
              <% end %>
            <% end %>
          </div>

          <div class="app-filter__option">
            <%= form.govuk_check_boxes_fieldset(
                :phases,
                legend: { text: t(".phase"), size: "s" },
                small: true,
                multiple: true,
              ) do %>
              <%= form.govuk_check_box :phases,
                                      "primary",
                                      label: { text: t(".primary") } %>
              <%= form.govuk_check_box :phases,
                                      "secondary",
                                      label: { text: t(".secondary") } %>
            <% end %>
          </div>

          <div class="app-filter__option" data-controller="filter-search">
            <%= form.govuk_check_boxes_fieldset(
              :subject_ids,
              legend: {
                text: t(".subject"),
                size: "s",
              },
              small: true,
            ) do %>
              <% @subjects.each do |subject| %>
                <%= form.govuk_check_box :subject_ids,
                                         subject.id,
                                         label: { text: subject.name } %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
