<div class="claim-card">
  <div class="claim-card__header">
    <div class="claim-card__header__name govuk-heading-s">
      <%= govuk_link_to t(".claim_title", reference: claim.reference, school_name: claim.school.name), href, no_visited_state: true %>
    </div>
    <div><%= render Claim::StatusTagComponent.new(claim:, classes: %w[govuk-body-s]) %></div>
  </div>

  <div class="claim-card__body">
    <div class="claim-card__body__details">
      <div class="govuk-body-s"><%= claim.academic_year_name %></div>
      <div class="govuk-body-s"><%= claim.provider.name %></div>
    </div>

    <div class="claim-card__body__right">
      <div class="govuk-body-s"><%= l(claim.submitted_at.to_date, format: :long) %></div>
      <div class="govuk-body-s"><%= humanized_money_with_symbol(claim.amount) %></div>
    </div>
  </div>
</div>
