<div class="claim-card">
  <div class="claim-card__header">
    <div class="claim-card__header__name govuk-heading-s">
      <%= govuk_link_to t(".claim_title", reference: claim.reference, school_name: claim.school_name), href, no_visited_state: true %>
    </div>
    <%= render Claim::StatusTagComponent.new(claim:, classes: %w[govuk-body-s]) %>
  </div>

  <div class="claim-card__body">
    <div class="claim-card__body__details">
      <div class="govuk-body-s"><%= claim.academic_year_name %></div>
      <div class="govuk-body-s"><%= claim.provider_name %></div>
      <% if current_user.support_user? %>
        <div class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-2"></div>
        <div class="govuk-!-margin-top-2">
          <p class="govuk-body-s"><strong><%= t(".support_user") %>: </strong><%= claim.support_user_assigned %></p>
        </div>
      <% end %>
    </div>

    <div class="claim-card__body__right">
      <div class="govuk-body-s"><%= l(claim.submitted_at.to_date, format: :long) %></div>
      <div class="govuk-body-s"><%= humanized_money_with_symbol(claim.amount) %></div>
      <% if claim.status == "clawback_requested" %>
        <div class="govuk-body-s govuk-!-font-weight-bold"><%= t(".clawback_amount") %></div>
        <div class="govuk-body-s"><%= humanized_money_with_symbol(claim.total_clawback_amount) %></div>
      <% end %>
    </div>
  </div>
</div>
