<% if claim.payment_actionable? && claim.unpaid_reason.present? %>
  <%= govuk_inset_text(classes: "claim-responses") do %>
    <h3 class="govuk-heading-s"><%= t(".unpaid_reason_header") %></h2>
    <p class="govuk-body"><%= claim.unpaid_reason %></p>
  <% end %>
<% elsif claim.sampling_in_progress? && claim.sampling_reason.present? %>
  <%= govuk_inset_text(classes: "claim-responses") do %>
    <h3 class="govuk-heading-s"><%= t(".reason") %></h3>
    <p class="govuk-body"><%= claim.sampling_reason %></p>
  <% end %>
<% elsif claim.sampling_provider_not_approved? && provider_response_exists? %>
  <%= govuk_inset_text(classes: "claim-responses") do %>
    <h3 class="govuk-heading-s"><%= t(".provider_response") %></h3>
    <p class="govuk-body"><%= provider_response %></p>
  <% end %>
<% elsif (claim.sampling_not_approved? || claim.in_clawback?) &&
   (provider_response_exists? || school_response_exists?) %>
  <%= govuk_details(summary_text: t(".why_the_claim_was_rejected"), classes: "claim-responses") do %>
    <p class="govuk-heading-s"><%= t(".comments_from_provider", provider_name: claim.provider_name) %></p>
    <p class="govuk-body"><%= provider_response %></p>

    <p class="govuk-heading-s"><%= t(".comments_from_school", school_name: claim.school_name) %></p>
    <p class="govuk-body"><%= school_response %></p>

    <% if reasons_for_clawback_exist? %>
      <p class="govuk-heading-s"><%= t(".reasons_for_clawback") %></p>
      <p class="govuk-body"><%= reasons_clawed_back %></p>
    <% end %>

    <% if claim.clawback_rejected? %>
      <p class="govuk-heading-s"><%= t(".reasons_clawback_rejected") %></p>
      <p class="govuk-body"><%= reason_clawback_rejected %></p>
    <% end %>
  <% end %>
<% end %>
