<% content_for :page_title, title_with_error_prefix(
  t(".title", contextual_text:),
  error: current_step.errors.any?,
) %>

<%= form_for(current_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= contextual_text %></span>
     <%= f.govuk_radio_buttons_fieldset(
        :key_stage_id,
        legend: { size: "l", text: t(".select_a_key_stage"), tag: "h1" },
      ) do %>
        <% current_step.key_stages_for_selection.each_with_index do |key_stage, i| %>
          <%= f.govuk_radio_button :key_stage_id, key_stage.id,
            label: { text: key_stage.name },
            link_errors: i.zero? %>
        <% end %>
        <%= f.govuk_radio_divider %>
        <%= f.govuk_radio_button :key_stage_id, current_step.mixed_key_stage_option.id,
            label: { text: current_step.mixed_key_stage_option.name } %>
      <% end %>

      <%= f.govuk_submit t(".continue") %>
    </div>
  </div>
<% end %>
