<li class="app-search-results__item">
  <h2 class="govuk-heading-m">
    <%= govuk_link_to(placements_provider_placement_path(provider, placement), no_visited_state: true) do %>
      <%= placement.title %> – <%= school.name %>
    <% end %>
  </h2>
  <div class="app-result-detail">
    <%= render Placement::StatusTagComponent.new(placement:) %>
  </div>

  <dl class="app-result-detail">
    <% if location_coordinates.present? %>
      <div class="app-result-detail__row">
        <dt class="app-result-detail__key">
          <%= t(".distance") %>
        </dt>
        <dd class="app-result-detail__value">
          <%= distance_from_location %>
        </dd>
      </div>
    <% end %>

    <div class="app-result-detail__row">
      <dt class="app-result-detail__key">
        <%= t(".phase") %>
      </dt>
      <dd class="app-result-detail__value">
        <%= school.phase %>
      </dd>
    </div>
    <div class="app-result-detail__row">
      <dt class="app-result-detail__key">
        <%= t(".academic_year") %>
      </dt>
      <dd class="app-result-detail__value">
        <%= placement.academic_year.display_name %>
      </dd>
    </div>
    <div class="app-result-detail__row">
      <dt class="app-result-detail__key">
        <%= t(".terms") %>
      </dt>
      <dd class="app-result-detail__value">
        <%= placement.term_names %>
      </dd>
    </div>
    <div class="app-result-detail__row">
      <dt class="app-result-detail__key">
        <%= t(".age_range") %>
      </dt>
      <dd class="app-result-detail__value">
        <%= school.age_range %>
      </dd>
    </div>
    <div class="app-result-detail__row">
      <dt class="app-result-detail__key">
        <%= t(".establishment_group") %>
      </dt>
      <dd class="app-result-detail__value">
        <%= school.group %>
      </dd>
    </div>
    <div class="app-result-detail__row">
      <dt class="app-result-detail__key">
        <%= t(".ofsted_rating") %>
      </dt>
      <dd class="app-result-detail__value">
        <%= school.rating %>
      </dd>
    </div>
      <% if location_coordinates.present? %>
      <div class="app-result-detail">
        <h3 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-0"><%= t(".travel_time") %></h3>
      </div>
      <div class="app-result-detail__row">
      <dt class="app-result-detail__key">
        <%= t(".public_transport") %>
      </dt>
      <dd class="app-result-detail__value">
        <%= @school.transit_travel_duration %>
      </dd>
    </div>
          <div class="app-result-detail__row">
      <dt class="app-result-detail__key">
        <%= t(".driving") %>
      </dt>
      <dd class="app-result-detail__value">
        <%= @school.drive_travel_duration %>
      </dd>
    </div>
    <div class="app-result-detail__row">
      <dt class="app-result-detail__key">
        <%= t(".walking") %>
      </dt>
      <dd class="app-result-detail__value">
        <%= @school.walk_travel_duration %>
      </dd>
    </div>
  <% end %>
  </dl>
</li>
