<li class="app-search-results__item">
  <div class="govuk-grid-column-three-quarters govuk-!-padding-left-0">
    <h2 class="app-search-result__item-title">
      <%= govuk_link_to(placements_provider_placement_path(@provider, placement), no_visited_state: true) do %>
        <span><%= school.name %></span>
        <br>
        <span><%= placement.subject_names %></span>
      <% end %>
    </h2>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <%= render Placement::StatusTagComponent.new(placement:) %>
  </div>

  <dl class="app-result-detail">
    <% if location_coordinates.present? %>
      <div class="app-result-detail__row">
        <dt class="app-result-detail__key">
          <%= t(".distance") %>
        </dt>
        <dd class="app-result-detail__value">
          <%= distance_from_location %>
        </dd>
      </div>
    <% end %>

    <div class="app-result-detail__row">
      <dt class="app-result-detail__key">
        <%= t(".phase") %>
      </dt>
      <dd class="app-result-detail__value">
        <%= school.phase %>
      </dd>
    </div>
    <div class="app-result-detail__row">
      <dt class="app-result-detail__key">
        <%= t(".age_range") %>
      </dt>
      <dd class="app-result-detail__value">
        <%= school.age_range %>
      </dd>
    </div>
    <div class="app-result-detail__row">
      <dt class="app-result-detail__key">
        <%= t(".school_type") %>
      </dt>
      <dd class="app-result-detail__value">
        <%= school.type_of_establishment %>
      </dd>
    </div>
    <div class="app-result-detail__row">
      <dt class="app-result-detail__key">
        <%= t(".gender") %>
      </dt>
      <dd class="app-result-detail__value">
        <%= school.gender %>
      </dd>
    </div>
    <div class="app-result-detail__row">
      <dt class="app-result-detail__key">
        <%= t(".religious_character") %>
      </dt>
      <dd class="app-result-detail__value">
        <%= school.religious_character %>
      </dd>
    </div>
    <div class="app-result-detail__row">
      <dt class="app-result-detail__key">
        <%= t(".urban_or_rural") %>
      </dt>
      <dd class="app-result-detail__value">
        <%= school.urban_or_rural %>
      </dd>
    </div>
    <div class="app-result-detail__row">
      <dt class="app-result-detail__key">
        <%= t(".ofsted_rating") %>
      </dt>
      <dd class="app-result-detail__value">
        <%= school.rating %>
      </dd>
    </div>
  </dl>
</li>
