<% content_for(:page_title) { sanitize t(".page_title") } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l"><%= t(".caption") %></span>
      <h1 class="govuk-heading-l"><%= t(".title") %></h1>

      <%= form_for(current_step, url: current_step_path, method: :put) do |f| %>
        <%= f.govuk_error_summary %>

        <p class="govuk-body">
          <%= t(".claims_count", count: current_step.claims_count) %>
        </p>

        <%= f.govuk_submit(t(".upload_data")) %>
      <% end %>
  </div>
</div>
