<% content_for(:page_title) { sanitize t(".page_title") } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-l"><%= t(".caption") %></span>
      <h1 class="govuk-heading-l"><%= t(".title") %></h1>
      <p class="govuk-body">
        <%= t(".confirm_upload_details") %>
      </p>

      <%= form_for(current_step, url: current_step_path, method: :put) do |f| %>
        <%= f.govuk_error_summary %>

        <h2 class="govuk-heading-m"><%= current_step.file_name %></h2>

        <div class="horizontal-scrollable">
          <%= govuk_table do |table| %>
            <% table.with_head do |head| %>
              <% head.with_row do |row| %>
                <% row.with_cell text: 1 %>
                <% current_step.csv_headers.each do |header| %>
                  <% row.with_cell text: header %>
                <% end %>
              <% end %>
            <% end %>

            <% table.with_body do |body| %>
              <% current_step.csv.each_with_index do |csv_row, index| %>
                <% if csv_row["claim_reference"].present? %>
                  <% body.with_row do |row| %>
                    <% row.with_cell text: index + 2 %>
                    <% current_step.csv_headers.each do |header| %>
                      <%= row.with_cell text: csv_row[header] %>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>

        <p class="govuk_body govuk-!-text-align-centre">
          <% if current_step.csv.count > 5 %>
            <%= t(".only_showing_first_five_rows") %>
          <% else %>
            <%= t(".showing_all_rows") %>
          <% end %>
        </p>

        <%= f.govuk_submit(t(".confirm_upload")) %>
      <% end %>
  </div>
</div>
