<% content_for(
  :page_title,
  t(".page_title", mentor: mentor_training_form.mentor_training.mentor_full_name),
) %>

<% render "claims/support/primary_navigation", current: :organisations %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: edit_claims_support_school_claim_mentor_path(@school, mentor_training_form.claim)) %>
<% end %>

<div class="govuk-width-container">
  <%= form_with(
    model: mentor_training_form,
    url: claims_support_school_claim_mentor_training_path(
      @school,
      mentor_training_form.claim,
      mentor_training_form.mentor_training,
    ),
    method: :patch,
  ) do |f| %>
    <%= f.govuk_error_summary %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"><%= t(".add_claim", school: @school.name) %></span>
        <%= f.govuk_radio_buttons_fieldset(
          :hours_completed,
          legend: {
            size: "l",
            text: t(".hours_of_training", mentor: mentor_training_form.mentor_full_name),
          },
        ) do %>
          <%= f.govuk_radio_button :hours_completed, "20", label: { text: t(".20_hours") }, hint: { text: t(".20_hours_hint") } %>
          <%= f.govuk_radio_button :hours_completed, "6", label: { text: t(".6_hours") }, hint: { text: t(".6_hours_hint") } %>

          <%= f.govuk_radio_divider %>

          <%= f.govuk_radio_button(
            :hours_completed,
            "on",
            checked: mentor_training_form.custom_hours?,
            label: { text: t(".other_amount") },
          ) do %>
            <h5 class="govuk-heading-s govuk-!-margin-bottom-1"><%= t(".number_of_hours") %></h5>
            <%= f.govuk_number_field(
              :custom_hours_completed,
              value: mentor_training_form.custom_hours? ? mentor_training_form.mentor_training.hours_completed : nil,
              class: "govuk-input--width-2",
              label: { text: t(".enter_whole_numbers") },
            ) %>
          <% end %>
        <% end %>

        <%= f.govuk_submit t("continue") %>
        <p class="govuk-body">
          <%= govuk_link_to(t("cancel"), claims_support_school_claims_path(@school), no_visited_state: true) %>
        </p>
    </div>
  <% end %>
</div>
