<% if current_user.schools.many? %>
  <%= content_for(:header_content) do %>
    <%= render(ContentHeaderComponent.new(
      title: @school.name,
      actions: [
        govuk_link_to(t(".change_organisation"), claims_schools_path, no_visited_state: true),
      ],
    )) %>
  <% end %>
<% end %>

<% content_for :page_title, sanitize(@school.name) %>

<% content_for(:before_content) do %>
  <%= render "claims/schools/primary_navigation", school: @school %>
<% end %>

<div class="govuk-width-container">
  <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

  <div class="govuk-grid-row govuk-!-margin-top-7">
    <div class="govuk-grid-column-two-thirds">
      <%= render "school_details", school: @school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".additional_details") %></h2>
      <%= render "additional_details", school: @school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".send") %></h2>
      <%= render "send_details", school: @school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".ofsted") %></h2>
      <%= render "ofsted_details", school: @school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".contact_details") %></h2>
      <%= render "shared/organisations/contact_details", organisation: @school %>
    </div>
  </div>
</div>
