<%= render "claims/support/primary_navigation", current: :claims %>
<%= content_for :page_title, t(".heading", count: @pagy.count) %>

<div class="govuk-width-container">
  <h1 class="govuk-heading-l"><%= t(".heading", count: @pagy.count) %></h1>

  <%= govuk_link_to t(".download_csv"), download_csv_claims_support_claims_path(**request.query_parameters), class: "govuk-button", method: :get %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= render partial: "filter" %>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
        <%= form_with(
          url: claims_support_claims_path,
          scope: :claims_support_claims_filter_form,
          class: "search-form",
          method: :get,
          data: { turbo: false },
        ) do |f| %>
          <%= f.govuk_text_field :search, type: :search, value: filter_form.search, label: { text: t(".search_label"), size: "s" } %>
          <%= f.govuk_submit t(".submit") %>

          <% filter_form.attributes.except("search", "school_ids", "provider_ids").each do |key, value| %>
            <%= f.hidden_field key, value: %>
          <% end %>

          <% filter_form.school_ids.each do |school_id| %>
            <%= f.hidden_field :school_ids, value: school_id, multiple: true %>
          <% end %>

          <% filter_form.provider_ids.each do |provider_id| %>
            <%= f.hidden_field :provider_ids, value: provider_id, multiple: true %>
          <% end %>
        <% end %>
      </div>

      <% unless filter_form.search.blank? %>
        <p class="clear-search">
          <%= govuk_link_to t(".clear"), filter_form.clear_search_path, no_visited_state: true %>
        </p>
      <% end %>

      <div class="govuk-section-break govuk-section-break--m govuk-section-break--visible"></div>

      <% if @claims.any? %>
        <div class="govuk-!-margin-bottom-2">
          <% @claims.each do |claim| %>
            <%= render Claim::CardComponent.new(claim:) %>
          <% end %>
        </div>

        <%= govuk_pagination(pagy: @pagy) %>

        <p>
          <%= t("pagination_info", from: @pagy.from, to: @pagy.to, count: @pagy.count) %>
        </p>
      <% else %>
        <p>
          <%= t("no_records", records: "claims") %>
        </p>
      <% end %>
    </div>
  </div>
</div>
