<%= render "placements/schools/primary_navigation", current_navigation: :users, school: @school %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: back_link_path) %>
<% end %>

<div class="govuk-width-container">
  <%= render @wizard.step, object: @wizard.step %>

  <p class="govuk-body">
    <%= govuk_link_to(t(".cancel"), placements_school_users_path(@school), no_visited_state: true) %>
  </p>
</div>
