<%= content_for :page_title, sanitize(
    @partnership_form.errors.any? ? t(".page_title_with_error", school_name: @school.name) : t(".page_title", school_name: @school.name),
) %>

<%= render "placements/support/primary_navigation", current_navigation: :organisations %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_school_partner_providers_path) %>
<% end %>

<div class="govuk-width-container">
  <%= render AutocompleteSelectFormComponent.new(
    model: @partnership_form,
    scope: :partnership,
    url: check_placements_support_school_partner_providers_path,
    data: {
      autocomplete_path_value: "/api/provider_suggestions",
      autocomplete_return_attributes_value: %w[code],
      input_name: "partnership[provider_name]",
    },
    input: {
      field_name: :provider_id,
      value: @partnership_form&.provider&.name,
      label: t(".title"),
      caption: t(".caption", school_name: @school.name),
      previous_search: @partnership_form.provider&.id,
    },
  ) %>

  <p class="govuk-body">
    <%= govuk_link_to(t(".cancel"), placements_support_school_partner_providers_path, no_visited_state: true) %>
  </p>
</div>
