<%= content_for :page_title, sanitize(
    provider_form.errors.any? ? t(".page_title_with_error", school_name: @school.name, provider_count: providers.count, search_param:) : t(".page_title", school_name: @school.name, provider_count: providers.count, search_param:),
) %>

<%= render "placements/support/primary_navigation", current_navigation: :organisations %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: new_placements_support_school_partner_provider_path) %>
<% end %>

<div class="govuk-width-container">
  <%= render OptionsFormComponent.new(
    model: provider_form,
    url: check_provider_option_placements_support_school_partner_providers_path,
    scope: :partnership,
    input_field_name: :provider_id,
    search_param:,
    records: providers,
    records_klass: "provider",
    back_link: new_placements_support_school_partner_provider_path,
    title: t(".title"),
  ) %>

  <p class="govuk-body">
    <%= govuk_link_to(t(".cancel"), placements_support_school_partner_providers_path, no_visited_state: true) %>
  </p>
</div>
