<%= content_for :page_title, sanitize(t(".page_title", provider_name: @partner_provider.name, school_name: @school.name)) %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_school_partner_provider_path(@school, @partner_provider)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "delete", partner_provider: @partner_provider, school: @school.decorate,
                           caption: t(".caption", provider_name: @partner_provider.name, school_name: @school.name),
                           delete_link: placements_support_school_partner_provider_path(@school, @partner_provider) %>

      <p class="govuk-body">
        <%= govuk_link_to(t(".cancel"), placements_support_school_partner_provider_path(@school, @partner_provider), no_visited_state: true) %>
      </p>
    </div>
  </div>
</div>
