<%= content_for :page_title, sanitize(t(".page_title", partner_provider_name: @partner_provider.name, school_name: @school.name)) %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_school_partner_providers_path) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= t(".caption", school_name: @school.name) %></span>
      <h1 class="govuk-heading-l"><%= @partner_provider.name %></h1>

      <%= render "placements/organisations/organisation_details", organisation: @partner_provider %>
    </div>
  </div>

  <% if policy(@partnership).remove? %>
    <%= link_to(t(".delete_partner_provider"),
      remove_placements_support_school_partner_provider_path(@school, @partner_provider),
      class: "app-link app-link--destructive") %>
  <% end %>
</div>
