<% content_for :page_title, title_with_error_prefix(
  t(".title"),
  error: current_step.errors.any?,
) %>

<%= form_for(current_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= t(".caption") %></span>
      <h1 class="govuk-heading-l"><%= t(".title") %></h1>

      <p class="govuk-body"><%= t(".this_means_providers_can_see_your_school") %></p>

      <p class="govuk-body"><%= t(".you_have_not_added_any_placements") %></p>

      <%= f.govuk_submit t(".continue") %>
    </div>
  </div>
<% end %>
