<% content_for :page_title, title_with_error_prefix(
  t(".title"),
  error: current_step.errors.any?,
) %>

<%= form_for(current_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= t(".caption") %></span>

      <%= f.govuk_check_boxes_fieldset(
        :subject_ids,
        legend: { size: "l", text: t(".title"), tag: "h1" },
        hint: { text: t(".hint") },
      ) do %>
        <p class="govuk-body secondary-text"><%= t(".sharing_info") %></p>
        <h2 class="govuk-heading-m"><%= t(".stem_subjects") %></h2>
        <% current_step.stem_subjects.each_with_index do |subject, i| %>
          <%= f.govuk_check_box :subject_ids, subject.id,
            label: { text: subject.name },
            link_errors: i.zero? %>
        <% end %>
        <h2 class="govuk-heading-m"><%= t(".lit_lang_subjects") %></h2>
        <% current_step.lit_lang_subjects.each do |subject| %>
          <%= f.govuk_check_box :subject_ids, subject.id,
            label: { text: subject.name } %>
        <% end %>
        <h2 class="govuk-heading-m"><%= t(".art_humanities_social_subjects") %></h2>
        <% current_step.art_humanities_social_subjects.each do |subject| %>
          <%= f.govuk_check_box :subject_ids, subject.id,
            label: { text: subject.name } %>
        <% end %>
        <h2 class="govuk-heading-m"><%= t(".health_physical_education_subjects") %></h2>
        <% current_step.health_physical_education_subjects.each do |subject| %>
          <%= f.govuk_check_box :subject_ids, subject.id,
            label: { text: subject.name } %>
        <% end %>
        <%= f.govuk_check_box_divider %>
        <%= f.govuk_check_box :subject_ids, current_step.unknown_option.value,
            label: { text: current_step.unknown_option.name },
            exclusive: true %>
      <% end %>

      <%= f.govuk_submit t(".continue") %>
    </div>
  </div>
<% end %>
