<% content_for :page_title, t(".title") %>

<% content_for(:before_content) do %>
  <%= govuk_back_link href: claims_user_research_provider_claim_path(@claim) %>
<% end %>

<div class="govuk-width-container">
  <p class="govuk-caption-l"><%= @claim.school_name %></p>
  <h1 class="govuk-heading-l"><%= t(".title") %></h1>

  <p class="govuk-body"><%= t(".body") %></p>

  <%= form_with url: approve_claim_claims_user_research_provider_claim_path(@claim),
               builder: GOVUKDesignSystemFormBuilder::FormBuilder do |f| %>
    <div class="govuk-button-group">
      <%= f.govuk_submit t(".approve") %>
      <%= govuk_link_to t(".cancel"), claims_user_research_provider_claim_path(@claim), no_visited_state: true %>
    </div>
  <% end %>
</div>
