<% contextual_text = t(".caption", school_name: @wizard.school_name) %>
<% content_for :page_title, title_with_error_prefix(t(".page_title", contextual_text:), error: current_step.errors.any?) %>

<%= form_for(current_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= contextual_text %></span>

      <% mentor_trainings = @wizard.mentor_trainings %>
      <%= f.govuk_collection_check_boxes(
        :mentor_ids,
        current_step.mentors,
        :id,
        :full_name,
        ->(mentor) {
          training = mentor_trainings.find { |mt| mt.mentor_id == mentor.id }
          pluralize(training&.hours_completed.to_i, "hour") + " claimed"
        },
        legend: {
          size: "l",
          text: t(".heading"),
          tag: "h1",
        },
        hint: { text: t(".hint") }
      ) %>

      <%= f.govuk_submit t(".continue") %>
    </div>
  </div>
<% end %>
