<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: claims_root_path) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">News and updates</h1>

      <h2 class="govuk-heading-m">Contents</h2>

      <%= govuk_list classes: ["list--dash"] do |list| %>
        <% @service_updates.each do |service_update| %>
          <%= tag.li govuk_link_to(service_update["title"], "##{service_update["title"].parameterize}") %>
        <% end %>
      <% end %>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <% @service_updates.each do |service_update| %>
        <%= render_markdown(service_update.to_s, headings_start_with: "m") %>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <% end %>
    </div>
  </div>
</div>
