<%= content_for :page_title, t(".page_title") %>
<%= render "placements/providers/primary_navigation", provider: @provider, current_navigation: :partner_schools %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: new_placements_provider_partner_school_path(
    @partnership_form.as_form_params,
  )) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with(
        model: @provider_form,
        scope: :partnership,
        url: placements_provider_partner_schools_path,
        method: "post",
        data: { turbo: false },
      ) do |f| %>
        <%= f.hidden_field :school_id, value: @partnership_form.school_id %>

        <label class="govuk-label govuk-label--l">
          <span class="govuk-caption-l"><%= t(".add_partner_school") %></span>
          <%= t(".title") %>
        </label>

        <%= render "shared/organisations/organisation_details", organisation: @partner_school %>
        <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".additional_details") %></h2>
        <%= render "shared/schools/additional_details", school: @partner_school %>
        <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".send") %></h2>
        <%= render "shared/schools/send_details", school: @partner_school %>
        <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".ofsted") %></h2>
        <%= render "shared/schools/ofsted_details", school: @partner_school %>
        <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".contact_details") %></h2>
        <%= render "shared/organisations/contact_details", organisation: @partner_school %>

        <%= render GovukComponent::WarningTextComponent.new(
          text: t(".school_will_be_sent_an_email",
            provider_name: @provider.name,
            school_name: @partner_school.name),
        ) %>

        <%= f.govuk_submit t(".add_partner_school") %>
        <p class="govuk-body">
          <%= govuk_link_to(t(".cancel"), placements_provider_partner_schools_path, no_visited_state: true) %>
        </p>
      <% end %>
    </div>
  </div>
</div>
