<% content_for :page_title, @partnership_form.errors.any? ? t(".page_title_with_error") : t(".page_title") %>
<%= render "placements/providers/primary_navigation", provider: @provider, current_navigation: :partner_schools %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_provider_partner_schools_path) %>
<% end %>

<div class="govuk-width-container">
  <%= render AutocompleteSelectFormComponent.new(
    model: @partnership_form,
    scope: :partnership,
    url: check_placements_provider_partner_schools_path,
    data: {
      autocomplete_path_value: "/api/placements/school_suggestions",
      autocomplete_return_attributes_value: %w[town postcode],
      input_name: "partnership[school_name]",
    },
    input: {
      field_name: :school_id,
      value: @partnership_form&.school&.name,
      label: t(".title"),
      caption: t(".caption"),
      previous_search: @partnership_form.school&.id,
    },
  ) %>

  <p class="govuk-body">
    <%= govuk_link_to(t(".cancel"), placements_provider_partner_schools_path, no_visited_state: true) %>
  </p>
</div>
