<% content_for :page_title, t(".page_title", school_name: @partner_school.name) %>
<%= render "placements/providers/primary_navigation", provider: @provider, current_navigation: :partner_schools %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_provider_partner_school_path(@provider, @partner_school)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "delete",
        caption: @partner_school.name,
        provider: @provider,
        partner_school: @partner_school,
        delete_link: placements_provider_partner_school_path(@provider, @partner_school) %>

      <p class="govuk-body">
        <%= govuk_link_to(t(".cancel"), placements_provider_partner_school_path(@provider, @partner_school), no_visited_state: true) %>
      </p>
    </div>
  </div>
</div>
