<% content_for :page_title, t(".page_title", school_name: @partner_school.name) %>
<%= render "placements/providers/primary_navigation", provider: @provider, current_navigation: :partner_schools %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_provider_partner_school_path(@provider, @partner_school)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <label class="govuk-label govuk-label--l">
        <span class="govuk-caption-l"><%= @partner_school.name %></span>
        <%= t(".are_you_sure") %>
      </label>

     <%= simple_format(t(".school_will_no_longer")) %>

      <%= render GovukComponent::WarningTextComponent.new(
        text: t(".school_will_be_sent_an_email",
          provider_name: @provider.name,
          school_name: @partner_school.name),
      ) %>

      <%= govuk_button_to t(".delete_partner_school"), placements_provider_partner_school_path(@provider, @partner_school), warning: true, method: :delete %>

      <p class="govuk-body">
        <%= govuk_link_to(t(".cancel"), placements_provider_partner_school_path(@provider, @partner_school), no_visited_state: true) %>
      </p>
    </div>
  </div>
</div>
