<% if school_form.errors.any? %>
  <% content_for :page_title, t(".page_title_with_error", school_count: schools.count, search_param:) %>
<% else %>
  <% content_for :page_title, t(".page_title", school_count: schools.count, search_param:) %>
<% end %>

<%= render "placements/providers/primary_navigation", provider: @provider, current_navigation: :partner_schools %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: new_placements_provider_partner_school_path) %>
<% end %>

<div class="govuk-width-container">
  <%= render OptionsFormComponent.new(
    model: school_form,
    url: check_school_option_placements_provider_partner_schools_path,
    search_param:,
    records: schools,
    records_klass: "school",
    back_link: new_placements_provider_partner_school_path,
    scope: :partnership,
    input_field_name: :school_id,
    title: t(".title"),
  ) %>

  <p class="govuk-body">
    <%= govuk_link_to(t(".cancel"), placements_provider_partner_schools_path, no_visited_state: true) %>
  </p>
</div>
