<% content_for :page_title, t(".page_title") %>
<%= render "placements/providers/primary_navigation", provider: @provider, current_navigation: :partner_schools %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_provider_partner_schools_path) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l"><%= @partner_school.name %></h1>
      <%= render "placements/providers/partner_schools/sub_navigation", school: @partner_school, provider: @provider, current_navigation: :school_details %>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <%= render "shared/organisations/organisation_details", organisation: @partner_school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".additional_details") %></h2>
      <%= render "shared/schools/additional_details", school: @partner_school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".send") %></h2>
      <%= render "shared/schools/send_details", school: @partner_school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".ofsted") %></h2>
      <%= render "shared/schools/ofsted_details", school: @partner_school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".contact_details") %></h2>
      <%= render "shared/organisations/contact_details", organisation: @partner_school %>
    </div>
  </div>

  <% if policy(@partnership).remove? %>
    <%= link_to(t(".delete_partner_school"),
      remove_placements_provider_partner_school_path(@provider, @partner_school),
      class: "app-link app-link--destructive") %>
  <% end %>
</div>
