<% content_for :page_title, provider_step.errors.any? ? t(".title_with_error", contextual_text:) : t(".title", contextual_text:) %>

<%= form_for(provider_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= contextual_text %></span>

      <%= f.govuk_radio_buttons_fieldset :provider_id, legend: { size: "l", text: t(".select_a_provider") } do %>
        <% provider_step.providers_for_selection.each do |provider| %>
          <%= f.govuk_radio_button :provider_id, provider.id, label: { text: provider.name },
                                                              checked: provider_step.provider_id == provider.id %>
        <% end %>
        <%= f.govuk_radio_divider %>
        <%= f.govuk_radio_button :provider_id, Placements::EditPlacementWizard::ProviderStep::NOT_KNOWN,
                                 label: { text: t(".not_known") }, checked: provider_step.provider_id.nil? %>
      <% end %>

      <%= f.govuk_submit t(".continue") %>
    </div>
  </div>

  <%= govuk_details(
        summary_text: t(".help_with_providers"),
        text: embedded_link_text(
          t(".you_need_to_add_a_provider",
            link: govuk_link_to(
              t(".add_a_provider"), unlisted_provider_path, no_visited_state: true
            )),
        ),
      ) %>
<% end %>
