<% content_for :page_title, current_step.errors.any? ? t(".title_with_error", contextual_text:) : t(".title", contextual_text:) %>

<%= form_for(current_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= contextual_text %></span>

      <%= f.govuk_collection_radio_buttons(
        :subject_id,
        current_step.subjects_for_selection,
        :id, :name,
        legend: { size: "l", text: t(".select_a_subject"), tag: "h1" }
      ) %>

      <%= f.govuk_submit t(".continue") %>
    </div>
  </div>
<% end %>
