<% content_for :page_title, title_with_error_prefix(
  t(".title", contextual_text:),
  error: current_step.errors.any?,
) %>

<%= form_for(current_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= contextual_text %></span>

      <%= f.govuk_radio_buttons_fieldset(
        :year_group,
        legend: { size: "l", text: t(".select_a_year_group"), tag: "h1" },
      ) do %>
        <% current_step.year_groups_for_selection.each_with_index do |year_group, i| %>
          <%= f.govuk_radio_button :year_group,
            year_group.value,
            label: { text: year_group.name, size: "s" },
            hint: { text: year_group.description },
            link_errors: i.zero? %>
        <% end %>
        <%= f.govuk_radio_divider %>
        <%= f.govuk_radio_button :year_group,
            current_step.mixed_year_group_option.value,
            label: { text: current_step.mixed_year_group_option.name, size: "s" },
            hint: { text: current_step.mixed_year_group_option.description } %>
      <% end %>

      <%= f.govuk_submit t(".continue") %>
    </div>
  </div>
<% end %>
