<% content_for(
  :page_title,
  t(".page_title", mentor: mentor_training_form.mentor_training.mentor_full_name),
) %>

<% render "claims/schools/primary_navigation", school: @school, current: :claims %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: mentor_training_form.back_path) %>
<% end %>

<div class="govuk-width-container">
  <%= form_with(
    model: mentor_training_form,
    url: claims_school_claim_mentor_training_path(
      @school,
      mentor_training_form.claim,
      mentor_training_form.mentor_training,
    ),
    method: :patch,
  ) do |f| %>
    <%= f.govuk_error_summary %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"><%= t(".add_claim", school: @claim.provider.name) %></span>
        <h2 class="govuk-heading-l"><%= t(".hours_of_training_for_mentor", mentor: mentor_training_form.mentor_full_name) %> </h2>

        <%= render Claims::Claim::MentorTrainingForm::DisclaimerComponent.new(mentor_training_form:) %>

        <%= f.govuk_radio_buttons_fieldset(
          :hours_completed,
          legend: {
            size: "m",
            text: t(".hours_of_training"),
          },
        ) do %>
          <%= f.govuk_radio_button :hours_completed, mentor_training_form.max_hours, label: { text: t(".hours", count: mentor_training_form.max_hours) }, hint: { text: t(".hours_hint.#{mentor_training_form.max_hours == 20 ? "full" : "remaining"}", count: mentor_training_form.max_hours) } %>

          <%= f.govuk_radio_divider %>

          <%= f.govuk_radio_button(:hours_completed, "custom", label: { text: t(".other_amount") }) do %>
            <%= f.govuk_number_field(
              :custom_hours_completed,
              class: "govuk-input--width-2",
              label: { text: t(".number_of_hours"), class: "govuk-!-font-weight-bold" },
              hint: { text: t(".custom_hours_completed_hint", count: mentor_training_form.max_hours) },
            ) %>
          <% end %>
        <% end %>

        <%= f.govuk_submit t("continue") %>
        <p class="govuk-body">
          <%= govuk_link_to(t("cancel"), claims_school_claims_path(@school), no_visited_state: true) %>
        </p>
    </div>
  <% end %>
</div>
