<%= render "placements/schools/primary_navigation", school: @school, current_navigation: :placements %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: concept_index_placements_school_placements_path(@school), text: t(".return_to_placements")) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if @appetite == "not_open" %>

        <p class="govuk-body"><%= t(".not_open.we_set_your_profile") %></p>

        <p class="govuk-body"><%= t(".not_open.your_contact_details_will_not_be_shown") %></p>

        <h2 class="govuk-heading-m"><%= t(".what_happens_next") %></h2>

        <p class="govuk-body"><%= t(".not_open.we_will_ask_you_again", school_url: placements_school_url(@school)) %></p>

        <p class="govuk-body"><%= t(".not_open.if_you_would_like_to_host_placements_html") %></p>

        <h2 class="govuk-heading-m"><%= t(".not_open.further_help_with_itt") %></h2>

        <p class="govuk-body"><%= t(".not_open.finding_local_providers_html") %></p>

        <p class="govuk-body">
          <%= embedded_link_text(
            t(".not_open.find_your_local_school_hub",
            href: govuk_link_to(
              t(".not_open.teaching_school_hub"),
              t(".teaching_school_hub_url"),
              new_tab: true,
              no_visited_state: true,
            )),
          ) %>
        </p>
      <% elsif @appetite == "interested" %>
        <h2 class="govuk-heading-m"><%= t(".what_happens_next") %></h1>

        <p class="govuk-body"><%= t(".interested.providers_who_are_looking") %></p>

        <p class="govuk-body"><%= t(".interested.add_placements_information_html", placements_url: placements_school_placements_url(@school)) %></p>

        <p class="govuk-body"><%= t(".interested.search_for_providers_html", providers_url: placements_school_partner_providers_url(@school)) %></p>

        <h2 class="govuk-heading-m"><%= t(".interested.additional_help") %></h1>

        <p class="govuk-body">
          <%= embedded_link_text(
            t(".interested.find_your_local_school_hub",
            href: govuk_link_to(
              t(".interested.teaching_school_hub"),
              t(".teaching_school_hub_url"),
              new_tab: true,
              no_visited_state: true,
            )),
          ) %>
        </p>

        <p class="govuk-body"><%= t(".interested.accredited_provider_help") %></p>
      <% end %>
    </div>
  </div>
</div>
