<%= content_for :page_title, t(".organisation_details") %>
<%= render "placements/schools/primary_navigation", school: @school, current_navigation: :organisation_details %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l"><%= @school.name %></h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".itt_placement_contact") %></h2>
      <% if @school.school_contact.present? %>
        <%= render "shared/schools/school_contact_details", school: @school, school_contact: @school.school_contact %>
      <% else %>
        <%= govuk_link_to t(".add_itt_placement_contact"), new_add_school_contact_placements_school_school_contacts_path(@school), class: "govuk-button" %>
      <% end %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".school_details") %></h2>
      <%= render "shared/schools/school_details", school: @school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".location") %></h2>
      <%= render "shared/schools/location_details", school: @school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".additional_details") %></h2>
      <%= render "shared/schools/additional_details", school: @school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".send") %></h2>
      <%= render "shared/schools/send_details", school: @school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".ofsted") %></h2>
      <%= render "shared/schools/ofsted_details", school: @school %>
    </div>
  </div>
</div>
