<%= content_for :page_title, t(".heading") %>
<%= render "claims/support/primary_navigation", current: :claims %>

<div class="govuk-width-container">
  <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

  <%= render "claims/support/claims/secondary_navigation", current: :payments %>

  <h2 class="govuk-heading-m"><%= t(".sub_heading", count: @pagy.count) %></h2>

  <div class="govuk-button-group">
    <%= govuk_button_link_to t(".buttons.send_claims_to_esfa"), new_claims_support_claims_payment_path %>
    <%= govuk_button_link_to t(".buttons.upload_esfa_response"), new_upload_payer_response_claims_support_claims_payments_path, secondary: true %>
  </div>

  <%= render "action_calculator",
    submitted_claims: submitted_claims,
    payment_in_progress_claims: payment_in_progress_claims,
    claims: @pagy %>

  <%= render Claims::Claim::FilterFormComponent.new(filter_form:, statuses: Claims::Claim::PAYMENT_ACTIONABLE_STATUSES) do %>
    <div class="govuk-!-margin-bottom-2">
      <% if @claims.any? %>
        <% @claims.each do |claim| %>
          <%= render Claim::CardComponent.new(claim:, href: claims_support_claims_payments_claim_path(claim), current_user:) %>
        <% end %>
      <% else %>
        <p class="govuk-body"><%= t(".no_claims") %></p>
      <% end %>
    </div>

    <%= render PaginationComponent.new(pagy: @pagy) %>
  <% end %>
</div>
