<%# locals: (school:, placement:, support: false) -%>
<div class="govuk-!-margin-top-0 govuk-!-margin-bottom-6">
  <%= render Placement::StatusTagComponent.new(placement:) %>
</div>

<%= govuk_summary_list do |summary_list| %>
  <% if !school.primary_or_secondary_only? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".attributes.placements.school_level")) %>
      <% row.with_value(text: placement.school_level) %>
    <% end %>
  <% end %>
  <% summary_list.with_row do |row| %>
    <% row.with_key(text: t(".attributes.placements.subject")) %>
    <% row.with_value do %>
      <% placement.subject_name %>
    <% end %>
  <% end %>
  <% if placement.subject_has_child_subjects? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".attributes.placements.additional_subjects")) %>
      <% row.with_value do %>
        <% placement.additional_subject_names %>
      <% end %>
    <% end %>
  <% end %>
  <% if placement.year_group.present? %>
    <% summary_list.with_row do |row| %>
      <% row.with_key(text: t(".attributes.placements.year_group")) %>
      <% row.with_value(text: t("placements.schools.placements.year_groups.#{placement.year_group}")) %>
      <% row.with_action(
        text: t(".change"),
        href: edit_attribute_path(:year_group),
        visually_hidden_text: t(".attributes.placements.year_group"),
      ) %>
    <% end %>
  <% end %>
  <% summary_list.with_row do |row| %>
    <% row.with_key(text: t(".attributes.placements.academic_year")) %>
    <% row.with_value do %>
      <% placement.academic_year.display_name %>
    <% end %>
  <% end %>
  <% summary_list.with_row do |row| %>
    <% row.with_key(text: t(".attributes.placements.terms")) %>
    <% row.with_value do %>
      <%= placement.term_names %>
    <% end %>
    <% row.with_action(
      text: t(".change"),
      href: edit_attribute_path(:terms),
      visually_hidden_text: t(".attributes.placements.terms"),
    ) %>
  <% end %>
  <% summary_list.with_row do |row| %>
    <% row.with_key(text: t(".attributes.placements.mentor")) %>
    <% row.with_value do %>
      <% if placement.mentors.any? %>
        <ul class="govuk-list">
          <% placement.mentors.each do |mentor| %>
            <li><%= mentor.full_name %></li>
          <% end %>
        </ul>
      <% elsif school.mentors.any? %>
        <%= govuk_link_to(
          t(".select_a_mentor"),
          edit_attribute_path(:mentors),
          no_visited_state: true,
        ) %>
      <% else %>
        <%= govuk_link_to(
          t(".add_a_mentor"),
          add_mentor_path,
          no_visited_state: true,
        ) %>
      <% end %>
    <% end %>
    <% if placement.mentors.any? %>
      <% row.with_action(
        text: t(".change"),
        href: edit_attribute_path(:mentors),
        visually_hidden_text: t(".attributes.placements.mentor"),
      ) %>
    <% end %>
  <% end %>
  <% summary_list.with_row do |row| %>
    <% row.with_key(text: t(".attributes.placements.provider")) %>
    <% row.with_value do %>
      <% if placement.provider.present? %>
        <%= placement.provider_name %>
      <% elsif school.partner_providers.any? %>
        <%= govuk_link_to(
          t(".assign_a_provider"),
          edit_attribute_path(:provider),
          no_visited_state: true,
        ) %>
      <% else %>
        <%= govuk_link_to(
          t(".add_a_partner_provider"),
          add_provider_path,
          no_visited_state: true,
        ) %>
      <% end %>
    <% end %>
    <% if placement.provider.present? %>
      <% row.with_action(
        text: t(".change"),
        href: edit_attribute_path(:provider),
        visually_hidden_text: t(".attributes.placements.provider"),
      ) %>
    <% end %>
  <% end %>
<% end %>
