<% content_for :page_title, @placement.errors.any? ? t(".title_with_error") : t(".title") %>
<%= render "placements/schools/primary_navigation", school: @school, current_navigation: :placements %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: :back) %>
<% end %>

<div class="govuk-width-container">
  <%= form_for(@placement, url: placements_school_placement_path(@school, @placement, edit_path: :edit_provider), method: :put) do |f| %>
    <%= f.govuk_error_summary %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"><%= t(".caption") %></span>

        <%= f.govuk_radio_buttons_fieldset :provider_id, legend: { size: "l", text: t(".provider") } do %>
          <% @providers.each do |provider| %>
            <%= f.govuk_radio_button :provider_id, provider.id, label: { text: provider.name }, checked: @placement.provider == provider %>
          <% end %>
          <%= f.govuk_radio_divider %>
          <%= f.govuk_radio_button :provider_id, nil, label: { text: t(".not_known") }, checked: @placement.provider.nil? %>
        <% end %>

        <%= f.govuk_submit t(".continue") %>
      </div>
    </div>

    <%= govuk_details(summary_text: t(".help_with_providers")) do %>
      <p>
        <%= t(".details_text_part_one") %>
        <%= govuk_link_to(
              t(".details_text_part_two"), placements_school_partner_providers_path(@school), no_visited_state: true
            ) %>
      </p>
    <% end %>
  <% end %>

  <p class="govuk-body">
    <%= govuk_link_to(t(".cancel"), placements_school_placement_path(@school, @placement), no_visited_state: true) %>
  </p>
</div>
