<% content_for :page_title, t(".page_title") %>
<%= render "placements/schools/primary_navigation", school: @school, current_navigation: :placements %>
<% if @hosting_interest&.interested? %>
  <%= render "/placements/schools/potential_placements/details", placement_details: @school.potential_placement_details %>
<% elsif @hosting_interest&.not_open? %>
  <%= render "/placements/schools/placements/not_offering", hosting_interest: @hosting_interest, school: @school %>
<% else %>
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l"><%= t(".placements") %></h1>

        <p><%= t(".add_and_edit_placements") %></p>

        <% if @school.school_contact.present? %>
          <div class="govuk-button-group">
            <%= govuk_button_link_to(t(".add_placement"), new_add_placement_placements_school_placements_path) %>
            <%= govuk_button_link_to(t(".bulk_add_placements"), new_add_multiple_placements_placements_school_placements_path, secondary: true) %>
          </div>
        <% else %>
          <%= govuk_inset_text(
            text: embedded_link_text(
              t(
                ".you_must_add_itt_placement_contact",
                link_to: govuk_link_to(
                  t(".add_itt_placement_contact"),
                  new_add_school_contact_placements_school_school_contacts_path,
                  no_visited_state: true,
                ),
              ),
            ),
          ) %>

          <%= govuk_button_link_to(t(".bulk_add_placements"), new_add_multiple_placements_placements_school_placements_path) %>
        <% end %>

        <h2 class="govuk-heading-m"><%= t(".placement_count", count: @pagy.count) %></h2>

        <% if @placements.any? %>
          <%= render "/placements/schools/placements/table", placements: @placements, school: @school %>

          <%= render PaginationComponent.new(pagy: @pagy) %>
        <% else %>
          <p>
            <%= t("no_records_for", records: "placements", for: @school.name) %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
