<% content_for :page_title, t(".page_title") %>
<%= render "placements/schools/primary_navigation", school: @school, current_navigation: :placements %>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t(".placements") %></h1>
      <%= govuk_button_to(t(".add_placement"), new_placements_school_placement_build_path(@school, placement_id: "new_placement"), method: :get) %>

      <% if @placements.any? %>
        <%= app_table do |table| %>
          <% table.with_head do |head| %>
            <% head.with_row do |row| %>
              <% row.with_cell(header: true, text: t(".subject")) %>
              <% row.with_cell(header: true, text: t(".mentor")) %>
              <% row.with_cell(header: true, text: t(".window")) %>
              <% row.with_cell(header: true, text: Placement.human_attribute_name(:status)) %>
            <% end %>
          <% end %>
          <% table.with_body do |body| %>
            <% @placements.each do |placement| %>
              <% body.with_row do |row| %>
                <% row.with_cell(text: govuk_link_to(
                  placement.subject_names,
                  placements_school_placement_path(@school, placement),
                )) %>
                <% row.with_cell(text: placement.mentor_names) %>
                <% row.with_cell(text: placement.window) %>
                <% row.with_cell do |cell| %>
                  <%= render Placement::StatusTagComponent.new(placement.status) %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%= render PaginationComponent.new(pagy: @pagy) %>
      <% else %>
        <p>
          <%= t("no_records_for", records: "placements", for: @school.name) %>
        </p>
      <% end %>
    </div>
  </div>
</div>
