<%= content_for :page_title, sanitize(@placement.title) %>

<%= render "placements/schools/primary_navigation", school: @school, current_navigation: :placements %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: :back) %>
<% end %>

<div class="govuk-width-container">
  <%= render(GovukComponent::NotificationBannerComponent.new(title_text: t(".important"))) do %>
    <h3 class="govuk-heading-m"><%= t(".this_is_a_preview") %></h3>
  <% end %>

  <%= render "placements/placements/placement_details", school: @placement.school, placement: @placement %>
</div>
