<%= content_for :page_title, sanitize(@placement.title) %>

<%= render "placements/schools/primary_navigation", school: @school, current_navigation: :placements %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_school_placements_path(@school.id)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
        <%= @placement.title %>
      </h2>

      <div class="govuk-!-margin-top-0 govuk-!-margin-bottom-6">
        <%= render Placement::StatusTagComponent.new(placement: @placement) %>
      </div>

      <%= govuk_summary_list do |summary_list| %>
        <% if !@school.primary_or_secondary_only? %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".attributes.placements.school_level")) %>
            <% row.with_value(text: @placement.school_level) %>
          <% end %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".attributes.placements.subject")) %>
          <% row.with_value do %>
              <% @placement.subject.name %>
          <% end %>
        <% end %>
        <% if @placement.subject_has_child_subjects? %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".attributes.placements.additional_subjects")) %>
            <% row.with_value do %>
              <% @placement.subject_name %>
            <% end %>
          <% end %>
        <% end %>
        <% if @placement.subject_has_child_subjects? %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".attributes.placements.additional_subjects")) %>
            <% row.with_value do %>
              <% @placement.additional_subject_names %>
            <% end %>
          <% end %>
        <% end %>
        <% if @placement.year_group.present? %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".attributes.placements.year_group")) %>
            <% row.with_value(text: @placement.formatted_year_group) %>
          <% end %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".attributes.placements.mentor")) %>
          <% row.with_value do %>
            <% if @placement.mentors.any? %>
              <ul class="govuk-list">
                <% @placement.mentors.each do |mentor| %>
                  <li><%= mentor.full_name %></li>
                <% end %>
              </ul>
            <% elsif @school.mentors.any? %>
              <%= govuk_link_to(
                t(".select_a_mentor"),
                edit_mentors_placements_school_placement_path(@school, @placement),
                no_visited_state: true,
              ) %>
            <% else %>
              <%= govuk_link_to(
                t(".add_a_mentor"),
                placements_school_mentors_path,
                no_visited_state: true,
              ) %>
            <% end %>
          <% end %>
          <% if @placement.mentors.any? %>
            <% row.with_action(
              text: t(".change"),
              href: edit_mentors_placements_school_placement_path(@school, @placement),
              visually_hidden_text: t(".attributes.placements.mentor"),
            ) %>
          <% end %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".attributes.placements.provider")) %>
          <% row.with_value do %>
            <% if @placement.provider.present? %>
              <%= @placement.provider_name %>
            <% elsif @school.partner_providers.any? %>
              <%= govuk_link_to(
                t(".assign_a_provider"),
                edit_provider_placements_school_placement_path(@school, @placement),
                no_visited_state: true,
              ) %>
            <% else %>
              <%= govuk_link_to(
                t(".add_a_partner_provider"),
                placements_school_partner_providers_path,
                no_visited_state: true,
              ) %>
            <% end %>
          <% end %>
          <% if @placement.provider.present? %>
            <% row.with_action(
              text: t(".change"),
              href: edit_provider_placements_school_placement_path(@school, @placement),
              visually_hidden_text: t(".attributes.placements.provider"),
            ) %>
          <% end %>
       <% end %>
      <% end %>

      <%= govuk_link_to t(".delete_placement"),
                        remove_placements_school_placement_path(@school, @placement),
                        class: "app-link app-link--destructive" %>
    </div>
  </div>
</div>
