<% render "claims/support/primary_navigation", current: :settings %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: claims_support_settings_path) %>
<% end %>

<div class="govuk-width-container">
  <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

  <% @previews.each do |view_component| %>
    <% next if view_component.examples.empty? %>

    <h2 class="govuk-heading-m"><%= view_component.preview_name.delete_prefix("claims/").titleize %></h2>

    <% example_links = view_component.examples.map do |example| %>
      <% govuk_link_to(example, url_for(controller: "/view_components", action: :previews, path: "#{view_component.preview_name}/#{example}"), no_visited_state: true, new_tab: true) %>
    <% end %>

    <%= govuk_list example_links, type: :bullet %>
  <% end %>
</div>
