<% content_for :page_title, t(".title") %>
<%= render "placements/support/primary_navigation", current_navigation: :organisations %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: new_placements_support_provider_path) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with(model: @provider, url: placements_support_providers_path, method: "post", data: { turbo: false }) do |f| %>
        <%= f.hidden_field :search_code, value: @provider.code %>

        <label class="govuk-label govuk-label--l">
          <span class="govuk-caption-l"><%= t(".add_organisation") %></span>
          <%= t(".title") %>
        </label>

        <%= govuk_summary_list do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".organisation_name")) %>
            <% row.with_value(text: @provider.name) %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".ukprn")) %>
            <% row.with_value(text: @provider.ukprn) %>
          <% end %>
        <% end %>

        <h2 class="govuk-heading-m govuk-!-margin-top-7">
          <%= t(".contact_details") %>
        </h2>

        <%= govuk_summary_list do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".email")) %>
            <% row.with_value(text: @provider.email_address) %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".telephone")) %>
            <% row.with_value(text: @provider.telephone) %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".website")) %>
            <% row.with_value do %>
              <%= govuk_link_to(@provider.website,
                external_link(@provider.website),
                target: "_blank",
                rel: "noopener noreferrer") %>
            <% end %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".address")) %>
            <% row.with_value(text: @provider.formatted_address) %>
          <% end %>
        <% end %>

        <%= f.govuk_submit t(".add_organisation") %>
        <p class="govuk-body">
          <%= govuk_link_to(t(".cancel"), placements_support_organisations_path) %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>
