<% content_for :page_title, t(".title") %>
<%= render "placements/support/primary_navigation", current_navigation: :organisations %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: new_placements_support_provider_path(@provider_form.as_form_params)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with(model: @provider, url: placements_support_providers_path, method: "post", data: { turbo: false }) do |f| %>
        <%= f.hidden_field :id, value: @provider.id %>

        <label class="govuk-label govuk-label--l">
          <span class="govuk-caption-l"><%= t(".add_organisation") %></span>
          <%= t(".title") %>
        </label>

        <%= render "shared/organisations/organisation_details", organisation: @provider %>
        <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".contact_details") %></h2>
        <%= render "shared/organisations/contact_details", organisation: @provider %>

        <%= f.govuk_submit t(".add_organisation") %>
        <p class="govuk-body">
          <%= govuk_link_to(t(".cancel"), placements_support_organisations_path, no_visited_state: true) %>
        </p>
      </div>
      <% end %>
    </div>
  </div>
</div>
