<% content_for :page_title, t(".title") %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: new_placements_support_organisation_path) %>
<% end %>

<div class="govuk-width-container">
  <%= form_with(model: @provider_form, url: check_placements_support_providers_path, method: "get", data: { turbo: false }) do |f| %>
    <%= f.govuk_error_summary %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= content_tag(:div, class: class_names("govuk-form-group", "govuk-form-group--error": f.object.errors.present?)) do %>
          <%= f.govuk_text_field :code, value: nil,
                                        label: { text: t(".title"), size: "l" },
                                        caption: { text: t(".caption") },
                                        id: "accredited-provider-search-form-query-field" %>

          <div id="accredited-provider-autocomplete" class="govuk-!-margin-bottom-7"></div>
        <% end %>

        <%= f.govuk_submit t(".continue") %>

        <p class="govuk-body">
          <%= govuk_link_to(t(".cancel"), placements_support_organisations_path) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
