<% content_for :page_title, @provider_form.errors.any? ? t(".title_with_error") : t(".title") %>
<%= render "placements/support/primary_navigation", current_navigation: :organisations %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: new_placements_support_organisation_path) %>
<% end %>

<div class="govuk-width-container">
  <%= render AutocompleteSelectFormComponent.new(
    model: @provider_form,
    scope: :provider,
    url: check_placements_support_providers_path,
    data: {
      autocomplete_path_value: "/api/provider_suggestions",
      autocomplete_return_attributes_value: %w[code],
    },
    input: {
      value: @provider_form.name,
      label: t(".title"),
      caption: t(".caption"),
      previous_search: @provider_form.id,
    },
  ) %>

  <p class="govuk-body">
    <%= govuk_link_to(t(".cancel"), placements_support_organisations_path, no_visited_state: true) %>
  </p>
</div>
