<%= render "claims/support/primary_navigation", current: :claims %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: back_link_path) %>
<% end %>

<div class="govuk-width-container">
  <span class="govuk-caption-l"><%= t(".caption", reference: @claim.reference) %></span>

  <%= render_wizard(@wizard) %>

  <p class="govuk-body">
    <%= govuk_link_to(t(".cancel"), claims_support_claims_clawbacks_path, no_visited_state: true) %>
  </p>
</div>
