<% content_for :page_title, title_with_error_prefix(
  t(".page_title", contextual_text:, provider_name: @wizard.provider.name, mentor: current_step.mentor.full_name),
  error: current_step.errors.any?,
) %>

<%= form_for(current_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

   <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"><%= contextual_text %> - <%= @wizard.provider_name %></span>
         <%= f.govuk_radio_buttons_fieldset(
          :hours_to_claim,
          legend: {
            size: "l",
            text: t(".hours_of_training_for_mentor", mentor: current_step.mentor_full_name),
            tag: "h1",
          },
          hint: { text: current_step.hours_of_training_hint },
        ) do %>
          <%= f.govuk_radio_button :hours_to_claim, "maximum", label: { text: t(".hours", count: current_step.max_hours) }, hint: { text: t(".hours_hint.#{current_step.max_hours == 20 ? "full" : "remaining"}", count: current_step.max_hours) } %>

          <%= f.govuk_radio_divider %>

          <%= f.govuk_radio_button(:hours_to_claim, "custom", label: { text: t(".other_amount") }) do %>
            <%= f.govuk_number_field(
              :custom_hours,
              class: "govuk-input--width-2",
              min: 1,
              max: current_step.max_hours,
              label: { text: t(".number_of_hours"), class: "govuk-!-font-weight-bold" },
              hint: { text: t(".custom_hours_completed_hint", count: current_step.max_hours) },
            ) %>
          <% end %>
        <% end %>

        <%= govuk_warning_text(text: t(".warning")) %>

        <%= f.govuk_submit t("continue") %>
      </div>
   </div>
<% end %>
