<% content_for :page_title, mentor_form.errors.any? ? t(".page_title_with_error", school_name: @school.name) : t(".page_title", school_name: @school.name) %>
<% render "claims/schools/primary_navigation", school: @school, current: :mentors %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: claims_school_mentors_path(@school)) %>
<% end %>

<div class="govuk-width-container">
  <%= form_with(model: mentor_form, url: check_claims_school_mentors_path, method: "get") do |f| %>
    <%= f.govuk_error_summary %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
          <span class="govuk-caption-l"><%= t(".add_mentor") %></span>
          <h2 class="govuk-heading-l"><%= t(".find_teacher") %></h2>
          <%= f.govuk_text_field :trn,
                                  width: "two-thirds",
                                  label: { text: t(".trn"), size: "s" },
                                  hint: { text: t(".trn_hint") } %>
          <%= govuk_details(summary_text: t(".help_with_the_trn")) do %>
            <p>
              <%= t(".guidance_html", guidance_link: govuk_link_to(t(".guidance_link_text"), "https://www.gov.uk/guidance/teacher-reference-number-trn", new_tab: true, no_visited_state: true)) %>
            </p>
          <% end %>

          <%= f.govuk_date_field(
            :date_of_birth,
            maxlength_enabled: true,
            legend: { text: Mentor.human_attribute_name(:date_of_birth), size: "s" },
            hint: { text: t(".date_of_birth_hint"), size: "s" },
          ) %>
        </div>

        <%= f.govuk_submit t(".continue") %>
        <p class="govuk-body">
          <%= govuk_link_to(t(".cancel"), claims_school_mentors_path(@school), no_visited_state: true) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
