<%= render "placements/support/primary_navigation", current_navigation: :organisations %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: back_link_path) %>
<% end %>

<div class="govuk-width-container">
  <%= render @wizard.step, object: @wizard.step, caption: t(".caption", organisation_name: @organisation.name) %>

  <p class="govuk-body">
    <%= govuk_link_to(t(".cancel"), placements_support_school_users_path(@organisation), no_visited_state: true) %>
  </p>
</div>
