<%= content_for :page_title, sanitize(t(".title")) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(check_your_answers_step, url: current_step_path, method: :put) do |f| %>
      <%= f.govuk_error_summary %>

      <label class="govuk-label govuk-label--l">
        <span class="govuk-caption-l"><%= t(".add_organisation") %></span>
        <%= t(".title") %>
      </label>

      <%= render "shared/organisations/organisation_details", organisation: @wizard.organisation, change_link: back_link_path %>
      <% if @wizard.steps[:organisation_type].school? %>
        <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".additional_details") %></h2>
        <%= render "shared/schools/additional_details", school: @wizard.organisation %>
        <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".send") %></h2>
        <%= render "shared/schools/send_details", school: @wizard.organisation %>
        <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".ofsted") %></h2>
        <%= render "shared/schools/ofsted_details", school: @wizard.organisation %>
      <% end %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".contact_details") %></h2>
      <%= render "shared/organisations/contact_details", organisation: @wizard.organisation %>

      <%= f.govuk_submit t(".add_organisation") %>
    <% end %>
  </div>
</div>
