<%= content_for :page_title, sanitize(t(".page_title", user_name: @mentor.full_name)) %>
<%= render "placements/schools/primary_navigation", school: @school, current_navigation: :mentors %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_school_mentor_path(@school, @mentor)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <label class="govuk-label govuk-label--l">
        <span class="govuk-caption-l"><%= @mentor.full_name %></span>
        <%= t(".are_you_sure") %>
      </label>

      <p class="govuk-body">
        <%= t(".you_will_no_longer", user_name: @mentor.full_name) %>
      </p>

      <%= govuk_button_to t(".delete_mentor"),
        placements_school_mentor_path(@school, @mentor),
        warning: true,
        method: :delete %>

      <p class="govuk-body">
        <%= govuk_link_to(t(".cancel"), placements_school_mentor_path(@school, @mentor), no_visited_state: true) %>
      </p>
    </div>
  </div>
</div>
