<% content_for :page_title, @mentor_form.errors.any? ? t(".page_title_with_error") : t(".page_title") %>
<%= render "placements/schools/primary_navigation", current_navigation: :mentors, school: @school %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_school_mentors_path(@school)) %>
<% end %>

<div class="govuk-width-container">
  <%= form_with(model: @mentor_form, url: check_placements_school_mentors_path, method: "get") do |f| %>
    <%= f.govuk_error_summary %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"><%= t(".add_mentor") %></span>
        <h2 class="govuk-heading-l"><%= t(".find_teacher") %></h2>

        <div class="govuk-form-group">
          <%= f.govuk_text_field :trn, width: "two-thirds", label: { text: t(".trn"), size: "s" } %>
        </div>

        <%= govuk_details(
          summary_text: t(".help_with_the_trn"),
          text: embedded_link_text(
            t(".what_is_a_trn",
              link: govuk_link_to(
                  t(".trn_guidance"),
                  "https://www.gov.uk/guidance/teacher-reference-number-trn",
                  new_tab: true,
                  no_visited_state: true,
                )),
          ),
        ) %>

        <%= f.govuk_date_field(
              :date_of_birth,
              date_of_birth: true,
              maxlength_enabled: true,
              legend: { text: Mentor.human_attribute_name(:date_of_birth), size: "s" },
              hint: { text: t(".date_of_birth_hint"), size: "s" },
            ) %>

        <%= f.govuk_submit t(".continue") %>
        <p class="govuk-body">
          <%= govuk_link_to(t(".cancel"), placements_school_mentors_path(@school), no_visited_state: true) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
