<%= content_for :page_title, sanitize("#{@mentor.full_name} - #{@school.name}") %>

<%= render "placements/schools/primary_navigation", school: @school, current_navigation: :mentors %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_school_mentors_path(school_id: @school.id)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= @school.name %></span>
      <h2 class="govuk-heading-l"><%= @mentor.full_name %></h2>

      <%= govuk_summary_list do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: Mentor.human_attribute_name("first_name")) %>
          <% row.with_value(text: @mentor.first_name) %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: Mentor.human_attribute_name("last_name")) %>
          <% row.with_value(text: @mentor.last_name) %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".attributes.mentors.trn")) %>
          <% row.with_value(text: @mentor.trn) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
