<%= render "placements/providers/primary_navigation", provider: @organisation, current_navigation: :partner_schools %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: back_link_path) %>
<% end %>

<div class="govuk-width-container">
  <%= render_wizard(@wizard) %>

  <p class="govuk-body">
    <%= govuk_link_to(t(".cancel"), placements_provider_partner_schools_path(@organisation), no_visited_state: true) %>
  </p>
</div>
