<%= content_for :page_title, sanitize(t(".page_title_#{@wizard.partner_organisation_type}", contextual_text:)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(check_your_answers_step, url: current_step_path, method: :put) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l"><%= t(".title_#{@wizard.partner_organisation_type}") %></h1>
      <p><%= t(".intro_text") %></p>

      <h2 class="govuk-heading-m"><%= t(".header_#{@wizard.partner_organisation_type}") %></h2>
      <%= render "shared/organisations/organisation_details", organisation: @wizard.partner_organisation, change_link: step_path(:partnership) %>
      <% if @wizard.partner_organisation.is_a?(School) %>
        <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".additional_details") %></h2>
        <%= render "shared/schools/additional_details", school: @wizard.partner_organisation %>
        <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".send") %></h2>
        <%= render "shared/schools/send_details", school: @wizard.partner_organisation %>
        <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".ofsted") %></h2>
        <%= render "shared/schools/ofsted_details", school: @wizard.partner_organisation %>
      <% end %>
      <%= render "shared/organisations/contact_details", organisation: @wizard.partner_organisation %>

      <%= f.govuk_submit t(".add_partner_#{@wizard.partner_organisation_type}") %>
    <% end %>
  </div>
</div>
