<%= content_for :page_title, sanitize(t(".page_title_#{@wizard.partner_organisation_type}", contextual_text:)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(check_your_answers_step, url: current_step_path, method: :put) do |f| %>
      <%= f.govuk_error_summary %>

      <label class="govuk-label govuk-label--l">
        <%= t(".title_#{@wizard.partner_organisation_type}") %>
      </label>
      <p><%= t(".intro_text_#{@wizard.partner_organisation_type}_html") %></p>

      <h2 class="govuk-heading-m"><%= t(".header_#{@wizard.partner_organisation_type}") %></h2>
      <%= render "shared/organisations/organisation_details", organisation: @wizard.partner_organisation, change_link: step_path(:partnership) %>
      <%= render "shared/organisations/contact_details", organisation: @wizard.partner_organisation %>
      <%= f.govuk_submit t(".add_partner_#{@wizard.partner_organisation_type}") %>
    <% end %>
  </div>
</div>
