<%= render "claims/support/primary_navigation", current: :claims %>
<% content_for(:page_title) { sanitize t(".page_title") } %>

<% content_for(:before_content) do %>
  <%= govuk_back_link href: claims_support_claims_payments_path %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with model: claims_payment_response, url: check_claims_support_claims_payment_responses_path do |f| %>
        <%= f.govuk_error_summary %>

        <p class="govuk-caption-l"><%= t(".page_caption") %></p>
        <h1 class="govuk-heading-l"><%= t(".page_title") %></h1>

        <%= f.govuk_file_field :csv_file, label: { text: t(".label") }, accept: "text/csv" %>

        <%= govuk_details summary_text: t(".help.label") do %>
          <p class="govuk-body"><%= t(".help.description") %></p>
          <p class="govuk-body"><%= t(".help.csv_instructions") %></p>

          <%= govuk_list type: :bullet do %>
            <% t(".help.csv_headers").each do |header| %>
              <li><%= header %></li>
            <% end %>
          <% end %>
        <% end %>

        <%= f.govuk_submit t(".submit") %>
      <% end %>

      <p class="govuk-body"><%= govuk_link_to t(".cancel"), claims_support_claims_payments_path %></p>
    </div>
  </div>
</div>
