<%= content_for :page_title, sanitize(t(".page_title", user_name: @mentor.full_name, school_name: @school.name)) %>
<%= render "placements/support/primary_navigation", current_navigation: :organisations %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_school_mentor_path(school_id: @school.id, id: @mentor.id)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "shared/schools/mentors/can_not_remove", mentor: @mentor, school: @school, support: true %>
    </div>
  </div>
</div>
