<%= content_for :page_title, sanitize(t(".page_title", user_name: @mentor.full_name, school_name: @school.name)) %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_school_mentor_path(school_id: @school.id, id: @mentor.id)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "delete",
        caption: "#{@mentor.full_name} - #{@school.name}",
        school: @school,
        mentor: @mentor,
        delete_link: placements_support_school_mentor_path(@school, @mentor) %>

      <p class="govuk-body">
        <%= govuk_link_to(t(".cancel"), placements_support_school_mentor_path(@school, @mentor), no_visited_state: true) %>
      </p>
    </div>
  </div>
</div>
