<% content_for :page_title, @mentor_form.errors.any? ? t(".page_title_with_error", school_name: @school.name) : t(".page_title", school_name: @school.name) %>
<%= render "placements/support/primary_navigation", current_navigation: :organisations %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_school_mentors_path(@school)) %>
<% end %>

<div class="govuk-width-container">
  <%= form_with(model: @mentor_form, url: check_placements_support_school_mentors_path, method: "get") do |f| %>
    <%= f.govuk_error_summary %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
          <%= f.govuk_text_field :trn, width: "two-thirds", label: -> do %>
            <span class="govuk-caption-l"><%= t(".add_mentor_with_school_name", school_name: @school.name) %></span>
            <h2 class="govuk-heading-l"><%= t(".enter_a_trn") %></h2>
          <% end %>
        </div>

        <%= govuk_details(summary_text: t(".help_with_the_trn")) do %>
          <p>
            <%= t(".if_you_dont_have_a_trn") %>
            <%= govuk_link_to(
                  t(".trn_guidance"),
                  "https://www.gov.uk/guidance/teacher-reference-number-trn",
                  new_tab: true,
                  no_visited_state: true,
                ) %>
            <%= t(".to_find_a_lost_trn") %>
          </p>
        <% end %>

        <%= f.govuk_date_field(
              :date_of_birth,
              maxlength_enabled: true,
              legend: { text: Mentor.human_attribute_name(:date_of_birth), size: "s" },
              hint: { text: t(".date_of_birth_hint"), size: "s" },
            ) %>

        <%= f.govuk_submit t(".continue") %>
        <p class="govuk-body">
          <%= govuk_link_to(t(".cancel"), placements_support_school_mentors_path(@school), no_visited_state: true) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
