<%= content_for :page_title, sanitize(t(".page_title", user_name: @mentor.full_name, school_name: @school.name)) %>
<%= render "placements/support/primary_navigation", current_navigation: :organisations %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_school_mentor_path(school_id: @school.id, id: @mentor.id)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <label class="govuk-label govuk-label--l">
        <span class="govuk-caption-l"><%= "#{@mentor.full_name} - #{@school.name}" %></span>
        <%= t(".are_you_sure") %>
      </label>

      <%= govuk_button_to t(".remove_mentor"),
        placements_support_school_mentor_path(@school, @mentor),
        warning: true,
        method: :delete %>

      <p class="govuk-body">
        <%= govuk_link_to(t(".cancel"), placements_support_school_mentor_path(@school, @mentor), no_visited_state: true) %>
      </p>
    </div>
  </div>
</div>
