<%= content_for :page_title, sanitize(t(".page_title", mentor_name: @mentor.full_name, school_name: @school.name)) %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_school_mentors_path) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= t(".caption", school_name: @school.name) %></span>
      <h1 class="govuk-heading-l"><%= @mentor.full_name %></h1>

      <%= govuk_summary_list(actions: false) do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: Mentor.human_attribute_name("first_name")) %>
          <% row.with_value(text: @mentor.first_name) %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: Mentor.human_attribute_name("last_name")) %>
          <% row.with_value(text: @mentor.last_name) %>
        <% end %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".attributes.mentors.trn")) %>
          <% row.with_value(text: @mentor.trn) %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= govuk_link_to t(".delete_mentor"), remove_placements_support_school_mentor_path(@school, @mentor), class: "app-link app-link--destructive" %>
</div>
