<%= content_for :page_title, sanitize(t(".what_happens_next")) %>

<%= render "placements/schools/primary_navigation", school: @school, current_navigation: @current_navigation %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if @appetite == "not_open" %>
        <%= render "placements/schools/hosting_interests/add_hosting_interest/whats_next/not_open", placement_details: @placement_details %>
      <% elsif @appetite == "interested" %>
        <%= render "placements/schools/hosting_interests/add_hosting_interest/whats_next/interested", placement_details: @placement_details %>
      <% else %>
        <%= render "placements/schools/hosting_interests/add_hosting_interest/whats_next/actively_looking", placement_details: @placement_details %>
      <% end %>
    </div>
  </div>
</div>
