<% render "claims/support/primary_navigation", current: :organisations %>
<% content_for(:before_content) do %>
  <%= govuk_back_link(href: new_claims_support_school_path(
    @school_form.as_form_params,
  )) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with(model: @school, url: claims_support_schools_path, method: "post", data: { turbo: false }) do |f| %>
        <%= f.hidden_field :id, value: @school.id %>

        <label class="govuk-label govuk-label--l">
          <span class="govuk-caption-l"><%= t(".add_organisation") %></span>
          <%= t(".title") %>
        </label>

        <%= govuk_summary_list do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".organisation_name")) %>
            <% row.with_value(text: @school.name) %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".urn")) %>
            <% row.with_value(text: @school.urn) %>
          <% end %>
        <% end %>

        <h2 class="govuk-heading-m govuk-!-margin-top-7">
          <%= t(".contact_details") %>
        </h2>

        <%= govuk_summary_list do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".telephone")) %>
            <% row.with_value(text: @school.telephone) %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".website")) %>
            <% row.with_value do %>
              <%= govuk_link_to(@school.website, external_link(@school.website), target: "_blank", rel: "noopener noreferrer") %>
            <% end %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".address")) %>
            <% row.with_value(text: @school.formatted_address) %>
          <% end %>
        <% end %>

        <%= f.govuk_submit t(".save_organisation") %>
        <p class="govuk-body">
          <%= govuk_link_to(t(".cancel"), claims_support_schools_path, no_visited_state: true) %>
        </p>
      <% end %>
    </div>
  </div>
</div>
