<% content_for :page_title, t(".heading", records: @pagy.count) %>
<% render "claims/support/primary_navigation", current: :organisations %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t(".heading", records: @pagy.count) %></h1>

      <%= govuk_button_link_to(t(".add_organisation"), new_add_school_claims_support_schools_path, method: :get) %>

      <%= render partial: "shared/search_form", locals: {
        url: claims_support_schools_path,
        label: { text: t(".search_label"), size: "m" },
        name: :name_or_postcode,
        clear_search_url: claims_support_schools_path,
      } %>

    <% if @schools.any? %>
      <ul class="organisation-search-results">
        <% @schools.each do |school| %>
          <%= render(OrganisationListItem.new(
            organisation: school,
            organisation_url: claims_support_school_path(school),
          )) %>
        <% end %>
          <%= render PaginationComponent.new(pagy: @pagy) %>
        </ul>
      <% else %>
        <p>
          <%= t("no_results", for: params[:name_or_postcode]) %>
        </p>
      <% end %>
    </div>
  </div>
</div>
