<% content_for :page_title, t(".title") %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: claims_support_schools_path) %>
<% end %>

<div class="govuk-width-container">
  <%= form_with(model: @school_form, scope: :school, url: check_claims_support_schools_path, method: "get", data: { turbo: false }) do |f| %>
    <%= f.govuk_error_summary %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= content_tag(:div, class: class_names("govuk-form-group", "govuk-form-group--error": f.object.errors.present?)) do %>
          <%= f.govuk_text_field :urn, value: nil,
                                       label: { text: t(".title"), size: "l" },
                                       caption: { text: t(".caption") },
                                       id: "school-search-form-query-field" %>

          <div id="school-autocomplete" class="govuk-!-margin-bottom-7"></div>
        <% end %>

        <%= f.govuk_submit t(".continue") %>

        <p class="govuk-body">
          <%= govuk_link_to(t(".cancel"), claims_support_schools_path) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
