<% content_for :page_title, t(".page_title", user_name: @school.claims_grant_conditions_accepted_by.full_name) %>

<% content_for(:before_content) do %>
  <%= govuk_back_link(href: claims_support_school_path(@school)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= t(".agreement") %></span>
      <h1 class="govuk-heading-l"><%= t(".page_title", user_name: @school.claims_grant_conditions_accepted_by.full_name) %></h1>
    </div>
  </div>

  <%= govuk_button_to(t(".remove_agreement"), remove_grant_conditions_acceptance_claims_support_school_path(@school), warning: true, method: :put, class: "govuk-button govuk-button--warning") %>

  <%= govuk_link_to t(".cancel"), claims_support_school_path(@school), no_visited_state: true %>
</div>
