<% content_for :page_title, @school.name %>
<% render "claims/support/primary_navigation", current: :organisations %>

<div class="govuk-width-container">
  <h1 class="govuk-heading-l"><%= @school.name %></h1>

  <%= render "claims/support/schools/secondary_navigation", school: @school %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "claims/schools/organisation_details", organisation: @school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".grant_conditions") %></h2>
      <%= render "shared/organisations/grant_conditions", organisation: @school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".grant_funding") %></h2>
      <%= render "shared/organisations/grant_funding", organisation: @school %>
      <h2 class="govuk-heading-m govuk-!-margin-top-9"><%= t(".contact_details") %></h2>
      <%= render "claims/schools/contact_details", organisation: @school %>
    </div>
  </div>
</div>
