<%= content_for :page_title, t(".page_title") %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <%= t(".page_title") %>
      </h1>

      <% t(".instructions").each do |instruction| %>
        <p class="govuk-body">
          <%= instruction %>
        </p>
      <% end %>

      <p class="govuk-body">
        <%== t(".support_message", email_link: mail_to(t("#{current_service}.support_email_html"), class: "govuk-link")) %>
      </p>
    </div>
  </div>

  <% if Rails.env.development? && exception = request.env["action_dispatch.exception"]&.cause %>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <%= govuk_warning_text text: "This section is visible only in the `development` environment" %>

    <code class="inline-code"><%= exception.detailed_message %></code>

    <%= govuk_inset_text classes: %w[overflow-auto] do %>
      <% if exception.respond_to?(:source_extract) %>
        <pre><code><%= exception.source_extract.join("\n") %></code></pre>
      <% end %>
    <% end %>
  <% end %>
</div>
