<%= govuk_panel(
  title_text: t(".panel_title"),
  text: t(".panel_text"),
) %>

<h1 class="govuk-heading-l govuk-!-margin-top-6"><%= t(".what_happens_next") %></h1>

<p class="govuk-body">
  <%= embedded_link_text(
    t(".providers_can_contact_you",
      mailto: mail_to(
        @school.school_contact_email_address,
      )),
  ) %>
</p>

<p class="govuk-body">
  <%= t(".you_do_not_need_to_take_any_further_action") %>
</p>

<p class="govuk-body">
  <%= t(".assigning_a_provider_is_not_contractual") %>
</p>

<h2 class="govuk-heading-m">
  <%= t(".manage_your_placements") %>
</h2>

<p class="govuk-body">
  <%= embedded_link_text(
    t(".you_can_edit_placements",
      link: govuk_link_to(
        t(".edit_your_placements"),
        placements_school_placements_path(@school),
      )),
  ) %>
</p>

<p class="govuk-body"><%= t(".editing_them") %></p>

<%= govuk_list type: :bullet do %>
  <% t(".editing_options").each do |header| %>
    <li><%= header %></li>
  <% end %>
<% end %>

<% if potential_placement_details_viewable?(placement_details) %>
  <h2 class="govuk-heading-m">
    <%= t(".your_placements_offers") %>
  </h2>

  <% if potential_placement_year_group_selection(placement_details).present? %>
    <h3 class="govuk-heading-s">
      <%= t(".primary_placements") %>
    </h3>

    <%= render "placements/schools/hosting_interests/add_hosting_interest/whats_next/primary_placements_list",
      placement_details: placement_details, action_link: nil %>
  <% end %>

  <% if potential_placement_subject_id_selection(placement_details).present? %>
    <h3 class="govuk-heading-s">
      <%= t(".secondary_placements") %>
    </h3>

    <%= render "placements/schools/hosting_interests/add_hosting_interest/whats_next/secondary_placements_list",
      placement_details: placement_details, action_link: nil %>
  <% end %>

  <% if potential_placement_key_stage_id_selection(placement_details).present? %>
    <h3 class="govuk-heading-s">
      <%= t(".send_placements") %>
    </h3>

    <%= render "placements/schools/hosting_interests/add_hosting_interest/whats_next/send_placements_list",
      placement_details: placement_details, action_link: nil %>
  <% end %>
<% end %>
