<%# locals: { placement_details: nil } -%>
<%= govuk_panel(
  title_text: t(".panel_title"),
  text: t(".panel_text"),
) %>

<h1 class="govuk-heading-l govuk-!-margin-top-6"><%= t(".what_happens_next") %></h1>

<p class="govuk-body">
  <%= embedded_link_text(
    t(".providers_can_contact_you",
      mailto: mail_to(
        @school.school_contact_email_address,
      )),
  ) %>
</p>

<p class="govuk-body">
  <%= embedded_link_text(
    t(".once_you_know_which_placements",
      link: govuk_link_to(
        t(".add_placements"),
        placements_school_placements_path(@school),
      )),
  ) %>
</p>

<% if placement_details.dig("year_group_selection", "year_groups").present? ||
  placement_details.dig("secondary_subject_selection", "subject_ids").present? ||
  placement_details.dig("sen_placement_quantity", "sen_quantity").present? %>
  <h2 class="govuk-heading-m">
    <%= t(".potential_placement_information") %>
  </h2>

  <% if placement_details.dig("year_group_selection", "year_groups").present? %>
    <h2 class="govuk-heading-m">
      <%= t(".potential_primary_placements") %>
    </h2>

    <%= render "placements/schools/hosting_interests/add_hosting_interest/whats_next/primary_placements_list",
      placement_details: placement_details %>
  <% end %>

  <% if placement_details.dig("secondary_subject_selection", "subject_ids").present? %>
    <h2 class="govuk-heading-m">
      <%= t(".potential_secondary_placements") %>
    </h2>

    <%= render "placements/schools/hosting_interests/add_hosting_interest/whats_next/secondary_placements_list",
      placement_details: placement_details %>
  <% end %>

  <% if placement_details.dig("sen_placement_quantity", "sen_quantity").present? %>
    <h2 class="govuk-heading-m">
      <%= t(".potential_send_placements") %>
    </h2>

    <%= render "placements/schools/hosting_interests/add_hosting_interest/whats_next/send_placements_list",
      placement_details: placement_details %>
  <% end %>
<% end %>
