<%= content_for :page_title, sanitize(t(".title")) %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with(model: current_step, url: current_step_path, method: :put) do |f| %>
          <span class="govuk-caption-l"><%= t(".add_organisation") %></span>
          <h1 class="govuk-heading-l"><%= t(".title") %></h1>

        <%= govuk_summary_list do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".organisation_name")) %>
            <% row.with_value(text: wizard.school.name) %>
            <% row.with_action(text: t(".change"),
                               href: step_path(:school),
                               html_attributes: {
                                 class: "govuk-link--no-visited-state",
                               },
                               visually_hidden_text: t(".organisation_name")) %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".ukprn")) %>
            <% row.with_value(text: wizard.school.ukprn) %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".urn")) %>
            <% row.with_value(text: wizard.school.urn) %>
          <% end %>
        <% end %>

        <h2 class="govuk-heading-m govuk-!-margin-top-7">
          <%= t(".contact_details") %>
        </h2>

        <%= govuk_summary_list(actions: false) do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".telephone")) %>
            <% row.with_value(text: wizard.school.telephone) %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".website")) %>
            <% row.with_value do %>
              <%= govuk_link_to(wizard.school.website, external_link(wizard.school.website), target: "_blank", rel: "noopener noreferrer") %>
            <% end %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".address")) %>
            <% row.with_value(text: wizard.school.formatted_address) %>
          <% end %>
        <% end %>

        <%= f.govuk_submit t(".save_organisation") %>
      <% end %>
    </div>
  </div>
</div>
