<% content_for :page_title, title_with_error_prefix(
  t(".page_title"),
  error: current_step.errors.any?,
) %>

<%= form_for(current_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= t(".caption") %></span>

      <%= f.govuk_collection_radio_buttons(
        :claim_window_id,
        current_step.claim_windows_for_selection,
        :id, :name, :phase_of_time,
        legend: { size: "l", text: t(".title"), tag: "h1" },
        hint: { text: t(".hint") }
      ) %>

      <%= govuk_details(
        summary_text: t(".claim_window_not_listed"),
        text: embedded_link_text(
          t(".create_an_additional_claim_window",
            link: govuk_link_to(
              t(".link_to_claim_windows"), claims_support_claim_windows_path, new_tab: true, no_visited_state: true
            )),
        ),
      ) %>

      <%= f.govuk_submit t(".continue") %>
    </div>
  </div>
<% end %>