<%= content_for :page_title, sanitize(@school.name) %>
<%= render "placements/support/primary_navigation", current_navigation: :organisations %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l"><%= @school.name %></h1>
      <%= render "placements/support/secondary_navigation", organisation: @school %>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m"><%= t(".heading") %></h2>
      <%= govuk_button_to(t(".add_user"), new_placements_support_school_user_path(@school), method: :get) %>

      <%= render partial: "shared/users_list", locals: {
        users: @users,
        school_or_org: @school,
        user_show_path: "placements_support_school_user_path",
      } %>

    </div>
  </div>
</div>
