<%= content_for :page_title, sanitize(t(".page_title", school_name: @school.name)) %>
<%= render "placements/support/primary_navigation", current_navigation: :organisations %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_school_users_path(@school)) %>
<% end %>

<div class="govuk-width-container">
  <%= render "placements/support/organisations/users/new_form",
    form_url: check_placements_support_school_users_path,
    cancel_url: placements_support_school_users_path,
    user: @user_form,
    organisation: @school %>
</div>
