<%= content_for :page_title, sanitize(t(".page_title", user_name: @user.full_name, organisation_name: @organisation.name)) %>
<%= render "placements/support/primary_navigation", current_navigation: :organisations %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_school_user_path(@organisation, @user)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render "placements/schools/users/delete",
        caption: "#{@user.full_name} - #{@organisation.name}",
        user: @user,
        organisation: @organisation,
        delete_link: placements_support_school_user_path(@organisation, @user) %>

      <p class="govuk-body">
        <%= govuk_link_to(t(".cancel"), placements_support_school_user_path(@organisation, @user), no_visited_state: true) %>
      </p>
    </div>
  </div>
</div>
