<%= content_for :page_title, sanitize("#{@user.full_name} - #{@school.name}") %>
<%= render "placements/support/primary_navigation", current_navigation: :organisations %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_school_users_path(@school)) %>
<% end %>

<%= render "placements/support/organisations/users/details",
  user: @user,
  organisation: @school %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <% if policy([:placements, @user_membership]).destroy? %>
        <%= govuk_link_to(t(".delete_user"),
                    remove_placements_support_school_user_path(@school, @user),
                    no_visited_state: true,
                    class: "app-link app-link--destructive") %>
      <% end %>
    </div>
  </div>
</div>
