<% content_for :page_title, additional_subjects_step.errors.any? ? t(".title_with_error", contextual_text:) : t(".title", contextual_text:) %>

<%= form_for(additional_subjects_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= contextual_text %></span>

      <%= f.govuk_collection_check_boxes(
        :additional_subject_ids,
        additional_subjects_step.additional_subjects_for_selection,
        :id, :name,
        legend: { size: "l", text: additional_subjects_step.parent_subject_name }
      ) %>

      <%= f.govuk_submit t(".continue") %>
    </div>
  </div>
<% end %>
