<%= content_for :page_title, sanitize(t(".page_title", contextual_text:)) %>

<div class="govuk-width-container">
  <%= render(GovukComponent::NotificationBannerComponent.new(title_text: t(".important"))) do |nb|
        nb.with_heading(text: t(".this_is_a_preview"))
      end %>

  <%= form_for(preview_placement_step, url: current_step_path, method: :put) do |f| %>
    <%= f.govuk_error_summary %>

    <%= render "placements/placements/placement_details", school: @wizard.school.decorate, placement: preview_placement_step.placement.decorate %>

    <div class="govuk-button-group">
      <%= f.govuk_submit t(".publish_placement") %>
      <%= govuk_button_link_to t(".edit_placement"), step_path(:check_your_answers), secondary: true %>
    </div>
  <% end %>
</div>
