<%= content_for :page_title, sanitize(t(".page_title", contextual_text:)) %>

<div class="govuk-width-container">
  <%= render(GovukComponent::NotificationBannerComponent.new(title_text: t(".important"))) do %>
    <h3 class="govuk-heading-m"><%= t(".this_is_a_preview") %></h3>
  <% end %>

  <%= form_for(preview_placement_step, url: current_step_path, method: :put) do |f| %>
    <%= f.govuk_error_summary %>

    <%= render "placements/placements/placement_details", school: @wizard.school.decorate, placement: preview_placement_step.placement.decorate %>

    <%= f.govuk_submit t(".publish_placement") %>
  <% end %>
</div>
