<% content_for :page_title, terms_step.errors.any? ? t(".title_with_error", contextual_text:) : t(".title", contextual_text:) %>

<%= form_for(terms_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"><%= contextual_text %></span>

        <%= f.govuk_check_boxes_fieldset :term_ids,
          legend: { size: "l",
                    text: t(".select_a_term") },
          hint: { text: t(".description") } do %>
          <% terms_step.terms_for_selection.each_with_index do |term, index| %>
            <%= f.govuk_check_box :term_ids, term.id, label: { text: term.name }, link_errors: index.zero? %>
          <% end %>
          <%= f.govuk_check_box_divider %>
          <%= f.govuk_check_box :term_ids, "any_term", label: { text: t(".any_term") }, checked: terms_step.term_ids.include?("any_term"), exclusive: true %>
        <% end %>

        <%= f.govuk_submit t(".continue") %>
      </div>
    </div>
<% end %>
