<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t(".service") %></h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= render_markdown(content) %>

      <%= govuk_start_button(text: t("start_now"), href: sign_in_path) %>
    </div>

    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s">
        <%= t(".related_content") %>
      </h3>
      <ul class="govuk-list govuk-body-s">
        <li>
          <%= govuk_link_to(
            t(".guidance.offer_trainee_teacher_placement"),
            "https://www.gov.uk/guidance/offer-a-trainee-teacher-placement",
            no_visited_state: true,
          ) %>
        </li>
        <li>
          <%= govuk_link_to(
            t(".guidance.how_to_find_a_trn"),
            "https://www.gov.uk/guidance/teacher-reference-number-trn",
            no_visited_state: true,
          ) %>
        </li>
      </ul>
    </div>
  </div>
</div>
