<%= content_for :page_title, sanitize(@provider.name) %>
<%= render "placements/support/primary_navigation", current_navigation: :organisations %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l"><%= @provider.name %></h1>
      <%= render "placements/support/secondary_navigation", organisation: @provider %>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m"><%= t(".heading") %></h2>
      <%= govuk_button_to(t(".add_user"), new_placements_support_provider_user_path(@provider), method: :get) %>

      <%= render "shared/users_list", users: @users, organisation: @provider %>
    </div>
  </div>
</div>
