<%= content_for :page_title, @user_form.errors.any? ? sanitize(t(".page_title_with_error", provider_name: @provider.name)) : sanitize(t(".page_title", provider_name: @provider.name)) %>
<%= render "placements/support/primary_navigation", current_navigation: :organisations %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_provider_users_path(@provider)) %>
<% end %>

<div class="govuk-width-container">
  <%= render "placements/support/organisations/users/new_form",
    form_url: check_placements_support_provider_users_path,
    cancel_url: placements_support_provider_users_path,
    user: @user_form,
    organisation: @provider %>
</div>
