<%= content_for :page_title, sanitize("#{@user.full_name} - #{@provider.name}") %>
<%= render "placements/support/primary_navigation", current_navigation: :organisations %>
<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_provider_users_path(@provider)) %>
<% end %>

<%= render "placements/support/organisations/users/details",
  user: @user,
  organisation: @provider %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= govuk_link_to(t(".remove_user"),
                  remove_placements_support_provider_user_path(@provider, @user),
                  no_visited_state: true,
                  class: "app-link app-link--destructive") %>
    </div>
  </div>
</div>
