<% content_for :page_title, t(".page_title") %>
<% render "claims/support/primary_navigation", current: :organisations %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: @back_path) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <label class="govuk-label govuk-label--l">
        <span class="govuk-caption-l"><%= t(".add_claim", school: @school.name) %></span>
        <%= t(".page_title") %>
      </label>

      <%= govuk_summary_list do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: Claims::Claim.human_attribute_name(:accredited_provider)) %>
          <% row.with_value(text: @valid_claim.provider_name) %>
          <% row.with_action(text: t("change"),
                             href: edit_claims_support_school_claim_path(
                               @school,
                               @valid_claim,
                               params: { revision: true },
                             ),
                             html_attributes: {
                               class: "govuk-link--no-visited-state",
                             }) %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: Claims::Claim.human_attribute_name(:mentors)) %>
          <% row.with_value do %>
            <ul class="govuk-list">
              <% @valid_claim.mentors.each do |mentor| %>
                <li><%= mentor.full_name %></li>
              <% end %>
            </ul>
          <% end %>
          <% row.with_action(text: t("change"),
                             href: edit_claims_support_school_claim_mentor_path(
                               @school, @valid_claim,
                               params: { revision: true }
                             ),
                             html_attributes: {
                               class: "govuk-link--no-visited-state",
                             }) %>
        <% end %>
      <% end %>

      <h2 class="govuk-heading-m"><%= t(".hours_of_training") %></h2>

      <%= govuk_summary_list do |summary_list| %>
        <% @valid_claim.mentor_trainings.order_by_mentor_full_name.each do |mentor_training| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: mentor_training.mentor.full_name) %>
            <% row.with_value(text: pluralize(mentor_training.hours_completed, t(".hour"))) %>
            <% row.with_action(text: t("change"),
                               href: edit_claims_support_school_claim_mentor_training_path(
                                 @school,
                                 @valid_claim,
                                 mentor_training,
                                 params: { revision: true },
                               ),
                               html_attributes: {
                                 class: "govuk-link--no-visited-state",
                               }) %>
            <% end %>
          <% end %>
      <% end %>

      <h2 class="govuk-heading-m"><%= t(".grant_funding") %></h2>
        <%= govuk_summary_list do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".total_hours")) %>
            <% row.with_value(text: pluralize(@claim.mentor_trainings.sum(:hours_completed), t(".hour"))) %>
          <% end %>

          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".hourly_rate")) %>
            <% row.with_value(text: humanized_money_with_symbol(@claim.school.region.funding_available_per_hour)) %>
          <% end %>

          <% summary_list.with_row do |row| %>
            <% row.with_key(text: Claims::Claim.human_attribute_name(:claim_amount)) %>
            <% row.with_value(text: humanized_money_with_symbol(@valid_claim.amount)) %>
          <% end %>
        <% end %>

      <%= govuk_button_to (@valid_claim.was_draft? ? t(".update") : t(".submit")), draft_claims_support_school_claim_path(@school, @valid_claim) %>

      <p class="govuk-body">
        <%= govuk_link_to t("cancel"), claims_support_school_claims_path(@school), no_visited_state: true %>
      </p>
    <div>
  <div>
</div>
