<% content_for :page_title, t(".page_title", reference: @claim.reference) %>

<% render "claims/support/primary_navigation", current: :organisations %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: claims_support_school_claims_path) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l"><%= t(".page_caption", school_name: @claim.school.name) %></span>

        <div class="govuk-heading-group">
          <%= t(".page_title", reference: @claim.reference) %>
          <%= render Claim::StatusTagComponent.new(claim: @claim) %>
        </div>
      </h1>

      <% if @claim.submitted? %>
        <p class="govuk-body"><%= t(".submitted_by", name: @claim.submitted_by.full_name, date: l(@claim.submitted_on, format: :long)) %></p>
      <% end %>

      <%= render "claims/support/claims/details", claim: @claim %>
    </div>
  </div>

  <% if policy(@claim).remove? %>
    <%= govuk_link_to t(".remove_claim"), remove_claims_support_school_claim_path(@school, @claim), class: "app-link app-link--destructive" %>
  <% end %>
</div>
