<div data-controller="filter">
  <div>
    <button class="govuk-button govuk-button--secondary show-filter-button" type="button" data-action="click->filter#open"><%= t("show_filter") %></button>
  </div>

  <%= form_with(
    model: filter_form,
    url: request.original_url,
    method: "get",
    builder: GOVUKDesignSystemFormBuilder::FormBuilder,
  ) do |form| %>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <div class="app-filter-layout display-none-on-mobile " data-filter-target="filter">
          <div class="app-filter-layout__filter">
            <div class="app-filter__header">
              <div class="app-filter__header-title">
                <h2 class="govuk-heading-m"><%= t("filter") %></h2>
              </div>
              <div class="app-filter__header-action">
                <button class="app-filter__close" type="button" data-action="click->filter#close"><%= t("close") %></button>
              </div>
            </div>

            <div class="app-filter-layout__content">
              <% if filter_form.filters_selected? %>
                <div class="app-filter-layout__selected">
                  <div class="app-filter__selected-heading">
                    <div class="app-filter__heading-title">
                      <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><%= t("selected_filters") %></h2>
                      <p class="govuk-body">
                        <%= govuk_link_to(
                          t("clear_filters"),
                          filter_form.clear_filters_path,
                          no_visited_state: true,
                        ) %>
                      </p>
                    </div>
                  </div>

                  <% if filter_form.claim_windows.present? %>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t("claims.support.claims.index.claim_window") %></h3>
                    <ul class="app-filter-tags">
                      <% filter_form.claim_windows.each do |claim_window| %>
                        <li>
                          <%= govuk_link_to(
                            claim_window.short_name,
                            filter_form.index_path_without_filter(filter: "claim_window_ids", value: claim_window.id),
                            class: "app-filter__tag",
                            no_visited_state: true,
                          ) %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>

                  <% if filter_form.training_types.present? %>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t("claims.support.claims.index.training_type") %></h3>
                    <ul class="app-filter-tags">
                      <% filter_form.training_types.each do |training_type| %>
                        <li>
                        <%= govuk_link_to(
                          training_type.titleize,
                          filter_form.index_path_without_filter(filter: "training_types", value: training_type),
                          class: "app-filter__tag",
                          no_visited_state: true,
                        ) %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>

                  <% if filter_form.statuses.present? %>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t("claims.support.claims.index.status") %></h3>
                    <ul class="app-filter-tags">
                      <% filter_form.statuses.each do |status| %>
                        <li>
                        <%= govuk_link_to(
                          Claims::Claim.human_attribute_name("status.#{status}"),
                          filter_form.index_path_without_filter(filter: "statuses", value: status),
                          class: "app-filter__tag",
                          no_visited_state: true,
                        ) %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>

                  <% if filter_form.school_ids.present? %>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t("claims.support.claims.index.school") %></h3>
                    <ul class="app-filter-tags">
                      <% filter_form.schools.each do |school| %>
                        <li>
                        <%= govuk_link_to(
                          school.name,
                          filter_form.index_path_without_filter(filter: "school_ids", value: school.id),
                          class: "app-filter__tag",
                          no_visited_state: true,
                        ) %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>

                  <% if filter_form.provider_ids.present? %>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t("claims.support.claims.index.accredited_provider") %></h3>
                    <ul class="app-filter-tags">
                      <% filter_form.providers.each do |provider| %>
                        <li>
                        <%= govuk_link_to(
                          provider.name,
                          filter_form.index_path_without_filter(filter: "provider_ids", value: provider.id),
                          class: "app-filter__tag",
                          no_visited_state: true,
                        ) %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>

                  <% if filter_form.support_user_ids.present? %>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t("claims.support.claims.index.support_user") %></h3>
                    <ul class="app-filter-tags">
                      <% filter_form.support_users.each do |support_user| %>
                        <li>
                          <%= govuk_link_to(
                            support_user.full_name,
                            filter_form.index_path_without_filter(filter: "support_user_ids", value: support_user.id),
                            class: "app-filter__tag",
                            no_visited_state: true,
                          ) %>
                        </li>
                      <% end %>
                      <% if filter_form.support_user_ids.include?(UNASSIGNED) %>
                        <li>
                          <%= govuk_link_to(
                            UNASSIGNED.titleize,
                            filter_form.index_path_without_filter(filter: "support_user_ids", value: UNASSIGNED),
                            class: "app-filter__tag",
                            no_visited_state: true,
                          ) %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>

                  <% if filter_form.mentor_ids.present? %>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t("claims.support.claims.index.mentor") %></h3>
                    <ul class="app-filter-tags">
                      <% filter_form.mentors.each do |mentor| %>
                        <li>
                        <%= govuk_link_to(
                          mentor.full_name,
                          filter_form.index_path_without_filter(filter: "mentor_ids", value: mentor.id),
                          class: "app-filter__tag",
                          no_visited_state: true,
                        ) %>
                        </li>
                      <% end %>
                    </ul>
                  <% end %>

                  <% if filter_form.submitted_after.present? %>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t("claims.support.claims.index.submitted_after") %></h3>
                    <ul class="app-filter-tags">
                      <%= govuk_link_to(
                        helpers.safe_l(filter_form.submitted_after, format: :short),
                        filter_form.index_path_without_submitted_dates("submitted_after"),
                        class: "app-filter__tag",
                        no_visited_state: true,
                      ) %>
                    </ul>
                  <% end %>

                  <% if filter_form.submitted_before.present? %>
                    <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t("claims.support.claims.index.submitted_before") %></h3>
                    <ul class="app-filter-tags">
                      <%= govuk_link_to(
                        helpers.safe_l(filter_form.submitted_before, format: :short),
                        filter_form.index_path_without_submitted_dates("submitted_before"),
                        class: "app-filter__tag",
                        no_visited_state: true,
                      ) %>
                    </ul>
                  <% end %>
                </div>
              <% end %>

              <div class="app-filter__options">
                <%= form.govuk_submit t("apply_filters") %>
                <% if @academic_years.many? %>
                  <div class="app-filter__option">
                    <%= form.govuk_radio_buttons_fieldset(
                      :academic_year_id,
                      legend: {
                        text: t("claims.support.claims.index.academic_year"),
                        size: "s",
                      },
                      small: true,
                      multiple: false,
                    ) do %>
                      <% @academic_years.each do |academic_year| %>
                        <%= form.govuk_radio_button :academic_year_id, academic_year.id, label: { text: academic_year.name } %>
                      <% end %>
                    <% end %>
                  </div>
                <% end %>

                <div class="app-filter__option">
                  <%= form.govuk_check_boxes_fieldset(
                    :claim_window_ids,
                    legend: {
                      text: t("claims.support.claims.index.claim_window"),
                      size: "s",
                    },
                    small: true,
                    multiple: false,
                  ) do %>
                    <% claim_windows.each do |claim_window| %>
                      <%= form.govuk_check_box :claim_window_ids, claim_window.id, label: { text: claim_window.short_name } %>
                    <% end %>
                  <% end %>
                </div>

                <div class="app-filter__option">
                    <%= form.govuk_check_boxes_fieldset(
                      :training_types,
                      legend: {
                        text: t("claims.support.claims.index.training_type"),
                        size: "s",
                      },
                      small: true,
                      multiple: false,
                    ) do %>
                      <% training_types.each do |training_type| %>
                        <%= form.govuk_check_box :training_types, training_type, label: { text: training_type.titleize } %>
                      <% end %>
                    <% end %>
                  </div>

                <div class="app-filter__option" data-controller="filter-search">
                  <%= form.govuk_check_boxes_fieldset(
                    :statuses,
                    legend: {
                      text: t("claims.support.claims.index.status"),
                      size: "s",
                    },
                    small: true,
                    multiple: false,
                  ) do %>
                    <% @statuses.each do |status| %>
                      <%= form.govuk_check_box :statuses, status, label: { text: Claims::Claim.human_attribute_name("status.#{status}") } %>
                    <% end %>
                  <% end %>
                </div>

                <div class="app-filter__option" data-controller="async-filter-search" data-async-filter-search-endpoint-value="/support/schools/search"
                data-async-filter-search-fieldname-value="claims_support_claims_filter_form[school_ids][]" data-async-filter-search-labelname-value="claims-support-claims-filter-form-school-ids">
                  <%= form.govuk_check_boxes_fieldset(
                    :school_ids,
                    legend: {
                      text: t("claims.support.claims.index.school"),
                      size: "s",
                    },
                    small: true,
                    multiple: false,
                  ) do %>
                    <% @schools.each do |school| %>
                      <%= form.govuk_check_box :school_ids, school.id, label: { text: school.name } %>
                    <% end %>
                  <% end %>
                </div>

                <div class="app-filter__option" data-controller="async-filter-search" data-async-filter-search-endpoint-value="/support/providers/search"
                     data-async-filter-search-fieldname-value="claims_support_claims_filter_form[provider_ids][]" data-async-filter-search-labelname-value="claims-support-claims-filter-form-provider-ids">
                  <%= form.govuk_check_boxes_fieldset(
                    :provider_ids,
                    legend: {
                      text: t("claims.support.claims.index.provider"),
                      size: "s",
                    },
                    small: true,
                    multiple: false,
                  ) do %>
                    <% @providers.each do |provider| %>
                      <%= form.govuk_check_box :provider_ids, provider.id, label: { text: provider.name } %>
                    <% end %>
                  <% end %>
                </div>

                <div class="app-filter__option" data-controller="filter-search">
                  <%= form.govuk_check_boxes_fieldset(
                    :support_user_ids,
                    legend: {
                      text: t("claims.support.claims.index.support_user"),
                      size: "s",
                    },
                    small: true,
                    multiple: false,
                  ) do %>
                    <% support_users.each do |support_user| %>
                      <%= form.govuk_check_box :support_user_ids, support_user.id, label: { text: support_user.full_name } %>
                    <% end %>
                    <%= form.govuk_check_box :support_user_ids, UNASSIGNED, label: { text: t(".unassigned") } %>
                  <% end %>
                </div>

                <div class="app-filter__option" data-controller="async-filter-search" data-async-filter-search-endpoint-value="/support/mentors/search/<%= filter_form.academic_year.id %>"
                     data-async-filter-search-fieldname-value="claims_support_claims_filter_form[mentor_ids][]" data-async-filter-search-labelname-value="claims-support-claims-filter-form-mentor-ids">
                  <%= form.govuk_check_boxes_fieldset(
                    :mentor_ids,
                    legend: {
                      text: t("claims.support.claims.index.mentor"),
                      size: "s",
                    },
                    small: true,
                    multiple: false,
                  ) do %>
                    <% mentors.each do |mentor| %>
                      <%= form.govuk_check_box :mentor_ids, mentor.id, label: { text: mentor.full_name }, hint: { text: mentor.trn, class: "secondary-text govuk-!-font-size-16" } %>
                    <% end %>
                  <% end %>
                </div>

                <div class="app-filter__option">
                  <%= form.govuk_date_field(
                    :submitted_after,
                    date_of_birth: true,
                    maxlength_enabled: true,
                    legend: { text: t("claims.support.claims.index.submitted_after"), size: "s" },
                    hint: { text: t("claims.support.claims.index.submitted_after_hint"), size: "s" },
                  ) %>
                </div>

                <div class="app-filter__option">
                  <%= form.govuk_date_field(
                    :submitted_before,
                    maxlength_enabled: true,
                    legend: { text: t("claims.support.claims.index.submitted_before"), size: "s" },
                    hint: { text: t("claims.support.claims.index.submitted_before_hint"), size: "s" },
                  ) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group search-form">
          <%= form.govuk_text_field :search, type: :search, value: filter_form.search, label: { text: t(".search_label"), size: "s" } %>
          <%= form.govuk_submit t(".submit") %>
        </div>

        <% unless filter_form.search.blank? %>
          <p class="clear-search">
            <%= govuk_link_to t(".search_clear"), filter_form.clear_search_path, no_visited_state: true %>
          </p>
        <% end %>

        <div class="govuk-section-break govuk-section-break--m govuk-section-break--visible"></div>

        <%= content %>
      </div>
    </div>
  <% end %>
</div>
