<%= content_for :page_title, t(".title", organisation_count: @pagy.count) %>

<div class="govuk-width-container" data-controller="filter">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t(".title", organisation_count: @pagy.count) %></h1>
      <%= govuk_button_link_to(t(".add_organisation"), new_add_organisation_placements_support_organisations_path) %>
    </div>
  </div>
  <div>
    <button class="govuk-button govuk-button--secondary show-filter-button" type="button" data-action="click->filter#open">
      <%= t("show_filter") %>
    </button>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= render partial: "filter", locals: { filters: @filters, search_param: params[:name_or_postcode] } %>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <%= render partial: "shared/search_form", locals: {
        url: placements_support_organisations_path,
        label: { text: t(".search_label"), size: "m" },
        name: :name_or_postcode,
        clear_search_url: placements_support_organisations_path(filters: @filters),
        filters: @filters,
      } %>
      <% if @organisations.any? %>
        <ul class="organisation-search-results">
          <% @organisations.each do |org| %>
            <%= render OrganisationListItem.new(
              organisation: org.searchable,
              organisation_url: placements_organisation_path(id: org.searchable_id, type: org.searchable_type),
              show_details: true,
            ) %>
          <% end %>
        </ul>
        <%= render PaginationComponent.new(pagy: @pagy) %>
      <% else %>
        <p><%= no_results(params[:name_or_postcode], @filters) %></p>
      <% end %>
    </div>
  </div>
</div>
