<%= content_for :page_title, sanitize(t(".page_title_#{wizard.partner_organisation_type}", contextual_text:)) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for(current_step, url: current_step_path, method: :put) do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l"><%= t(".title_#{wizard.partner_organisation_type}") %></h1>
      <p class="govuk-body"><%= t(".intro_text_#{wizard.partner_organisation_type}_html") %></p>

      <h2 class="govuk-heading-m"><%= t(".header_#{wizard.partner_organisation_type}") %></h2>
      <%= render "placements/organisations/organisation_details", organisation: wizard.partner_organisation, change_link: step_path(:partnership) %>
      <%= f.govuk_submit t(".add_partner_#{wizard.partner_organisation_type}") %>
    <% end %>
  </div>
</div>
