<% content_for :page_title, t(".page_title") %>
<% render "claims/schools/primary_navigation", school: @school, current: :claims %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: @back_path) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <label class="govuk-label govuk-label--l">
        <span class="govuk-caption-l"><%= @claim.draft? ? t(".caption_draft", reference: @claim.reference) : t(".caption") %></span>
        <%= @claim.draft? ? t(".declaration") : t(".page_title") %>
      </label>

      <%= govuk_summary_list(actions: !@claim.draft?) do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: Claims::Claim.human_attribute_name(:school)) %>
          <% row.with_value(text: @school.name) %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: Claims::Claim.human_attribute_name(:accredited_provider)) %>
          <% row.with_value(text: @claim.provider_name) %>
          <% unless @claim.draft? %>
            <% row.with_action(
              text: t("change"),
              href: create_revision_claims_school_claim_path(@school, @claim),
              visually_hidden_text: Claims::Claim.human_attribute_name(:accredited_provider),
              html_attributes: { class: "govuk-link--no-visited-state" },
            ) %>
         <% end %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: Claims::Claim.human_attribute_name(:mentors)) %>
          <% row.with_value do %>
            <ul class="govuk-list">
              <% @claim.mentors.each do |mentor| %>
                <li><%= mentor.full_name %></li>
              <% end %>
            </ul>
          <% end %>
          <% unless @claim.draft? %>
          <% row.with_action(
            text: t("change"),
            href: create_revision_claims_school_claim_mentors_path(@school, @claim),
            visually_hidden_text: Claims::Claim.human_attribute_name(:mentors),
            html_attributes: { class: "govuk-link--no-visited-state" },
          ) %>
          <% end %>
        <% end %>
      <% end %>

      <h2 class="govuk-heading-m"><%= t(".hours_of_training") %></h2>

      <%= govuk_summary_list(actions: !@claim.draft?) do |summary_list| %>
        <% @claim.mentor_trainings.order_by_mentor_full_name.each do |mentor_training| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: mentor_training.mentor.full_name) %>
            <% row.with_value(text: pluralize(mentor_training.hours_completed, t(".hour"))) %>
            <% unless @claim.draft? %>
              <% row.with_action(
                text: t("change"),
                href: create_revision_claims_school_claim_mentor_training_path(
                  @school,
                  @claim,
                  mentor_training.mentor_id,
                ),
                visually_hidden_text: "Hours of training for #{mentor_training.mentor.full_name}",
                html_attributes: { class: "govuk-link--no-visited-state" },
              ) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <h2 class="govuk-heading-m"><%= t(".grant_funding") %></h2>
        <%= govuk_summary_list(actions: false) do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".total_hours")) %>
            <% row.with_value(text: pluralize(@claim.mentor_trainings.sum(:hours_completed), t(".hour"))) %>
          <% end %>

          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".hourly_rate")) %>
            <% row.with_value(text: humanized_money_with_symbol(@claim.school.region.funding_available_per_hour)) %>
          <% end %>

          <% summary_list.with_row do |row| %>
            <% row.with_key(text: Claims::Claim.human_attribute_name(:claim_amount)) %>
            <% row.with_value(text: humanized_money_with_symbol(@claim.amount)) %>
          <% end %>
        <% end %>

      <p class="govuk-body"><%= t(".disclaimer") %></p>

      <ul class="govuk-list govuk-list--bullet">
        <li><%= t(".claim_on_behalf_of_school") %></li>
        <li><%= t(".read_and_accepted_grant_conditions") %></li>
        <li><%= t(".accurate_information") %></li>
        <li><%= t(".provide_evidence") %></li>
      </ul>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text"><%= t(".warning") %></strong>
      </div>

      <%= govuk_button_to t(".submit"), submit_claims_school_claim_path(@school, @claim) %>

      <p class="govuk-body">
        <%= govuk_link_to t("cancel"), claims_school_claims_path(@school), no_visited_state: true %>
      </p>
    <div>
  <div>
</div>
