<% content_for :page_title, t(".page_title") %>
<% render "claims/schools/primary_navigation", school: @school, current: :claims %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: @back_path) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <label class="govuk-label govuk-label--l">
        <span class="govuk-caption-l"><%= t(".add_claim") %></span>
        <%= t(".page_title") %>
      </label>

      <%= govuk_summary_list do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: Claims::Claim.human_attribute_name(:school_name)) %>
          <% row.with_value(text: @school.name) %>
          <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: Claims::Claim.human_attribute_name(:accredited_provider)) %>
          <% row.with_value(text: @claim.provider_name) %>
          <% row.with_action(text: t("change"),
                             href: edit_claims_school_claim_path(
                               @school,
                               @claim,
                             ),
                             html_attributes: {
                               class: "govuk-link--no-visited-state",
                             }) %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: Claims::Claim.human_attribute_name(:mentors)) %>
          <% row.with_value do %>
            <ul class="govuk-list">
              <% @claim.mentors.each do |mentor| %>
                <li><%= mentor.full_name %></li>
              <% end %>
            </ul>
          <% end %>
          <% row.with_action(text: t("change"),
                             href: edit_claims_school_claim_mentor_path(@school, @claim),
                             html_attributes: {
                               class: "govuk-link--no-visited-state",
                             }) %>
        <% end %>
      <% end %>

      <h2 class="govuk-heading-m"><%= t(".hours_of_training") %></h2>

      <%= govuk_summary_list do |summary_list| %>
        <% @claim.mentor_trainings.order_by_mentor_full_name.each do |mentor_training| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: mentor_training.mentor.full_name) %>
            <% row.with_value(text: t(".hours", hours: mentor_training.hours_completed)) %>
            <% row.with_action(text: t("change"),
                               href: edit_claims_school_claim_mentor_training_path(
                                 @school,
                                 @claim,
                                 mentor_training,
                                 params: {
                                   claims_claim_mentor_training_form: { hours_completed: mentor_training.hours_completed },
                                 },
                               ),
                               html_attributes: {
                                 class: "govuk-link--no-visited-state",
                               }) %>
            <% end %>
          <% end %>
      <% end %>

      <h2 class="govuk-heading-m"><%= t(".grant_funding") %></h2>
        <%= govuk_summary_list do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: Claims::Claim.human_attribute_name(:claim_amount)) %>
            <% row.with_value(text: humanized_money_with_symbol(@claim.amount)) %>
          <% end %>
        <% end %>

      <h3 class="govuk-heading-m"><%= t(".declaration") %></h3>
      <p class="govuk-body"><%= t(".disclaimer") %></p>

      <ul class="govuk-list govuk-list--bullet">
        <li><%= t(".claim_on_behalf_of_school") %></li>
        <li><%= t(".accurate_information") %></li>
        <li><%= t(".provide_evidence") %></li>
      </ul>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text"><%= t(".warning") %></strong>
      </div>

      <%= govuk_button_to t(".submit"), submit_claims_school_claim_path(@school, @claim) %>

      <p class="govuk-body">
        <%= govuk_link_to t("cancel"), claims_school_claims_path(@school), no_visited_state: true %>
      </p>
    <div>
  <div>
</div>
