<% content_for(:page_title) { t(".page_title") } %>
<% render "claims/schools/primary_navigation", school: @school, current: :claims %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: claims_school_claim_path(@school, @claim)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= t(".caption", reference: @claim.reference) %></span>
      <h1 class="govuk-heading-l"><%= t(".warning") %></h1>

      <%= govuk_button_to t(".remove_claim"), claims_school_claim_path(@school, @claim), warning: true, method: :delete %>

      <p class="govuk-body">
        <%= govuk_link_to(t(".cancel"), claims_school_claim_path(@school, @claim), no_visited_state: true) %>
      </p>
    </div>
  </div>
</div>
