<% render "claims/schools/primary_navigation", school: @school, current: :claims %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: claims_school_claims_path) %>
<% end %>

<div class="govuk-width-container">
  <h1 class="govuk-heading-l"><%= t(".heading") %></h1>
  <h2 class="govuk-heading-m"><%= t(".providers_heading") %></h2>

  <%= govuk_task_list(id_prefix: "providers", classes: "providers-task-list") do |task_list| %>
    <%= task_list.with_item(
      title: t(".itt_providers"),
      href: edit_claims_school_claim_path(@school, @claim, "providers"),
      status: govuk_tag(
        text: @claim.item_status_tag("providers").fetch(:text),
        colour: @claim.item_status_tag("providers").fetch(:colour),
      ),
    ) %>
  <% end %>

  <h2 class="govuk-heading-m"><%= t(".mentors_heading") %></h2>
  <%= govuk_task_list(id_prefix: "mentors", classes: "mentors-task-list") do |task_list| %>
    <%= task_list.with_item(
      title: t(".general_mentors"),
      href: edit_claims_school_claim_path(@school, @claim, "mentors"),
      status: govuk_tag(
        text: @claim.item_status_tag("mentors").fetch(:text),
        colour: @claim.item_status_tag("mentors").fetch(:colour),
      ),
    ) %>
  <% end %>
</div>
