<% content_for :page_title, t(".page_title", reference: @claim.reference) %>

<% render "claims/schools/primary_navigation", school: @school, current: :claims %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: claims_school_claims_path) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <div class="govuk-heading-group">
          <%= t(".page_title", reference: @claim.reference) %>
          <%= render Claim::StatusTagComponent.new(claim: @claim) %>
        </div>
      </h1>

      <% if policy(@claim).submit? %>
        <%= govuk_button_to t(".submit"), check_claims_school_claim_path(@school, @claim), method: :get %>
      <% else %>
        <p class="govuk-body"><%= t(".submitted_by", name: @claim.submitted_by.full_name, date: l(@claim.submitted_on, format: :long)) %></p>
      <% end %>

      <%= govuk_summary_list do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: Claims::Claim.human_attribute_name(:school)) %>
          <% row.with_value(text: @school.name) %>
        <% end %>

        <% if @claim.provider %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: Claims::Claim.human_attribute_name(:accredited_provider)) %>
            <% row.with_value(text: @claim.provider.name) %>
            <% if @claim.draft? %>
              <% row.with_action(
                text: t("change"),
                href: create_revision_claims_school_claim_path(@school, @claim),
                visually_hidden_text: Claims::Claim.human_attribute_name(:accredited_provider),
                html_attributes: { class: "govuk-link--no-visited-state" },
              ) %>
            <% end %>
          <% end %>
        <% else %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: Claims::Claim.human_attribute_name(:accredited_provider)) %>
            <% row.with_value(text: t("none")) %>
          <% end %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: t(".mentors")) %>
          <% row.with_value do %>
            <ul class="govuk-list">
              <% @claim.mentors.each do |mentor| %>
                <li><%= mentor.full_name %></li>
              <% end %>
            </ul>
          <% end %>
          <% if @claim.draft? %>
            <% row.with_action(
              text: t("change"),
              href: create_revision_claims_school_claim_mentors_path(@school, @claim),
              visually_hidden_text: Claims::Claim.human_attribute_name(:mentors),
              html_attributes: { class: "govuk-link--no-visited-state" },
            ) %>
          <% end %>
        <% end %>
      <% end %>

      <h2 class="govuk-heading-m"><%= t(".hours_of_training") %></h2>
        <%= govuk_summary_list do |summary_list| %>
         <%= @claim.mentor_trainings.order_by_mentor_full_name.each do |mentor_training| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: mentor_training.mentor.full_name) %>
            <% row.with_value(text: pluralize(mentor_training.hours_completed, t(".hour"))) %>
            <% if @claim.draft? %>
              <% row.with_action(
                text: t("change"),
                href: create_revision_claims_school_claim_mentor_training_path(
                  @school,
                  @claim,
                  mentor_training.mentor_id,
                ),
                visually_hidden_text: "Hours of training for #{mentor_training.mentor.full_name}",
                html_attributes: { class: "govuk-link--no-visited-state" },
              ) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <h2 class="govuk-heading-m"><%= t(".grant_funding") %></h2>
        <%= govuk_summary_list do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".total_hours")) %>
            <% row.with_value(text: pluralize(@claim.mentor_trainings.sum(:hours_completed), t(".hour"))) %>
          <% end %>

          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".hourly_rate")) %>
            <% row.with_value(text: humanized_money_with_symbol(@claim.school.region.funding_available_per_hour)) %>
          <% end %>

          <% summary_list.with_row do |row| %>
            <% row.with_key(text: Claims::Claim.human_attribute_name(:claim_amount)) %>
            <% row.with_value(text: humanized_money_with_symbol(@claim.amount)) %>
          <% end %>
        <% end %>

        <% if policy(@claim).remove? %>
          <%= govuk_link_to t(".remove_claim"), remove_claims_school_claim_path(@school, @claim), class: "app-link app-link--destructive" %>
        <% end %>
    </div>
  </div>
</div>
