<%= content_for :page_title, sanitize(t(".page_title", reference: current_step.claim.reference)) %>

<%= form_for(current_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= t(".caption", reference: current_step.claim.reference) %></span>
      <h1 class="govuk-heading-l"><%= t(".title") %></h1>

      <% @wizard.selected_mentor_trainings.each_with_index do |mentor_training, index| %>
        <h2 class="govuk-heading-m">
          <%= t(".provider_rejection_details", mentor_name: mentor_training.mentor_full_name) %>
        </h2>

        <%= govuk_summary_list(html_attributes: { id: "provider_rejection_details_#{index + 1}" }) do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: Claims::MentorTraining.human_attribute_name("mentor")) %>
            <% row.with_value(text: mentor_training.mentor_full_name) %>
            <% row.with_action(text: t(".change"),
                               href: step_path(:mentor_training),
                               visually_hidden_text: Claims::MentorTraining.human_attribute_name("mentor"),
                               classes: ["govuk-link--no-visited-state"]) %>
          <% end %>

          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".original_number_of_hours_claimed")) %>
            <% row.with_value(text: t(".hours", count: mentor_training.hours_completed)) %>
          <% end %>

          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".reason_for_rejection")) %>
            <% row.with_value(
              text: sanitize(@wizard.steps.fetch(@wizard.step_name_for_provider_response(mentor_training)).reason_not_assured),
            ) %>
            <% row.with_action(text: t(".change"),
                               href: step_path(@wizard.step_name_for_provider_response(mentor_training)),
                               visually_hidden_text: "#{t(".reason_for_rejection")} for #{mentor_training.mentor_full_name}",
                               classes: ["govuk-link--no-visited-state"]) %>
          <% end %>
        <% end %>
      <% end %>

      <%= govuk_warning_text do %>
        <%= t(".rejecting_these_mentors_will_update_status") %>
      <% end %>

      <%= f.govuk_submit t(".confirm") %>
    </div>
  </div>
<% end %>
