<%# locals: { current_step:, wizard:, potential: false } -%>

<h2 class="govuk-heading-m">
  <%= potential ? t(".potential_education_phase") : t(".education_phase") %>
</h2>

<%= render "shared/wizards/placements/multiple_placements_wizard/check_your_answers/education_phase_list",
 current_step: %>

<% if current_step.year_groups.present? %>
  <h2 class="govuk-heading-m">
    <%= potential ? t(".potential_primary_placements") : t(".primary_placements") %>
  </h2>

  <%= render "shared/wizards/placements/multiple_placements_wizard/check_your_answers/primary_placements_list",
    wizard:, current_step: %>
<% end %>

<% if current_step.selected_secondary_subjects.present? %>
  <h2 class="govuk-heading-m">
    <%= potential ? t(".potential_secondary_placements") : t(".secondary_placements") %>
  </h2>

  <%= render "shared/wizards/placements/multiple_placements_wizard/check_your_answers/secondary_placements_list",
    wizard:, current_step: %>
<% end %>

<% if current_step.sen_quantity.positive? %>
  <h2 class="govuk-heading-m">
    <%= potential ? t(".potential_send_placements") : t(".send_placements") %>
  </h2>

  <%= render "shared/wizards/placements/multiple_placements_wizard/check_your_answers/send_placements_list",
    wizard:, current_step: %>
<% end %>
