<div class="app-filter-layout display-none-on-mobile " data-filter-target="filter">
  <div class="app-filter-layout__filter">
    <div class="app-filter__header">
      <div class="app-filter__header-title">
        <h2 class="govuk-heading-m"><%= t("filter") %></h2>
      </div>
      <div class="app-filter__header-action">
        <button class="app-filter__close" type="button" data-action="click->filter#close">
          <%= t("close") %>
        </button>
      </div>
    </div>
    <div class="app-filter-layout__content">
      <% if filter_form.filters_selected? %>
        <div class="app-filter-layout__selected">
          <div class="app-filter__selected-heading">
            <div class="app-filter__heading-title">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><%= t("selected_filters") %></h2>
              <p class="govuk-body">
                <%= govuk_link_to(
                  t("clear_filters"),
                  filter_form.clear_filters_path(search_location:),
                  no_visited_state: true,
                ) %>
              </p>
            </div>
          </div>

          <% if filter_form.subject_ids.present? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".subject") %></h3>
            <ul class="app-filter-tags">
              <% filter_form.subjects.each do |subject| %>
                <li>
                  <%= govuk_link_to(
                        subject.name,
                        filter_form.index_path_without_filter(
                          filter: "subject_ids",
                          value: subject.id,
                          search_location:,
                        ),
                        class: "app-filter__tag",
                        no_visited_state: true,
                      ) %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <% if filter_form.year_groups.present? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".year_group") %></h3>
            <ul class="app-filter-tags">
              <% filter_form.year_groups.each do |year_group| %>
                <li>
                  <%= govuk_link_to(
                        t("placements.schools.placements.year_groups.#{year_group}"),
                        filter_form.index_path_without_filter(
                          filter: "year_groups",
                          value: year_group,
                        ),
                        class: "app-filter__tag",
                        no_visited_state: true,
                      ) %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <% if filter_form.only_partner_schools.present? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".partner_schools") %></h3>
            <ul class="app-filter-tags">
              <li>
                <%= govuk_link_to(
                      t(".partner_schools"),
                      filter_form.index_path_without_filter(
                        filter: "only_partner_schools",
                        value: true,
                        search_location:,
                      ),
                      class: "app-filter__tag",
                      no_visited_state: true,
                    ) %>
              </li>
            </ul>
          <% end %>

          <% if filter_form.school_ids.present? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".school") %></h3>
            <ul class="app-filter-tags">
              <% filter_form.schools.each do |school| %>
                <li>
                  <%= govuk_link_to(
                    school.name,
                    filter_form.index_path_without_filter(
                      filter: "school_ids",
                      value: school.id,
                      search_location:,
                    ),
                    class: "app-filter__tag",
                    no_visited_state: true,
                  ) %>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      <% end %>

      <div class="app-filter__options">
        <%= form_with(
          model: filter_form,
          scope: :filters,
          url: placements_placements_path,
          method: "get",
        ) do |form| %>
          <%= form.govuk_submit t("apply_filters") %>
          <%= form.hidden_field :search_location, value: search_location %>

          <div class="app-filter__option">
            <%= form.govuk_radio_buttons_fieldset(
              :placements_to_show,
              legend: { text: t(".placements_to_show_title"), size: "s" },
              small: true,
              multiple: false,
            ) do %>
              <%= form.govuk_radio_button :placements_to_show,
                :available_placements,
                label: { text: t(".placements_to_show.available_placements") },
                checked: filter_form.placements_to_show == "available_placements",
                multiple: false %>
              <%= form.govuk_radio_button :placements_to_show,
                :assigned_to_me,
                label: { text: t(".placements_to_show.assigned_to_me") },
                checked: filter_form.placements_to_show == "assigned_to_me",
                multiple: false %>
              <%= form.govuk_radio_button :placements_to_show,
                :all_placements,
                label: { text: t(".placements_to_show.all_placements") },
                checked: filter_form.placements_to_show == "all_placements",
                multiple: false %>
            <% end %>
          </div>

        <div class="app-filter__option">
            <%= form.govuk_radio_buttons_fieldset(
              :academic_year_id,
              legend: { text: "Academic year", size: "s" },
              small: true,
              multiple: false,
            ) do %>
              <%= form.govuk_radio_button :academic_year_id,
                @current_academic_year.id,
                label: { text: "This academic year (#{@current_academic_year.name})" },
                checked: filter_form.academic_year_id == @current_academic_year.id,
                multiple: false %>
              <%= form.govuk_radio_button :academic_year_id,
                @current_academic_year.next.id,
                label: { text: "Next academic year (#{@current_academic_year.next.name})" },
                checked: filter_form.academic_year_id == @current_academic_year.next.id,
                multiple: false %>
            <% end %>
          </div>

          <div class="app-filter__option" data-controller="filter-search">
            <%= form.govuk_check_boxes_fieldset(
              :subject_ids,
              legend: {
                text: t(".subject"),
                size: "s",
              },
              small: true,
            ) do %>
              <% @subjects.each do |subject| %>
                <%= form.govuk_check_box :subject_ids,
                                         subject.id,
                                         label: { text: subject.name } %>
              <% end %>
            <% end %>
          </div>

          <div class="app-filter__option">
            <%= form.govuk_check_boxes_fieldset(
              :year_groups,
              legend: { text: t(".year_group"), size: "s" },
              small: true,
            ) do %>
              <% @year_groups.each do |year_group| %>
                <%= form.govuk_check_box :year_groups,
                                         year_group.value,
                                         label: { text: year_group.name } %>
              <% end %>
            <% end %>
          </div>

          <div class="app-filter__option">
            <%= form.govuk_check_boxes_fieldset(
              :only_partner_schools,
              legend: { text: t(".partner_schools"), size: "s" },
              multiple: false,
              small: true,
            ) do %>

              <%= form.govuk_check_box :only_partner_schools,
                                       true,
                                       label: { text: t(".only_show_partner_schools") },
                                       multiple: false,
                                       checked: filter_form.only_partner_schools == true %>

            <% end %>
          </div>

          <div class="app-filter__option" data-controller="filter-search">
            <%= form.govuk_check_boxes_fieldset(
              :school_ids,
              legend: {
                text: t(".school"),
                size: "s",
              },
              small: true,
            ) do %>

              <% @schools.each do |school| %>
                <%= form.govuk_check_box :school_ids,
                  school.id,
                  label: { text: school.name } %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
