<div class="app-filter-layout display-none-on-mobile " data-filter-target="filter">
  <div class="app-filter-layout__filter">
    <div class="app-filter__header">
      <div class="app-filter__header-title">
        <h2 class="govuk-heading-m"><%= t("filter") %></h2>
      </div>
      <div class="app-filter__header-action">
        <button class="app-filter__close" type="button" data-action="click->filter#close">
          <%= t("close") %>
        </button>
      </div>
    </div>
    <div class="app-filter-layout__content">
      <% if filter_form.filters_selected? %>
        <div class="app-filter-layout__selected">
          <div class="app-filter__selected-heading">
            <div class="app-filter__heading-title">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><%= t("selected_filters") %></h2>
              <p class="govuk-body">
                <%= govuk_link_to(
                  t("clear_filters"),
                  filter_form.clear_filters_path(search_location:),
                  no_visited_state: true,
                ) %>
              </p>
            </div>
          </div>

          <% if filter_form.school_ids.present? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".school") %></h3>
            <ul class="app-filter-tags">
              <% filter_form.schools.each do |school| %>
                <li>
                  <%= govuk_link_to(
                    school.name,
                    filter_form.index_path_without_filter(
                      filter: "school_ids",
                      value: school.id,
                      search_location:,
                    ),
                    class: "app-filter__tag",
                    no_visited_state: true,
                  ) %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <% if filter_form.subject_ids.present? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".subject") %></h3>
            <ul class="app-filter-tags">
              <% filter_form.subjects.each do |subject| %>
                <li>
                  <%= govuk_link_to(
                    subject.name,
                    filter_form.index_path_without_filter(
                      filter: "subject_ids",
                      value: subject.id,
                      search_location:,
                    ),
                    class: "app-filter__tag",
                    no_visited_state: true,
                  ) %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <% if filter_form.establishment_groups.present? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".establishment_group") %></h3>
            <ul class="app-filter-tags">
              <% filter_form.establishment_groups.each do |establishment_group| %>
                <li>
                  <%= govuk_link_to(
                    establishment_group,
                    filter_form.index_path_without_filter(
                      filter: "establishment_groups",
                      value: establishment_group,
                      search_location:,
                    ),
                    class: "app-filter__tag",
                    no_visited_state: true,
                  ) %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <% if filter_form.only_partner_schools.present? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".partner_schools") %></h3>
            <ul class="app-filter-tags">
              <li>
                <%= govuk_link_to(
                      t(".partner_schools"),
                      filter_form.index_path_without_filter(
                        filter: "only_partner_schools",
                        value: true,
                        search_location:,
                      ),
                      class: "app-filter__tag",
                      no_visited_state: true,
                    ) %>
              </li>
            </ul>
          <% end %>

          <% if filter_form.only_available_placements.present? %>
            <h3 class="govuk-heading-s govuk-!-margin-bottom-0"><%= t(".availability") %></h3>
            <ul class="app-filter-tags">
              <li>
                <%= govuk_link_to(
                      t(".availability"),
                      filter_form.index_path_without_filter(filter: "only_available_placements", value: true),
                      class: "app-filter__tag",
                      no_visited_state: true,
                    ) %>
              </li>
            </ul>
          <% end %>
        </div>
      <% end %>

      <div class="app-filter__options">
        <%= form_with(
          model: filter_form,
          scope: :filters,
          url: placements_placements_path,
          method: "get",
          data: { turbo: false, controller: "placements-filter-search" },
        ) do |form| %>
          <%= form.govuk_submit t("apply_filters") %>
          <%= form.hidden_field :search_location, value: search_location %>

          <div class="app-filter__option">
            <%= form.govuk_check_boxes_fieldset(
              :only_partner_schools,
              legend: { text: t(".partner_schools"), size: "s" },
              multiple: false,
              small: true,
            ) do %>

              <%= form.govuk_check_box :only_partner_schools,
                                       true,
                                       label: { text: t(".only_show_partner_schools") },
                                       multiple: false,
                                       checked: filter_form.only_partner_schools == true %>

            <% end %>
          </div>

          <div class="app-filter__option">
            <%= form.govuk_check_boxes_fieldset(
              :only_available_placements,
              legend: { text: t(".availability"), size: "s" },
              small: true,
              multiple: false,
            ) do %>

              <%= form.govuk_check_box :only_available_placements,
                                       true,
                                       label: { text: t(".available_text") },
                                       checked: filter_form.only_available_placements.present?,
                                       multiple: false %>
            <% end %>
          </div>

          <div class="app-filter__option">
            <%= form.govuk_text_field(
              :search_school,
              type: :search,
              data: {
                placements_filter_search_target: "schoolInput",
                action: "input->placements-filter-search#searchSchool",
              },
              label: { text: t(".school"), size: "s" },
            ) %>

            <%= form.govuk_check_boxes_fieldset(
              :school_ids,
              legend: { hidden: "true" },
              data: { placements_filter_search_target: "schoolList" },
              small: true,
            ) do %>
              <% @schools.each do |school| %>
                <%= form.govuk_check_box :school_ids,
                  school.id,
                  label: { text: school.name } %>
              <% end %>
            <% end %>
          </div>

          <div class="app-filter__option">
            <%= form.govuk_text_field(
              :search_subject,
              type: :search,
              data: {
                placements_filter_search_target: "subjectInput",
                action: "input->placements-filter-search#searchSubject",
              },
              label: { text: t(".subject"), size: "s" },
            ) %>

            <%= form.govuk_check_boxes_fieldset(
              :subject_ids,
              legend: { hidden: true },
              data: { placements_filter_search_target: "subjectList" },
              small: true,
            ) do %>
              <% @subjects.each do |subject| %>
                <%= form.govuk_check_box :subject_ids,
                  subject.id,
                  label: { text: subject.name } %>
              <% end %>
            <% end %>
          </div>

          <div class="app-filter__option">
            <%= form.govuk_text_field(
              :search_establishment_groups,
              type: :search,
              data: {
                placements_filter_search_target: "establishmentGroupInput",
                action: "input->placements-filter-search#searchEstablishmentGroup",
              },
              label: { text: t(".establishment_group"), size: "s" },
            ) %>

            <%= form.govuk_check_boxes_fieldset(
              :establishment_groups,
              legend: { hidden: true },
              data: { placements_filter_search_target: "establishmentGroupList" },
              small: true,
            ) do %>
              <% @establishment_groups.each do |establishment_groups| %>
                <%= form.govuk_check_box :establishment_groups,
                  establishment_groups,
                  label: { text: establishment_groups } %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
