<% content_for(:page_title) { t(".placements") } %>
<%= render "placements/providers/primary_navigation", provider: @organisation, current_navigation: :placements %>

<div class="govuk-width-container" data-controller="filter">
  <h1 class="govuk-heading-l">
    <%= t(".placements") %>
  </h1>
  <h2 class="govuk-heading-m">
    <%= t(".placements_found", count: @pagy.count) %>
  </h2>
  <div>
    <button class="govuk-button govuk-button--secondary show-filter-button" type="button" data-action="click->filter#open">
      <%= t("show_filter") %>
    </button>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <%= render partial: "filter", locals: { search_location: @search_location } %>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m"><%= t(".enter_a_location") %></h2>
      <%= render partial: "shared/search_form", locals: {
        url: placements_placements_path,
        label: { hidden: true },
        caption: { text: t(".location_search_example") },
        name: :search_location,
        clear_search_url: placements_placements_path(filters: filter_form.attributes),
        filters: filter_form.attributes,
        value: @search_location,
      } %>
      <% if @placements.any? %>
        <ul class="app-search-results">
          <%= render(Placement::SummaryComponent.with_collection(@placements, provider: @organisation, location_coordinates:)) %>
        </ul>
        <%= render PaginationComponent.new(pagy: @pagy) %>
      <% else %>
        <p>
          <%= t(".no_results") %>
        </p>
      <% end %>
    </div>
  </div>
</div>
