<% content_for :page_title, title_with_error_prefix(t(".page_title", contextual_text:), error: current_step.errors.any?) %>

<div class="govuk-width-container">
  <%= form_with(model: current_step, url: current_step_path, method: :put) do |f| %>
    <%= f.govuk_error_summary %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">  <%= contextual_text %></span>
        <h1 class="govuk-heading-l"><%= t(".find_teacher") %></h1>

        <div class="govuk-form-group">
          <%= f.govuk_text_field :trn,
                                  width: "two-thirds",
                                  label: { text: t(".trn"), size: "s" },
                                  hint: { text: t(".trn_hint") } %>
        </div>

        <%= govuk_details(summary_text: t(".help_with_the_trn")) do %>
          <p>
            <%= t(".guidance_html", guidance_link: govuk_link_to(t(".guidance_link_text"), "https://www.gov.uk/guidance/teacher-reference-number-trn", new_tab: true, no_visited_state: true)) %>
          </p>
        <% end %>

        <%= f.govuk_date_field(
              :date_of_birth,
              date_of_birth: true,
              maxlength_enabled: true,
              legend: { text: Mentor.human_attribute_name(:date_of_birth), size: "s" },
              hint: { text: t(".date_of_birth_hint"), size: "s" },
            ) %>

        <%= f.govuk_submit t(".continue") %>
      </div>
    </div>
  <% end %>
</div>
