<% content_for :page_title, t(".page_title") %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= @mentor.full_name %></span>
      <h1 class="govuk-heading-l"><%= t(".cant_remove_mentor") %></h1>
      <p class="govuk-body"><%= t(".included_in_claim") %></p>
      <p class="govuk-body"><%= t(".can_remove_when_claim_processed") %></p>
    </div>
  </div>

  <%= govuk_link_to t(".cancel"), claims_support_school_mentors_path(@school), no_visited_state: true %>
