<% content_for :page_title, t(".page_title", school_name: @school.name) %>
<% render "claims/support/primary_navigation", current: :organisations %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: new_claims_support_school_mentor_path(@school, params: mentor_form.as_form_params)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with(model: mentor_form, url: claims_support_school_mentors_path, method: :post) do |f| %>
        <%= f.hidden_field :first_name, value: mentor_form.mentor.first_name %>
        <%= f.hidden_field :last_name, value: mentor_form.mentor.last_name %>
        <%= f.hidden_field :trn, value: mentor_form.trn %>
        <%= f.govuk_date_field :date_of_birth, hidden: true, date_of_birth: true %>

        <label class="govuk-label govuk-label--l">
          <span class="govuk-caption-l"><%= t(".add_mentor_with_school_name", school_name: @school.name) %></span>
          <%= t(".check_your_answers") %>
        </label>

        <%= govuk_summary_list do |summary_list| %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: Mentor.human_attribute_name("first_name")) %>
            <% row.with_value(text: mentor_form.mentor.first_name) %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: Mentor.human_attribute_name("last_name")) %>
            <% row.with_value(text: mentor_form.mentor.last_name) %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".trn")) %>
            <% row.with_value(text: mentor_form.trn) %>
            <% row.with_action(text: t(".change"),
                               href: new_claims_support_school_mentor_path(params: mentor_form.as_form_params),
                               html_attributes: {
                                 class: "govuk-link--no-visited-state",
                               },
                               visually_hidden_text: t(".trn")) %>
          <% end %>
          <% summary_list.with_row do |row| %>
            <% row.with_key(text: t(".date_of_birth")) %>
            <% row.with_value(text: safe_l(mentor_form.date_of_birth, format: :short)) %>
            <% row.with_action(text: t(".change"),
                               href: new_claims_school_mentor_path(params: mentor_form.as_form_params),
                               html_attributes: {
                                 class: "govuk-link--no-visited-state",
                               },
                               visually_hidden_text: t(".date_of_birth")) %>
          <% end %>
        <% end %>
        <%= f.govuk_submit t(".save_mentor") %>
        <p class="govuk-body">
          <%= govuk_link_to(t(".cancel"), claims_support_school_mentors_path(@school), no_visited_state: true) %>
        </p>
      <% end %>
    </div>
  </div>
</div>
