<% content_for :page_title, title_with_error_prefix(
  t(".page_title", school_name: @school.name),
  error: mentor_form.errors.any?,
) %>
<% render "claims/support/primary_navigation", current: :organisations %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: claims_support_school_mentors_path(@school)) %>
<% end %>

<div class="govuk-width-container">
  <%= form_with(model: mentor_form, url: check_claims_support_school_mentors_path, method: "get") do |f| %>
    <%= f.govuk_error_summary %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-form-group">
          <span class="govuk-caption-l"><%= t(".add_mentor", school_name: @school.name) %></span>
          <h1 class="govuk-heading-l"><%= t(".find_teacher") %></h1>
          <%= f.govuk_text_field :trn,
                                  width: "two-thirds",
                                  label: { text: t(".trn"), size: "s" },
                                  hint: { text: t(".trn_hint") } %>

          <%= f.govuk_date_field(
            :date_of_birth,
            maxlength_enabled: true,
            legend: { text: Mentor.human_attribute_name(:date_of_birth), size: "s" },
            hint: { text: t(".date_of_birth_hint"), size: "s" },
          ) %>
        </div>

        <%= f.govuk_submit t(".continue") %>
        <p class="govuk-body">
          <%= govuk_link_to(t(".cancel"), claims_support_school_mentors_path(@school), no_visited_state: true) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
