<%= content_for :page_title, @user_form.errors.any? ? sanitize(t(".page_title_with_error", school_name: @school.name)) : sanitize(t(".page_title", school_name: @school.name)) %>
<% render "claims/schools/primary_navigation", school: @school, current: :users %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: claims_school_users_path(@school)) %>
<% end %>

<div class="govuk-width-container">
  <%= form_with(model: @user_form, url: check_claims_school_users_path, method: "get") do |f| %>
    <%= f.govuk_error_summary %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"><%= t(".caption", school_name: @school.name) %></span>
        <h1 class="govuk-heading-l"><%= t(".description") %></h1>

        <div class="govuk-form-group">
          <%= f.govuk_text_field :first_name,
                                  class: "govuk-input--width-20",
                                  label: { text: User.human_attribute_name("first_name"), size: "s" } %>
        </div>

        <div class="govuk-form-group">
          <%= f.govuk_text_field :last_name,
                                  class: "govuk-input--width-20",
                                  label: { text: User.human_attribute_name("last_name"), size: "s" } %>
        </div>

        <div class="govuk-form-group">
          <%= f.govuk_text_field :email, label: { text: User.human_attribute_name("email"), size: "s" } %>
        </div>

        <%= f.govuk_submit t(".continue") %>

        <p class="govuk-body">
          <%= govuk_link_to(t(".cancel"), claims_school_users_path(@school), no_visited_state: true) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
