<% content_for :breadcrumbs, govuk_breadcrumbs(breadcrumbs: { t("home") => claims_root_path }, collapse_on_mobile: true) %>
<% content_for :page_title, t(".page_title") %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Accessibility statement for Claim funding for mentor training</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        This accessibility statement applies to the Claim funding for mentor training website.
      </p>

      <p class="govuk-body">
        This website is run by the Department for Education. We want as many people as possible to be able to use this website. For example, that means you should be able to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>change colours, contrast levels and fonts</li>
        <li>zoom in up to 400% without the text spilling off the screen</li>
        <li>navigate most of the website using just a keyboard</li>
        <li>navigate most of the website using speech recognition software</li>
        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)
      </ul>

      <p class="govuk-body">We've also made the website text as simple as possible to understand.</p>

      <p class="govuk-body">
        <%= govuk_link_to("AbilityNet", "https://mcmw.abilitynet.org.uk/", new_tab: true) %> has advice on making your device easier to use if you have a disability.
      </p>

      <h2 class="govuk-heading-m">How accessible this website is</h2>

      <p class="govuk-body">We know some parts of this website are not fully accessible:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Unsupported aria attributes. It is important to ensure that an element’s role supports its ARIA attributes. This fails WCAG Level A 2.2: 4.1.2 Name, Role, Value. This issue is being tracked by the GOV.UK Design System team as part a wider issue beyond our service – our implementation currently follows their guidance and any future changes they recommend regarding this issue will be implemented in this service.</li>
      </ul>

      <h2 class="govuk-heading-m">Feedback and contact information</h2>

      <p class="govuk-body">
        If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille, email <%= mail_to t("claims.support_email") %>. We’ll consider your request and get back to you in 5 working days.
      </p>

      <h2 class="govuk-heading-m">
        Reporting accessibility problems with this website
      </h2>

      <p class="govuk-body">
        We're always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we're not meeting accessibility requirements, email <%= mail_to t("claims.support_email") %>. We’ll consider your request and get back to you in 5 working days.
      </p>

      <h2 class="govuk-heading-m">Enforcement procedure</h2>

      <p class="govuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, <%= govuk_link_to "contact the Equality Advisory and Support Service", "https://www.equalityadvisoryservice.com/", new_tab: true %>.
      </p>

      <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>

      <p class="govuk-body">
        The Department for Education is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
      </p>

      <h2 class="govuk-heading-m">Compliance status</h2>

      <p class="govuk-body">
        This website is partially compliant with the WCAG (Web Content Accessibility Guidelines) version 2.2 AA standard, due to the following non-compliances (and/or) the following exemptions.
      </p>

      <h4 class="govuk-heading-s">Non-compliance with the accessibility regulations</h4>

      <p class="govuk-body">
        Unsupported aria attributes. It is important to ensure that an element’s role supports its ARIA attributes. This does not meet <%= govuk_link_to "WCAG version 2.2 AA - 1.1.1 Non-text Content", "https://www.w3.org/TR/UNDERSTANDING-WCAG20/text-equiv-all.html", new_tab: true %>.
      </p>

      <p class="govuk-body">
        This issue is being tracked by the GOV.UK Design System team as part a wider issue beyond our service – our implementation currently follows their guidance and any future changes they recommend regarding this issue will be implemented in this service.
      </p>

      <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>

      <p class="govuk-body">
        We will continue to review feedback provided via the feedback link or through queries sent to <%= mail_to t("claims.support_email") %> to inform improvements to the service.
      </p>

      <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>

      <p class="govuk-body">
        This statement was prepared on 15/10/2024. It was last reviewed on 20/02/2025.
      </p>

      <p class="govuk-body">
        This website was last tested on 14/10/2024. The test was carried out by Zoonou. Zoonou used <%= govuk_link_to "WCAG-EM", "https://www.w3.org/TR/WCAG-EM/", new_tab: true %> to define the pages tested and test approach.
      </p>

      <p class="govuk-body">
        Accessibility statement version: 2.0.0
      </p>
    </div>
  </div>
</div>
