<% content_for :page_title, t(".page_title") %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l"><%= t(".page_title") %></h1>

      <h3 class="govuk-heading-s">Contents</h3>
      <ul class="govuk-list list--dash govuk-!-margin-bottom-8">
        <li><a class="govuk-link" href="#introduction">1. Introduction</a></li>
        <li><a class="govuk-link" href="#details-of-the-grant">2. Details of the grant</a></li>
        <li><a class="govuk-link" href="#eligibility">3. Eligibility</a></li>
        <li><a class="govuk-link" href="#conditions-of-funding">4. Conditions of funding</a></li>
        <li><a class="govuk-link" href="#funding">5. Funding</a></li>
        <li><a class="govuk-link" href="#payments">6. Payments</a></li>
        <li><a class="govuk-link" href="#variation">7. Variation</a></li>
        <li><a class="govuk-link" href="#recovery-of-funding">8. Recovery of funding</a></li>
        <li><a class="govuk-link" href="#assurance">9. Assurance</a></li>
        <li><a class="govuk-link" href="#annex-a--definition-of-areas">Annex A - definition of areas</a></li>
      </ul>

      <h2 class="govuk-heading-m" id="introduction">1. Introduction</h2>
      <p class="govuk-body">
        Best Practice Network (BPN) and National Institute of Teaching (NIoT) have adopted the <%= govuk_link_to("2024/25 ITT criteria", "https://www.gov.uk/government/publications/initial-teacher-training-criteria/initial-teacher-training-itt-criteria-and-supporting-advice") %> a year early to pilot the new Quality Requirements. As a result, all schools (early adopters) who have hosted a trainee for these providers will need to have introduced the general mentor role in the 2023/24 academic year. Mentors working in these schools will need to complete up to 20 hours of initial mentor training with these providers.
      </p>
      <p class="govuk-body">
        Early adopter schools can claim for the actual hours of training undertaken by the mentor to a maximum of 20 hours, per accredited provider during the 2023/24 academic year. <%= govuk_link_to("Guidance explaining the general mentor training", "https://www.gov.uk/government/publications/initial-teacher-training-reform-funding-guidance") %>, in addition to the lead mentor and intensive training and practice element of the ITT curriculum was updated in March 2024.
      </p>
      <p class="govuk-body">
        <%= govuk_link_to("Guidance explaining what schools need to do to offer ITT placements", "https://www.gov.uk/guidance/offer-a-trainee-teacher-placement") %> from September 2024, was published in November 2023.
      </p>

      <h2 class="govuk-heading-m" id="details-of-the-grant">2. Details of the grant</h2>
      <p class="govuk-body">This funding will help with the cost of mentors being away from the classroom while they train. This could include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>paying for someone to take over lessons while a mentor is training</li>
        <li>paying for someone to teach if a mentor takes time off in lieu to train</li>
        <li>overtime payment to the mentor, if they are training outside normal working hours (teacher workload should be carefully considered in such cases)</li>
        <li>paying for any costs that come from reducing a mentor’s other responsibilities so they have time to train</li>
      </ul>
      <p class="govuk-body">This funding applies to early adopter schools that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>offer placements to ITT trainees, including special schools, pupil referral units, independent schools, early years settings and further education organisations</li>
        <li>have mentors working with ITT trainees who started or returned to their training at any time between 1 September 2023 and 31 May 2024 (1 June 2023 for apprenticeship trainees)</li>
        <li>have mentors that intended to work with ITT trainees who would have started their training any time between 1 September 2023 and 31 May 2024 (1 June for apprenticeship trainees), but the provider was unable to place the trainee/ the trainee withdrew after the mentor training took place.</li>
      </ul>

      <h2 class="govuk-heading-m" id="eligibility">3. Eligibility</h2>
      <p class="govuk-body">Any type of institution within England that hosted an ITT trainee on a course where the accredited provider was BPN or NIoT; or intended to host an ITT trainee on a BPN or NIoT course leading to the award of QTS (except Assessment Only), is eligible to claim funding, including special schools, pupil referral units, early years settings, further education organisations and independent schools.</p>
      <h3 class="govuk-heading-m">Placement duration</h3>
      <p class="govuk-body">There is no minimum placement duration for an organisation to submit a claim for general mentor funding.</p>
      <h3 class="govuk-heading-m">Eligible type of training</h3>
      <p class="govuk-body">Funding can be used to cover a variety of training, including virtual, face to face and asynchronous.</p>
      <h3 class="govuk-heading-m">School location</h3>
      <p class="govuk-body">Only educational organisations located in England are eligible to apply for this grant funding.</p>
      <h3 class="govuk-heading-m">Mentors who cannot continue with mentoring</h3>
      <p class="govuk-body">An early adopter school can claim funding when a mentor starts their initial training between 6 April 2023 and 31 May 2024, begins mentoring a trainee but then cannot continue mentoring for any reason. The school should arrange a new mentor for the trainee. The school can claim funding for both mentors if they both started their training between 6 April 2023 and 31 May 2024.</p>
      <h3 class="govuk-heading-m">Mentors training with different providers</h3>
      <p class="govuk-body">Each accredited ITT provider can develop their own mentor training, which can result in different training for mentors working with different providers. If a school hosts trainees from different providers, a mentor might have to undertake their initial mentor training with each provider, but accredited ITT providers should consider prior training when deciding what aspects of their mentor training a mentor should complete.</p>
      <p class="govuk-body">Early adopter schools can claim funding for the time a mentor spends training at each provider.</p>
      <p class="govuk-body">For schools to claim this funding, a mentor must have worked with a trainee who started or intended to start their ITT in the 2023/24 academic year (between 1 September 2023 and 31 May 2024, 1 June 2023 for apprenticeship trainees). Schools must ensure a trainee has one dedicated mentor during their placement (unless the mentor works in a job-share). Other teachers may support elements of the trainee’s placement, but schools can only claim funding for the training time of the trainee’s dedicated mentor.</p>
      <p class="govuk-body">This funding is not available to schools if a mentor only works with high potential initial teacher training (HPITT) trainees, as funding is provided separately for such mentors.</p>
      <h3 class="govuk-heading-m">Mentors working with multiple schools</h3>
      <p class="govuk-body">Mentors can work with multiple schools while undertaking their training. For example, if a mentor is working across multiple schools in a trust then those schools can only claim for a total of 20 hours of funding per mentor with a single accredited ITT provider.</p>
      <p class="govuk-body">For instance, if school A claimed 10 hours of funding for mentor A, with provider A, then school B could only claim 10 hours for mentor A, with provider A. If school A claimed 20 hours of funding for mentor A, with provider A, then school B could not claim any funding for mentor A with provider A.</p>
      <h3 class="govuk-heading-m">Trainees that defer or withdraw from their training</h3>
      <p class="govuk-body">Early adopter schools can claim mentor funding if a mentor works with a trainee who:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>deferred in a previous academic year and then returns to their course in the 2023/24 academic year for any time on school placement</li>
        <li>defers or withdraws after a mentor has started their initial mentor training – mentors can continue with their training if they commit to being a mentor in the following academic year</li>
      </ul>
      <p class="govuk-body">Schools cannot claim funding if a trainee withdraws or defers before a mentor starts their training, after the 23/24 academic year has started.</p>
      <p class="govuk-body">If the mentor undertook their training before the start of the 23/24 academic year, and a trainee subsequently withdraws or defers, schools can claim funding for the total amount of training but may be required to submit evidence of organising a placement for a trainee.</p>
      <p class="govuk-body">If a trainee withdraws mid-year, the school, accredited provider and the mentor can decide whether the mentor completes the training. The school can claim funding for the total amount of training undertaken.</p>

      <h2 class="govuk-heading-m" id="conditions-of-funding">4. Conditions of funding</h2>
      <p class="govuk-body">Early adopter schools will be able to claim this funding at the end of the 2023/24 academic year and will be paid in arrears between September 2024 and January 2025. When schools make a claim, DfE will not ask for evidence where the information provided can be validated through its services including, but not limited to, Publish teacher training courses, Register trainee teachers and Get information about schools. Where this information cannot be validated, as part of the claim process, DfE may ask for evidence of:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a mentor’s employment at the school, such as a copy of their employment contract or payslips from the 2024/25 academic year</li>
        <li>arranging placements at their school for ITT trainees, such as communication with providers</li>
        <li>the number of hours of initial mentor training completed</li>
        <li>the accredited provider and lead mentor who delivered the training</li>
      </ul>
      <p class="govuk-body">Where evidence is not required at the point of claim, schools must ensure that they retain it should DfE request to view it, as part of assurance checks.</p>
      <p class="govuk-body">DfE may also ask the accredited provider who delivered the general mentor training to provide evidence of:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the number of hours of training each general mentor received</li>
        <li>the name of the mentor</li>
        <li>the workplace of the mentor</li>
      </ul>
      <p class="govuk-body">DfE will inform organisations of all the claims where they are listed as the accredited ITT provider.</p>
      <p class="govuk-body">For an early adopter school to claim this funding, the mentor must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>be employed by the school making the claim</li>
        <li>undertake up to 20 hours of initial mentor training, per accredited ITT provider</li>
        <li>mentor at least one trainee, or intended to mentor a trainee (as evidenced by schools arranging placements for ITT trainees at their schools)</li>
      </ul>
      <p class="govuk-body">Mentor training typically takes place at the start of the academic year or during the preceding summer term. In some instances, training can take place later than the start of the autumn term due to some courses starting later. Mentors can start their initial mentor training between 6 April 2023 and 31 May 2024 for courses starting in the 2023/24 academic year.</p>
      <p class="govuk-body">To claim funding for training that began in advance of the 23/24 academic year, early adopter schools may need to provide evidence of agreeing to host placements at their school for ITT trainees, such as communication with providers to organise this. This evidence may be requested where a mentor did not mentor a trainee during the academic year.</p>
      <p class="govuk-body">Schools can only claim funding for one mentor per trainee, unless the mentor withdraws. If the mentor role is undertaken by staff on a job-share basis then the school can claim full funding for both staff members.</p>
      <p class="govuk-body">The funding can be used to cover costs incurred by the school in implementing the general mentor role, including backfill of the mentor whilst they were training.</p>
      <p class="govuk-body">These specific grant conditions are in addition to the <%= govuk_link_to("standard grant terms and conditions", "https://www.gov.uk/government/publications/grant-funding-agreement-terms-and-conditions") %>.</p>

      <h2 class="govuk-heading-m" id="funding">5. Funding</h2>
      <p class="govuk-body">The amount of funding early adopter schools will receive depends on:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the location of the school (recognising the different costs in different areas of the country)</li>
        <li>how many hours a mentor has spent training (which can be up to a maximum of 20 hours, per accredited ITT provider)</li>
      </ul>
      <p class="govuk-body">Check the location of your school in <a href="#annex-a--definition-of-areas">Annex A</a>.</p>
      <p class="govuk-body">For each mentor that completes the full 20 hours of training, the table below sets out how much a school can claim.</p>
      <p class="govuk-body">If a mentor undertakes fewer than 20 hours of training, the funding is calculated per hour. For example, if a mentor in a school outside London completed 10 hours of training, the school can claim £438. This is calculated at £43.80 (per hour) x 10 (hours of training).</p>

      <%= govuk_table do |table| %>
        <% table.with_head do |head| %>
          <% head.with_row do |row| %>
            <% row.with_cell(header: true, text: "Funding available per mentor") %>
            <% row.with_cell(header: true, text: "Funding period") %>
            <% row.with_cell(header: true, text: "Recipient of funding") %>
            <% row.with_cell(header: true, text: "How is it paid") %>
          <% end %>
        <% end %>

        <% table.with_body do |body| %>
          <% body.with_row do |row| %>
            <% row.with_cell do %>
              Up to £876 (£43.80 per hour) — for schools outside London (the rest of England)<br><br>Up to £902 (£45.10 per hour) — for schools in the fringe region (the area between Outer London and the rest of England)<br><br>Up to £965 (£48.25 per hour) — for schools in Outer London<br><br>Up to £1,072 (£53.60 per hour) — for schools in Inner London
            <% end %>
            <% row.with_cell do %>
              Academic year 2023/24
            <% end %>
            <% row.with_cell do %>
              Schools who host ITT trainees
            <% end %>
            <% row.with_cell do %>
              Payments will be made in arrears based on the number of hours of training<br><br>Schools will be able to claim this funding at the end of the 2024/25 academic year
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <h2 class="govuk-heading-m" id="payments">6. Payments</h2>
      <p class="govuk-body">Payments will be made in arrears from September 2024. Early adopter schools will be able to submit a claim via a new GOV.UK service. The service will open in May 2024 and schools will be able to submit their claims once their trainees have completed their courses and been awarded qualified teacher status (QTS).</p>
      <p class="govuk-body">Early adopter schools must complete their claims by the end of July to receive payment from the Educational and Skills Funding Agency (ESFA) in late September/early October. If schools miss the payment window, they will be able to submit a claim in September, with payment being made in December 2024.</p>
      <p class="govuk-body">If you would like additional information about the payments email <%= govuk_mail_to("ittmentor.funding@education.gov.uk") %>.</p>

      <h2 class="govuk-heading-m" id="variation">7. Variation</h2>
      <p class="govuk-body">These conditions of grant may be altered at any time. Participating institutions will be notified of this through existing channels.</p>

      <h2 class="govuk-heading-m" id="recovery-of-funding">8. Recovery of funding</h2>
      <p class="govuk-body">This funding is being provided under sections 14 of the Education Act 2002 and we reserve the right to audit the expenditure.</p>
      <p class="govuk-body">We may seek to recover funding that has been paid in error or has not been used for the intended purpose.</p>
      <p class="govuk-body">Recoveries will be made by invoice or by offsetting the amount against subsequent payments due from DfE.</p>
      <p class="govuk-body">The recipient must notify DfE immediately through the <% govuk_mail_to("ittmentor.funding@education.gov.uk") %> email if it becomes aware of any instance of error, suspected fraud or financial irregularity in the use of the funds.</p>

      <h2 class="govuk-heading-m" id="assurance">9. Assurance</h2>
      <p class="govuk-body">DfE have a responsibility to make sure that public funds are properly managed in line with these grant conditions. As payment will be made in arrears, DfE reserve the right to ask schools to confirm that the money has been or will be spent in the way intended. Acceptance of the funding will be taken as confirmation.</p>
      <p class="govuk-body">DfE will conduct due diligence on applications received, validating the information provided as detailed in Section 4 of these conditions.</p>
      <p class="govuk-body">DfE will undertake further assurance on a random sample of at least ten percent of the value of the grant funding paid to schools and may ask for evidence of the stated expenditure.</p>
      <p class="govuk-body">Schools should ensure that they retain evidence of expenditure claimed for as required for implementing the general mentor role, including backfill of the mentor whilst they were training. Evidence could include invoices, salary statements, timetables and registers, but we will not mandate what form this record should take, and trust school leaders to use their judgement.</p>
      <p class="govuk-body">Accredited ITT providers must also retain evidence of the general mentor training delivered, including the number of hours of training undertaken by the school-based mentor and as part of assurance will be asked to provide this evidence to DfE.</p>

      <h2 class="govuk-heading-m" id="annex-a--definition-of-areas">Annex A – definition of areas</h2>
      <h3 class="govuk-heading-m" id="inner-london-area">Inner London Area</h3>
      <p class="govuk-body">“the Inner London Area” means the area comprising the London boroughs of Barking and Dagenham, Brent, Camden, City of London, Ealing, Greenwich, Hackney, Hammersmith and Fulham, Haringey, Islington, Kensington and Chelsea, Lambeth, Lewisham, Merton, Newham, Southwark, Tower Hamlets, Wandsworth and Westminster.</p>
      <h3 class="govuk-heading-m" id="london-area">London Area</h3>
      <p class="govuk-body">“the London Area” comprises the Inner London Area, the Outer London Area and the Fringe Area.</p>
      <h3 class="govuk-heading-m" id="fringe-area">Fringe Area</h3>
      <p class="govuk-body">“the Fringe Area” means: a) in Berkshire – the Districts of Bracknell Forest, Slough and Windsor and Maidenhead; b) in Buckinghamshire – the Districts of South Buckinghamshire and Chiltern; c) in Essex – the Districts of Basildon, Brentwood, Epping Forest, Harlow and Thurrock; d) in Hertfordshire – the Districts of Broxbourne, Dacorum, East Hertfordshire, Hertsmere, St Albans, Three Rivers, Watford and Welwyn Hatfield; e) in Kent – the Districts of Dartford and Sevenoaks; f) in Surrey – the whole county; and g) in West Sussex – the District of Crawley.</p>
      <h3 class="govuk-heading-m" id="outer-london-area">Outer London Area</h3>
      <p class="govuk-body">“the Outer London Area” means the area comprising the London boroughs of Barnet, Bexley, Bromley, Croydon, Enfield, Harrow, Havering, Hillingdon, Hounslow, Kingston-upon-Thames, Redbridge, Richmond-upon-Thames, Sutton and Waltham Forest.</p>
      <h3 class="govuk-heading-m" id="rest-of-england">Rest of England</h3>
      <p class="govuk-body">“the Rest of England” covers the localities beyond the areas above.</p>
    </div>
  </div>
</div>
