<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Claim funding for mentor training</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        Use this service to make a claim for the time spent becoming an initial teacher training (ITT) mentor.
      </p>

      <h2 class="govuk-heading-m">Who can use this service</h2>

      <p class="govuk-body">
        You can use this service if you are a school or education organisation that:
      </p>

      <%= govuk_list type: :bullet do %>
        <li>offers ITT placements with an accredited provider</li>
        <li>has at least one team member who has started or is due to start their ITT mentor training</li>
        <li>is registered with <%= govuk_link_to "Get information about schools (GIAS)", "https://get-information-schools.service.gov.uk" %></li>
      <% end %>

      <%= govuk_inset_text do %>
        This funding is not available for training early career framework (ECF) mentors. To claim for ECF mentors, <%= govuk_link_to "you need a different service", "https://manage-training-for-early-career-teachers.education.gov.uk" %>.
      <% end %>

      <h2 class="govuk-heading-m">When to submit a claim</h2>

      <p class="govuk-body">For the school year starting September 2024:</p>

      <%= govuk_list type: :bullet do %>
        <li>you can add your ITT mentor training hours and submit a claim from May 2025</li>
        <li>when you are registered in the service, we will email you reminders of claim opening dates and deadlines</li>
      <% end %>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">You will be asked for:</p>

      <%= govuk_list type: :bullet do %>
        <li>the name of your accredited ITT provider</li>
        <li>your mentors’ teacher reference numbers (TRN)</li>
        <li>your mentors’ dates of birth</li>
        <li>completed training hours - you should check these with your provider</li>
      <% end %>

      <p class="govuk-body">To access this service, you will be asked to sign in or create a Department for Education (DfE) Sign-in account. DfE Sign-in is how schools and other education organisations access DfE online services.</p>

      <%= govuk_start_button text: "Start now", href: sign_in_path, classes: "govuk-!-margin-top-4" %>

      <h2 class="govuk-heading-m">Get a claim funding for mentor training account</h2>

      <p class="govuk-body">
        Most eligible organisations will automatically be set up with an account to claim funding for mentor training.
      </p>

      <p class="govuk-body">
        If you cannot access your organisation’s account, you may need to ask a colleague to add you.
      </p>

      <p class="govuk-body">
        If your organisation is eligible but has not been set up with an account, send an email to <%= mail_to t("claims.support_email"), t("claims.support_email_html") %>. You will get a response within 5 working days.
      </p>

      <% if service_updates.any? %>
        <h2 class="govuk-heading-m">Latest news and updates</h2>

        <%= govuk_list type: :bullet do |list| %>
          <% service_updates.each do |service_update| %>
            <%= tag.li govuk_link_to(service_update["title"], claims_service_updates_path(anchor: service_update["title"].parameterize)) %>
          <% end %>
        <% end %>

        <p class="govuk-body">
          <%= govuk_link_to "View all news and updates", claims_service_updates_path %>
        </p>
      <% end %>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related" role="complementary">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Related content</h2>

        <%= govuk_list do %>
          <li class="app-related__list-item">
            <%= govuk_link_to "Guidance for providers on initial teacher training (ITT)", "https://www.gov.uk/government/collections/initial-teacher-training" %>
          </li>
          <li class="app-related__list-item">
            <%= govuk_link_to "Find out what a teacher reference number (TRN) is and how to find or request a TRN", "https://www.gov.uk/guidance/teacher-reference-number-trn" %>
          </li>
        <% end %>
      </aside>
    </div>
  </div>
</div>
