<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl"><%= t(".page_title") %></h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body"><%= t(".claim_guidance") %></p>
      <p class="govuk-body"><%= t(".training_guidance") %></p>

      <h2 class="govuk-heading-m"><%= t(".before_you_start") %></h2>
      <p class="govuk-body"><%= t(".you_will_be_asked") %></p>
      <ul class="govuk-list govuk-list--bullet">
        <li><%= t(".itt_provider") %></li>
        <li><%= t(".trn") %></li>
        <li><%= t(".hours_of_training") %></li>
      </ul>

      <%= govuk_start_button(text: t(".start_now"), href: sign_in_path) %>

      <h2 class="govuk-heading-m"><%= t(".get_an_account") %></h2>
      <p class="govuk-body"><%= t(".account_guidance") %></p>
      <p class="govuk-body">
        <%= t(
          ".setup_organisation_guidance_html",
          link_to: govuk_mail_to(t("claims.support_email")),
        ) %>
      </p>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related" role="complementary">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2"><%= t(".related_content") %></h2>

        <ul class="govuk-list">
          <li class="app-related__list-item">
            <%= govuk_link_to t(".provider_guidance_link"), "https://www.gov.uk/government/collections/initial-teacher-training" %>
          </li>
          <li class="app-related__list-item">
            <%= govuk_link_to t(".trn_guidance_link"), "https://www.gov.uk/guidance/teacher-reference-number-trn" %>
          </li>
        </ul>
      </aside>
    </div>
  </div>
</div>
