<% content_for :page_title, t(".page_title") %>
<% render "claims/support/primary_navigation", current: :claims %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: claims_support_payments_claim_path(@claim)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= t(".page_caption", reference: @claim.reference) %></span>
      <h1 class="govuk-heading-l"><%= t(".page_title") %></h1>

      <p class="govuk-body"><%= t(".description") %></p>

      <%= govuk_warning_text text: t(".warning") %>

      <%= govuk_button_to t(".submit"), information_sent_claims_support_payments_claim_path(@claim), method: :put %>

      <p class="govuk-body">
        <%= govuk_link_to t(".cancel"), claims_support_payments_claim_path(@claim), no_visited_state: true %>
      </p>
    </div>
  </div>
</div>
