<% content_for :page_title, mentors_step.errors.any? ? t(".title_with_error") : t(".title") %>

<%= form_for(mentors_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l"><%= t(".add_placement") %></span>

        <%= f.govuk_check_boxes_fieldset :mentor_ids, legend: { size: "l", text: t(".mentor") } do %>
          <% mentors_step.mentors_for_selection.each do |mentor| %>
            <%= f.govuk_check_box :mentor_ids, mentor.id, label: { text: mentor.full_name } %>
          <% end %>
          <%= f.govuk_check_box_divider %>
          <%= f.govuk_check_box :mentor_ids, "not_known", label: { text: t(".not_known") }, exclusive: true %>
        <% end %>

        <%= govuk_details(
          summary_text: t(".mentor_not_listed"),
          text: embedded_link_text(
            t(".you_need_to_add_a_mentor",
              link: govuk_link_to(
                t(".add_a_mentor"), new_mentor_path, no_visited_state: true
              )),
          ),
        ) %>

        <%= f.govuk_submit t(".continue") %>
      </div>
    </div>
<% end %>
