<% content_for :page_title, phase_step.errors.any? ? t(".title_with_error") : t(".title") %>

<%= form_for(phase_step, url: current_step_path, method: :put) do |f| %>
  <%= f.govuk_error_summary %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= t(".add_placement") %></span>

      <%= f.govuk_collection_radio_buttons(
        :phase,
        phase_step.phases_for_selection,
        :name, :name,
        legend: { size: "l", text: t(".phase") }
      ) %>

      <%= f.govuk_submit t(".continue") %>
    </div>
  </div>
<% end %>
