<%= content_for :page_title, sanitize(t(".page_title", school_name: @school.name)) %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(
    href: new_claims_support_school_user_path(
      @user_form.as_form_params.merge(school_id: @school.id),
    ),
  ) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with(model: @user_form, url: claims_support_school_users_path, method: :post) do |f| %>
        <%= f.hidden_field :first_name, value: @user_form.first_name %>
        <%= f.hidden_field :last_name, value: @user_form.last_name %>
        <%= f.hidden_field :email, value: @user_form.email %>

        <label class="govuk-label govuk-label--l">
          <span class="govuk-caption-l"><%= t(".caption", school_name: @school.name) %></span>
          <%= t(".title") %>
        </label>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"><%= t(".first_name") %></dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><%= @user_form.first_name %></p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <%= govuk_link_to(t(".change"),
                    new_claims_support_school_user_path(
                      @user_form.as_form_params.merge(school_id: @school.id),
                    ),
                    no_visited_state: true) %>
                </li>
              </ul>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"><%= t(".last_name") %></dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><%= @user_form.last_name %></p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <%= govuk_link_to(t(".change"),
                    new_claims_support_school_user_path(
                      @user_form.as_form_params.merge(school_id: @school.id),
                    ),
                    no_visited_state: true) %>
                </li>
              </ul>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key"><%= t(".email") %></dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"><%= @user_form.email %></p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <ul class="govuk-summary-list__actions-list">
                <li class="govuk-summary-list__actions-list-item">
                  <%= govuk_link_to(t(".change"),
                    new_claims_support_school_user_path(
                      @user_form.as_form_params.merge(school_id: @school.id),
                    ),
                    no_visited_state: true) %>
                </li>
              </ul>
            </dd>
          </div>
        </dl>

        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text"><%= t(".warning", school_name: @school.name) %></strong>
        </div>

        <%= f.govuk_submit t(".add_user") %>

        <p class="govuk-body">
          <%= govuk_link_to(t(".cancel"), claims_support_school_users_path(@school)) %>
        </p>
      <% end %>
    </div>
  </div>
</div>
