<% render "claims/support/primary_navigation", current: :organisations %>
<% content_for(:before_content) do %>
  <%= govuk_back_link(href: claims_support_school_users_path(@school)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l"><%= @school.name %></span>
      <h2 class="govuk-heading-l"><%= @user.full_name %></h2>

      <%= govuk_summary_list do |summary_list| %>
        <% summary_list.with_row do |row| %>
          <% row.with_key(text: User.human_attribute_name(:first_name)) %>
          <% row.with_value(text: @user.first_name) %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: User.human_attribute_name(:last_name)) %>
          <% row.with_value(text: @user.last_name) %>
        <% end %>

        <% summary_list.with_row do |row| %>
          <% row.with_key(text: User.human_attribute_name(:email)) %>
          <% row.with_value(text: @user.email) %>
        <% end %>
      <% end %>

      <%= govuk_link_to t(".remove_user"), remove_claims_support_school_user_path(@school, @user), class: "app-link app-link--destructive" %>
    </div>
  </div>
</div>
