<% content_for(:page_title) { t(".page_title", user_name: @support_user.full_name) } %>

<%= render "placements/support/primary_navigation", current_navigation: :users %>

<%= content_for(:before_content) do %>
  <%= govuk_back_link(href: placements_support_support_user_path(@support_user)) %>
<% end %>

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <%= form_with(model: @support_user, scope: :support_user, url: placements_support_support_user_path(@support_user), method: :delete) do |f| %>

        <span class="govuk-caption-l"><%= @support_user.full_name %></span>
        <h1 class="govuk-heading-l"><%= t(".title") %></h1>

        <%= govuk_warning_text(text: t(".warning")) %>
        <%= f.govuk_submit t(".submit"), warning: true %>

        <p class="govuk-body">
          <%= govuk_link_to(t(".cancel"), placements_support_support_users_path, no_visited_state: true) %>
        </p>
      <% end %>
    </div>
  </div>
</div>
