<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <title><%= [yield(:page_title).presence, service_name, "GOV.UK"].compact.join(" - ") %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag.meta(name: "viewport", content: "width=device-width, initial-scale=1") %>
    <%= tag.meta(property: "og:image", content: asset_path("images/govuk-opengraph-image.png")) %>
    <%= tag.meta(name: "theme-color", content: "#0b0c0c") %>
    <%= favicon_link_tag asset_path("images/favicon.ico"), type: nil, sizes: "48x48" %>
    <%= favicon_link_tag asset_path("images/favicon.svg"), type: "image/svg+xml", sizes: "any" %>
    <%= favicon_link_tag asset_path("images/govuk-icon-mask.svg"), rel: "mask-icon", color: "#0b0c0c", type: nil %>
    <%= favicon_link_tag asset_path("images/govuk-icon-180.png"), rel: "apple-touch-icon", type: nil %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="govuk-template__body">
    <script nonce="<%= content_security_policy_nonce %>">
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <%= govuk_skip_link %>

    <%= govuk_header(homepage_url: "/", classes: "app-header app-header--#{hosting_environment_color} app-header--full-border") do |header| %>
      <% header.with_product_name(name: service_name) %>

      <% if current_user %>
        <% if current_service == :claims %>
          <% header.with_navigation_item(text: t(".your_account"), href: account_path) %>
        <% end %>
        <% header.with_navigation_item(text: t(".sign_out"), href: sign_out_path) %>
      <% end %>
    <% end %>

    <div class="govuk-width-container">
      <%= govuk_phase_banner(tag: { text: hosting_environment_phase(current_service), colour: hosting_environment_color }, classes: [class_names("app-phase-banner", "app-phase-banner__env--#{HostingEnvironment.env}", "app-phase-banner--no-border-bottom": content_for(:no_phase_banner_border) || support_controller?)]) do %>
        <%== t(".#{current_service}.phase_banner.description", feedback_link: govuk_link_to(t(".#{current_service}.phase_banner.feedback"), feedback_url, target: "_blank", rel: "noreferrer", class: "govuk-link--no-visited-state")) %>
      <% end %>

      <%= yield :header_content %>
    </div>

    <%= yield :primary_navigation_content %>

    <% if content_for?(:breadcrumbs) %>
      <%= tag.div yield(:breadcrumbs), class: "govuk-width-container" %>
    <% end %>

    <div class="govuk-width-container">
      <%= yield :before_content %>
    </div>

    <main class="govuk-main-wrapper" id="main-content" role="main">
      <div class="govuk-width-container">
        <% unless flash.empty? %>
          <%= render "layouts/notification_banner" %>
        <% end %>
      </div>

      <%= yield %>
    </main>

    <%= render "layouts/footer" %>
  </body>
</html>
