<!DOCTYPE html>
<html lang="en" class="govuk-template">
  <head>
    <title><%= [yield(:page_title).presence, service_name].compact.join(" - ") %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= tag.meta(name: "viewport", content: "width=device-width, initial-scale=1") %>
    <%= tag.meta(property: "og:image", content: asset_path("images/govuk-opengraph-image.png")) %>
    <%= tag.meta(name: "theme-color", content: "#0b0c0c") %>
    <%= favicon_link_tag asset_path("images/favicon.ico"), type: nil, sizes: "48x48" %>
    <%= favicon_link_tag asset_path("images/favicon.svg"), type: "image/svg+xml", sizes: "any" %>
    <%= favicon_link_tag asset_path("images/govuk-icon-mask.svg"), rel: "mask-icon", color: "#0b0c0c", type: nil %>
    <%= favicon_link_tag asset_path("images/govuk-icon-180.png"), rel: "apple-touch-icon", type: nil %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="govuk-template__body">
    <script>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    <%= govuk_skip_link %>

    <%= govuk_header(homepage_url: "/") do |header| %>
      <% header.with_product_name(name: service_name) %>

      <% if current_user %>
        <% header.with_navigation_item(text: "Your Account", href: account_path) %>
        <% header.with_navigation_item(text: "Sign Out", href: sign_out_path) %>
      <% end %>
    <% end %>

    <div class="app-phase-banner app-phase-banner__env--<%= HostingEnvironment.name(current_service) %>">
      <div class="govuk-width-container">
        <%= govuk_phase_banner(tag: { text: HostingEnvironment.name(current_service) }, classes: [class_names("govuk-phase-banner--no-border-bottom": support_controller?)]) do %>
          <%= govuk_link_to HostingEnvironment.banner_description(current_service), request.env["PATH_INFO"], class: "govuk-link--no-visited-state" %>
        <% end %>
      </div>
    </div>

    <% if support_controller? %>
      <%= render PrimaryNavigationComponent.new do |component| %>
        <% component.with_navigation_item t(".#{current_service}.primary_navigation.organisations"), support_organisations_path %>
        <% component.with_navigation_item t(".#{current_service}.primary_navigation.claims"), claims_support_claims_path if current_service == :claims %>
        <% component.with_navigation_item t(".#{current_service}.primary_navigation.users"), support_users_path %>
      <% end %>
    <% end %>

    <div class="govuk-width-container">
      <%= yield :header_content %>
      <%= yield :before_content %>
    </div>

    <div class="govuk-width-container">
      <% flash.each do |key, message| %>
        <div class="govuk-!-margin-top-6 govuk-!-margin-bottom-0">
          <%= render(GovukComponent::NotificationBannerComponent.new(title_text: t(".success"), success: true)) do %>
            <h3 class="govuk-heading-m"><%= message %></h3>
          <% end %>
        </div>
      <% end %>
    </div>

    <main class="govuk-main-wrapper" id="main-content" role="main">
      <%= yield %>
    </main>

    <%= govuk_footer %>
  </body>
</html>
